<div class="add__steps js-add-steps">
    <div class="add__steps-content">
        <div class="add__steps-links">
            <a href="add-1.html" class="add__steps-link active">

                Первый<br>
                экран
            </a>
            <a href="add-2.html" class="add__steps-link">
                <svg width="18" height="18" aria-hidden="true" class="icon-unlocked">
                    <use xlink:href="#unlocked"></use>
                </svg>
                описание <br>
                франшизы
            </a>
            <a href="#" class="add__steps-link">
                <svg width="18" height="18" aria-hidden="true" class="icon-unlocked">
                    <use xlink:href="#unlocked"></use>
                </svg>
                требуемые <br>
                компетенции
            </a>
            <a href="#" class="add__steps-link disabled">
                <svg width="18" height="18" aria-hidden="true" class="icon-locked">
                    <use xlink:href="#locked"></use>
                </svg>
                о продукте
            </a>
            <a href="#" class="add__steps-link">
                <svg width="18" height="18" aria-hidden="true" class="icon-unlocked">
                    <use xlink:href="#unlocked"></use>
                </svg>
                состав <br>
                франшизы
            </a>
            <a href="#" class="add__steps-link">
                <svg width="18" height="18" aria-hidden="true" class="icon-unlocked">
                    <use xlink:href="#unlocked"></use>
                </svg>
                о преимуществах
            </a>
            <a href="#" class="add__steps-link">
                <svg width="18" height="18" aria-hidden="true" class="icon-unlocked">
                    <use xlink:href="#unlocked"></use>
                </svg>
                управляющая<br> компания
            </a>
            <a href="#" class="add__steps-link">
                <svg width="18" height="18" aria-hidden="true" class="icon-unlocked">
                    <use xlink:href="#unlocked"></use>
                </svg>
                география
            </a>
            <a href="#" class="add__steps-link">
                <svg width="18" height="18" aria-hidden="true" class="icon-unlocked">
                    <use xlink:href="#unlocked"></use>
                </svg>
                финансовые<br> условия
            </a>
            <a href="#" class="add__steps-link disabled">
                <svg width="18" height="18" aria-hidden="true" class="icon-locked">
                    <use xlink:href="#locked"></use>
                </svg>
                пример расчета<br> прибыли
            </a>
            <a href="#" class="add__steps-link disabled">
                <svg width="18" height="18" aria-hidden="true" class="icon-locked">
                    <use xlink:href="#locked"></use>
                </svg>
                Форма<br> обратной связи
            </a>
            <a href="#" class="add__steps-link disabled">
                <svg width="18" height="18" aria-hidden="true" class="icon-locked">
                    <use xlink:href="#locked"></use>
                </svg>
                отзывы
            </a>
            <a href="#" class="add__steps-link">
                <svg width="18" height="18" aria-hidden="true" class="icon-unlocked">
                    <use xlink:href="#unlocked"></use>
                </svg>
                сми <br>
                о нас
            </a>

            <a href="#" class="add__steps-link disabled">
                <svg width="18" height="18" aria-hidden="true" class="icon-locked">
                    <use xlink:href="#locked"></use>
                </svg>
                Как мы<br> работаем
            </a>
            <a href="#" class="add__steps-link disabled">
                <svg width="18" height="18" aria-hidden="true" class="icon-locked">
                    <use xlink:href="#locked"></use>
                </svg>
                видео
            </a>
            <a href="#" class="add__steps-link disabled">
                <svg width="18" height="18" aria-hidden="true" class="icon-locked">
                    <use xlink:href="#locked"></use>
                </svg>
                вопрос-ответ
            </a>
            <a href="#" class="add__steps-link disabled">
                <svg width="18" height="18" aria-hidden="true" class="icon-locked">
                    <use xlink:href="#locked"></use>
                </svg>
                основатели
            </a>
            <a href="#" class="add__steps-link disabled">
                <svg width="18" height="18" aria-hidden="true" class="icon-locked">
                    <use xlink:href="#locked"></use>
                </svg>
                франчайзи
            </a>

        </div>

    </div>

    <button class="add__steps-next-btn">
        <svg width="18" height="18" aria-hidden="true" class="icon-next-arrow">
            <use xlink:href="#next-arrow"></use>
        </svg>
    </button>

</div>