<footer class="page-footer">
    <div class="container">
        <div class="page-footer__grid">
            <div class="page-footer__action page-footer__action--blue">
                <h3 class="page-footer__action-heading">
                    для управляющих компаний
                </h3>
                <p class="page-footer__action-title-text">
                    Добавьте свою франшизу и 20 000 000 пользователей увидят ее
                </p>
                <a href="#" class="page-footer__action-link">
                    Добавить франшизу
                </a>
            </div>
            <div class="page-footer__action page-footer__action--black">
                <h3 class="page-footer__action-heading">
                    для предпринимателей
                </h3>
                <p class="page-footer__action-title-text">
                    Зарегистрируйтесь на сайте
                    и получайте лучшие предложения по франшизам
                </p>
                <a href="#" class="page-footer__action-link page-footer__action-link--blue">
                    Зарегестрироваться
                </a>
            </div>
            <div class="page-footer__nav-panel">
                <nav class="page-footer__bottom-nav">
                    <a href="#" class="page-footer__bottom-nav-link">
                        о проекте
                    </a>
                    <a href="#" class="page-footer__bottom-nav-link">
                        новости
                    </a>
                    <a href="#" class="page-footer__bottom-nav-link">
                        контакты
                    </a>
                    <a href="#" class="page-footer__bottom-nav-link">
                        вакансии
                    </a>
                </nav>
                <div class="page-footer__social">
                    <a href="#" class="page-footer__social-link">
                        <svg width="12" height="12" aria-hidden="true" class="icon-instagram">
                            <use xlink:href="#instagram"></use>
                        </svg>
                    </a>
                    <a href="#" class="page-footer__social-link">
                        <svg width="12" height="12" aria-hidden="true" class="icon-facebook">
                            <use xlink:href="#facebook"></use>
                        </svg>
                    </a>
                    <a href="#" class="page-footer__social-link">
                        <svg width="12" height="12" aria-hidden="true" class="icon-youtube">
                            <use xlink:href="#youtube"></use>
                        </svg>
                    </a>
                    <a href="#" class="page-footer__social-link">
                        <svg width="12" height="12" aria-hidden="true" class="icon-vk">
                            <use xlink:href="#vk"></use>
                        </svg>
                    </a>
                </div>
                <a href="#" class="page-footer__made-by">
                    <img src="img/markweber.svg" alt="" class="page-footer__made-by-logo" width="88">
                </a>
            </div>
        </div>

    </div>
</footer>