<header class="page-header">
    <div class="container">
        <div class="page-header__row">
            <div class="page-header__logo-menu-wrapper">
                <a href="#" class="page-header__logo">
                    <img src="img/logo.svg" alt="Логотип" class="page-header__logo-image" width="116">
                </a>
                <a href="#" class="page-header__mobile-user">
                    <svg width="12" height="12" aria-hidden="true" class="icon-user">
                        <use xlink:href="#user"></use>
                    </svg>
                </a>
                <a href="#" class="page-header__mobile-search">
                    <svg width="12" height="12" aria-hidden="true" class="icon-search">
                        <use xlink:href="#search"></use>
                    </svg>
                </a>
                <button class="page-header__burger">
                    <span class="page-header__burger-content">
                        <span></span>
                        <span></span>
                        <span></span>
                    </span>
                </button>
                <div class="page-header__logo-menu-dropdown">
                    <div class="page-header__logo-menu-dropdown-inner">
                        <nav class="page-header__logo-menu-navigation">
                            <a href="#" class="page-header__logo-menu-dropdown-link">
                                пользователи
                            </a>
                            <a href="#" class="page-header__logo-menu-dropdown-link">
                                франшизы
                            </a>
                            <a href="#" class="page-header__logo-menu-dropdown-link">
                                о проекте
                            </a>
                            <a href="#" class="page-header__logo-menu-dropdown-link">
                                поддержка
                            </a>
                        </nav>
                        <div class="page-header__logo-menu-contacts">
                            <div class="page-header__logo-menu-contacts-item">
                                <a href="mailto:help@mallfranshiz.ru" class="page-header__logo-menu-contacts-link">
                                    help@mallfranshiz.ru
                                </a>
                                <div class="page-header__logo-menu-contacts-item-description">
                                    Поддержка пользователей
                                </div>
                            </div>
                            <div class="page-header__logo-menu-contacts-item">
                                <a href="mailto:partner@mallfranshiz.ru" class="page-header__logo-menu-contacts-link">
                                    partner@mallfranshiz.ru
                                </a>
                                <div class="page-header__logo-menu-contacts-item-description">
                                    Партнерам
                                </div>
                            </div>
                            <div class="page-header__logo-menu-contacts-item">
                                <a href="mailto:marketing@mallfranshiz.ru" class="page-header__logo-menu-contacts-link">
                                    marketing@mallfranshiz.ru
                                </a>
                                <div class="page-header__logo-menu-contacts-item-description">
                                    СМИ и реклама
                                </div>
                            </div>

                        </div>
                        <a href="#" class="page-header__logo-menu-announcement">
                            <div class="page-header__logo-menu-announcement-image-container">
                                <img src="img/announcement.jpg" alt=""
                                    class="page-header__logo-menu-announcement-image">
                            </div>

                            Расскажем вам о нашей работе
                        </a>
                        <div class="page-header__logo-menu-social">
                            <a href="#" class="page-header__logo-menu-social-link">
                                <svg width="16" height="16" aria-hidden="true" class="icon-instagram">
                                    <use xlink:href="#instagram"></use>
                                </svg>
                            </a>
                            <a href="#" class="page-header__logo-menu-social-link">
                                <svg width="16" height="16" aria-hidden="true" class="icon-facebook">
                                    <use xlink:href="#facebook"></use>
                                </svg>
                            </a>
                            <a href="#" class="page-header__logo-menu-social-link">
                                <svg width="16" height="16" aria-hidden="true" class="icon-youtube">
                                    <use xlink:href="#youtube"></use>
                                </svg>
                            </a>
                            <a href="#" class="page-header__logo-menu-social-link">
                                <svg width="16" height="16" aria-hidden="true" class="icon-vk">
                                    <use xlink:href="#vk"></use>
                                </svg>
                            </a>
                        </div>
                    </div>
                </div>
            </div>



            <div class="page-header__search">
                <form action="/" method="GET" class="page-header__search-form">
                    <input type="search" class="page-header__search-input" name="q">
                    <button type="submit" class="page-header__search-submit">

                        <svg width="12" height="12" aria-hidden="true" class="icon-search">
                            <use xlink:href="#search"></use>
                        </svg>
                    </button>
                </form>
            </div>
            <div class="page-header__actions">
                <a href="#" class="page-header__actions-link active">
                    Найти франшизу
                </a>
                <a href="#" class="page-header__actions-link">
                    Добавить франшизу
                </a>
            </div>
            <div class="page-header__user">
                <a href="#" class="page-header__user-fav">
                    <svg width="12" height="12" aria-hidden="true" class="icon-rating-star">
                        <use xlink:href="#rating-star"></use>
                    </svg>
                    <div class="page-header__user-fav-count">
                        4
                    </div>
                </a>
                <a href="#" class="page-header__user-login">
                    Войти
                </a>
                <a href="#" class="page-header__user-register">
                    Зарегистрироваться
                </a>
            </div>
        </div>
    </div>
</header>