<header class="page-header">
    <div class="container">
        <div class="page-header__row">
            <div class="page-header__logo-menu-wrapper">
                <a href="#" class="page-header__logo">
                    <img src="img/logo.svg" alt="Логотип" class="page-header__logo-image" width="116">
                </a>
                
                
                <button class="page-header__burger">
                    <span class="page-header__burger-content">
                        <span></span>
                        <span></span>
                        <span></span>
                    </span>
                </button>
                <div class="page-header__logo-menu-dropdown">
                    <div class="page-header__logo-menu-dropdown-inner">
                        <nav class="page-header__logo-menu-navigation">
                            <a href="#" class="page-header__logo-menu-dropdown-link">
                                пользователи
                            </a>
                            <a href="#" class="page-header__logo-menu-dropdown-link">
                                франшизы
                            </a>
                            <a href="#" class="page-header__logo-menu-dropdown-link">
                                о проекте
                            </a>
                            <a href="#" class="page-header__logo-menu-dropdown-link">
                                поддержка
                            </a>
                        </nav>
                        <div class="page-header__logo-menu-contacts">
                            <div class="page-header__logo-menu-contacts-item">
                                <a href="mailto:help@mallfranshiz.ru" class="page-header__logo-menu-contacts-link">
                                    help@mallfranshiz.ru
                                </a>
                                <div class="page-header__logo-menu-contacts-item-description">
                                    Поддержка пользователей
                                </div>
                            </div>
                            <div class="page-header__logo-menu-contacts-item">
                                <a href="mailto:partner@mallfranshiz.ru" class="page-header__logo-menu-contacts-link">
                                    partner@mallfranshiz.ru
                                </a>
                                <div class="page-header__logo-menu-contacts-item-description">
                                    Партнерам
                                </div>
                            </div>
                            <div class="page-header__logo-menu-contacts-item">
                                <a href="mailto:marketing@mallfranshiz.ru" class="page-header__logo-menu-contacts-link">
                                    marketing@mallfranshiz.ru
                                </a>
                                <div class="page-header__logo-menu-contacts-item-description">
                                    СМИ и реклама
                                </div>
                            </div>

                        </div>
                        <a href="#" class="page-header__logo-menu-announcement">
                            <div class="page-header__logo-menu-announcement-image-container">
                                <img src="img/announcement.jpg" alt=""
                                    class="page-header__logo-menu-announcement-image">
                            </div>

                            Расскажем вам о нашей работе
                        </a>
                        <div class="page-header__logo-menu-social">
                            <a href="#" class="page-header__logo-menu-social-link">
                                <svg width="16" height="16" aria-hidden="true" class="icon-instagram">
                                    <use xlink:href="#instagram"></use>
                                </svg>
                            </a>
                            <a href="#" class="page-header__logo-menu-social-link">
                                <svg width="16" height="16" aria-hidden="true" class="icon-facebook">
                                    <use xlink:href="#facebook"></use>
                                </svg>
                            </a>
                            <a href="#" class="page-header__logo-menu-social-link">
                                <svg width="16" height="16" aria-hidden="true" class="icon-youtube">
                                    <use xlink:href="#youtube"></use>
                                </svg>
                            </a>
                            <a href="#" class="page-header__logo-menu-social-link">
                                <svg width="16" height="16" aria-hidden="true" class="icon-vk">
                                    <use xlink:href="#vk"></use>
                                </svg>
                            </a>
                        </div>
                    </div>
                </div>
            </div>



            <div class="page-header__search">
                <form action="/" method="GET" class="page-header__search-form">
                    <input type="search" class="page-header__search-input" name="q">
                    <button type="submit" class="page-header__search-submit">

                        <svg width="12" height="12" aria-hidden="true" class="icon-search">
                            <use xlink:href="#search"></use>
                        </svg>
                    </button>
                </form>
            </div>
            <div class="page-header__actions">
                <a href="#" class="page-header__actions-link active">
                    Найти франшизу
                </a>
                <a href="#" class="page-header__actions-link">
                    Добавить франшизу
                </a>
            </div>
            <div class="page-header__user">

                {{#if authorized}}
                <div class="page-header__notifications">
                    <a href="#" class="page-header__notifications-button" type="button">
                        <span class="page-header__notifications-icon">
                            <svg width="14" height="14" aria-hidden="true" class="icon-bell">
                                <use xlink:href="#bell"></use>
                            </svg>
                            <span class="page-header__notifications-count">
                                1
                            </span>
                        </span>

                    </a>
                    <div class="page-header__notifications-dropdown">
                        <div class="page-header__notifications-dropdown-inner">
                            <div class="page-header__notifications-wrapper">
                                <div class="page-header__notification recent">
                                    <div class="page-header__notification-top-row">
                                        <h5 class="page-header__notification-title">
                                            Заголовок уведомления
                                        </h5>
                                        <span class="page-header__notification-date">
                                            4.03.2020
                                        </span>
                                    </div>

                                    <div class="page-header__notification-text">
                                        Чио Чио является самой быстрорастущей сетью в салонном бизнесе. Ежемесячно
                                        запускается 40-50 парикмахерских.
                                    </div>
                                    <div class="page-header__notification-buttons">
                                        <a href="#" class="page-header__notification-button">
                                            принять
                                        </a>
                                        <a href="#"
                                            class="page-header__notification-button page-header__notification-button--white">
                                            отклонить
                                        </a>
                                    </div>
                                </div>
                                <div class="page-header__notification recent">
                                    <div class="page-header__notification-top-row">
                                        <h5 class="page-header__notification-title">
                                            Заголовок уведомления
                                        </h5>
                                        <span class="page-header__notification-date">
                                            4.03.2020
                                        </span>
                                    </div>

                                    <div class="page-header__notification-text">
                                        Чио Чио является самой быстрорастущей сетью в салонном бизнесе. Ежемесячно
                                        запускается 40-50 парикмахерских.
                                    </div>

                                </div>
                                <div class="page-header__notification">
                                    <div class="page-header__notification-top-row">
                                        <h5 class="page-header__notification-title">
                                            Заголовок уведомления
                                        </h5>
                                        <span class="page-header__notification-date">
                                            4.03.2020
                                        </span>
                                    </div>

                                    <div class="page-header__notification-text">
                                        Чио Чио является самой быстрорастущей сетью в салонном бизнесе. Ежемесячно
                                        запускается 40-50 парикмахерских.
                                    </div>
                                    <div class="page-header__notification-buttons">
                                        <a href="#" class="page-header__notification-button">
                                            принять
                                        </a>
                                        <a href="#"
                                            class="page-header__notification-button page-header__notification-button--white">
                                            отклонить
                                        </a>
                                    </div>
                                </div>
                                <div class="page-header__notification">
                                    <div class="page-header__notification-top-row">
                                        <h5 class="page-header__notification-title">
                                            Заголовок уведомления
                                        </h5>
                                        <span class="page-header__notification-date">
                                            4.03.2020
                                        </span>
                                    </div>

                                    <div class="page-header__notification-text">
                                        Чио Чио является самой быстрорастущей сетью в салонном бизнесе. Ежемесячно
                                        запускается 40-50 парикмахерских.
                                    </div>

                                </div>
                                <a href="#" class="page-header__notification-load-more">
                                    Показать еще
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="page-header__chat">
                    <a href="#" class="page-header__chat-button" type="button">
                        <div class="page-header__chat-icon">
                            <svg width="14" height="14" aria-hidden="true" class="icon-message">
                                <use xlink:href="#message"></use>
                            </svg>
                        </div>

                    </a>
                    <div class="page-header__chat-dropdown">
                        <div class="page-header__chat-dropdown-inner">
                            <button class="page-header__chat-close">
                                <svg width="14" height="14" aria-hidden="true" class="icon-chat-close">
                                    <use xlink:href="#chat-close"></use>
                                </svg>
                            </button>
                            <div class="page-header__chat-wrapper">
                                <div class="page-header__chat-type">
                                    <div class="custom-select">
                                        <select name="franchise" class="js-custom-select">
                                            <option value="Чио-Чио" selected>Чио-Чио</option>
                                            <option value="Чио-Чио">Чио-Чио</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="page-header__chat-messages">
                                    <div class="page-header__chat-my-message">
                                        <div class="page-header__chat-my-message-text">
                                            Тут сообщение показывающее примерную ширину и вид длинного сообщения
                                            отправленного мной.
                                        </div>
                                        <div class="page-header__chat-my-message-avatar">
                                            <img src="img/rustem.png" alt=""
                                                class="page-header__chat-my-message-avatar-image">
                                        </div>
                                    </div>
                                    <div class="page-header__chat-consultant-message">
                                        <div class="page-header__chat-consultant-message-avatar">

                                        </div>
                                        <div class="page-header__chat-consultant-message-text">
                                            Меня зовут Дмитрий Кукланов, я буду Вашим консультантом.
                                        </div>
                                    </div>

                                    <div class="page-header__chat-my-message">
                                        <div class="page-header__chat-my-message-text">
                                            Добрый день
                                        </div>
                                        <div class="page-header__chat-my-message-avatar">
                                            <img src="img/rustem.png" alt=""
                                                class="page-header__chat-my-message-avatar-image">
                                        </div>
                                    </div>
                                    <div class="page-header__chat-my-message">
                                        <div class="page-header__chat-my-message-text">
                                            Тут сообщение показывающее примерную ширину и вид длинного сообщения
                                            отправленного мной.
                                        </div>
                                        <div class="page-header__chat-my-message-avatar">
                                            <img src="img/rustem.png" alt=""
                                                class="page-header__chat-my-message-avatar-image">
                                        </div>
                                    </div>
                                    <div class="page-header__chat-consultant-message">
                                        <div class="page-header__chat-consultant-message-avatar">

                                        </div>
                                        <div class="page-header__chat-consultant-message-text">
                                            Меня зовут Дмитрий Кукланов, я буду Вашим консультантом.
                                        </div>
                                    </div>

                                    <div class="page-header__chat-my-message">
                                        <div class="page-header__chat-my-message-text">
                                            Добрый день
                                        </div>
                                        <div class="page-header__chat-my-message-avatar">
                                            <img src="img/rustem.png" alt=""
                                                class="page-header__chat-my-message-avatar-image">
                                        </div>
                                    </div>
                                    <div class="page-header__chat-my-message">
                                        <div class="page-header__chat-my-message-text">
                                            Тут сообщение показывающее примерную ширину и вид длинного сообщения
                                            отправленного мной.
                                        </div>
                                        <div class="page-header__chat-my-message-avatar">
                                            <img src="img/rustem.png" alt=""
                                                class="page-header__chat-my-message-avatar-image">
                                        </div>
                                    </div>
                                    <div class="page-header__chat-consultant-message">
                                        <div class="page-header__chat-consultant-message-avatar">

                                        </div>
                                        <div class="page-header__chat-consultant-message-text">
                                            Меня зовут Дмитрий Кукланов, я буду Вашим консультантом.
                                        </div>
                                    </div>

                                    <div class="page-header__chat-my-message">
                                        <div class="page-header__chat-my-message-text">
                                            Добрый день
                                        </div>
                                        <div class="page-header__chat-my-message-avatar">
                                            <img src="img/rustem.png" alt=""
                                                class="page-header__chat-my-message-avatar-image">
                                        </div>
                                    </div>
                                </div>

                                <form action="/" method="POST" class="page-header__chat-reply-form">
                                    <div class="page-header__chat-reply-form-input-wrapper">
                                        <input type="text" class="page-header__chat-reply-form-input"
                                            placeholder="Написать сообщение...">
                                        <label class="page-header__chat-reply-form-file">
                                            <input type="file" class="page-header__chat-reply-form-file-input"
                                                accept="image/*">
                                            <svg width="14" height="14" aria-hidden="true" class="icon-bracket">
                                                <use xlink:href="#bracket"></use>
                                            </svg>
                                        </label>

                                    </div>
                                    <button type="submit" class="page-header__chat-reply-form-submit">
                                        <svg width="14" height="14" aria-hidden="true" class="icon-send">
                                            <use xlink:href="#send"></use>
                                        </svg>
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

                <a href="#" class="page-header__user-fav page-header__user-fav--authorized">
                    <svg width="12" height="12" aria-hidden="true" class="icon-star">
                        <use xlink:href="#star"></use>
                    </svg>
                    <div class="page-header__user-fav-count">
                        4
                    </div>
                </a>

                <div class="page-header__authorized-user">
                    <a href="#" class="page-header__authorized-user-link">
                        <div class="page-header__authorized-user-avatar">
                            <img src="img/rustem.png" alt="" class="page-header__authorized-user-avatar-image">
                            <span class="page-header__authorized-user-notifications-count">
                                4
                            </span>
                        </div>
                        <div class="page-header__authorized-user-name">
                            Рустем
                        </div>
                    </a>

                    <div class="page-header__authorized-user-more">
                        <svg width="12" height="12" aria-hidden="true" class="icon-three-dots">
                            <use xlink:href="#three-dots"></use>
                        </svg>
                        <div class="page-header__authorized-user-more-dropdown">
                            <div class="page-header__authorized-user-more-dropdown-inner">
                                <a href="#" class="page-header__authorized-user-more-link">
                                    Действие 1
                                </a>
                                <a href="#" class="page-header__authorized-user-more-link">
                                    Действие 2
                                </a>
                                <a href="#" class="page-header__authorized-user-more-link">
                                    Действие 3
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                {{else}}
                <a href="#" class="page-header__user-fav">
                    <svg width="12" height="12" aria-hidden="true" class="icon-star">
                        <use xlink:href="#star"></use>
                    </svg>
                    <div class="page-header__user-fav-count">
                        4
                    </div>
                </a>
                <a href="#" class="page-header__mobile-user">
                    <svg width="12" height="12" aria-hidden="true" class="icon-user">
                        <use xlink:href="#user"></use>
                    </svg>
                </a>
                <a href="#" class="page-header__user-login">
                    Войти
                </a>
                <a href="#" class="page-header__user-register">
                    Зарегистрироваться
                </a>
                {{/if}}

            </div>
        </div>
    </div>
</header>