<div class="modals">
    <div class="modals__modal" id="contact-modal">
        <div class="modals__modal-content">
            <button class="modals__modal-close js-modal-close">
                <svg width="15" height="15" aria-hidden="true" class="icon-cross-straight">
                    <use xlink:href="#cross-straight"></use>
                </svg>
            </button>
            <h3 class="modals__modal-heading">
                Покажем и расскажем как мы работаем
            </h3>
            <div class="modals__modal-text">
                <p>
                    Оставьте ваши контактные данные,и мы свяжемся с вами в течении 20 минут
                </p>
            </div>
            <form action="/" method="POST" class="franchise-contact__form franchise-contact__form--modal"
                data-need-validation>
                <div class="franchise-contact__form-group">
                    <input type="text" class="franchise-contact__form-input" placeholder="Ваше имя" required>
                </div>
                <div class="franchise-contact__form-group">
                    <input type="email" class="franchise-contact__form-input" placeholder="Ваш e-mail" required>
                </div>
                <div class="franchise-contact__form-group">
                    <input type="tel" class="franchise-contact__form-input js-phone-input" placeholder="Телефон"
                        data-parsley-validation required>
                </div>
                <div class="franchise-contact__form-group">
                    <label class="franchise-contact__form-checkbox">
                        <input type="checkbox" name="policy" class="franchise-contact__form-checkbox-input" required>
                        <span class="franchise-contact__form-checkbox-mark">

                        </span>
                        <div class="franchise-contact__form-checkbox-text">
                            Согласие на обработку персональных данных
                        </div>
                    </label>
                </div>
                <div class="franchise-contact__form-group">
                    <textarea name="comment" class="franchise-contact__form-input" placeholder="Ваше имя"
                        required></textarea>
                </div>
                <div class="franchise-contact__form-group">
                    <button type="submit" class="franchise-contact__form-submit">
                        Оставить заявку
                    </button>
                </div>
            </form>
        </div>
    </div>
    <div class="modals__modal" id="reviews-modal">

        <div class="modals__modal-content modals__modal-content--reviews">
            <button class="modals__modal-close modals__modal-close--blue js-modal-close">
                <svg width="15" height="15" aria-hidden="true" class="icon-cross-straight">
                    <use xlink:href="#cross-straight"></use>
                </svg>
            </button>
            <h3 class="modals__modal-heading">
                <span class="modals__modal-heading-text">
                    Отзывы про Чио-Чио
                </span>

                <span class="modals__modal-heading-reviews-count">
                    75 отзывов
                </span>
            </h3>
            <div class="modals__modal-reviews">
                <ul class="modals__modal-reviews-list">
                    <li class="modals__modal-reviews-list-item">
                        <div class="modals__modal-reviews-card">
                            <div class="modals__modal-reviews-card-avatar">
                                <img src="img/reviews-modal/1.jpg" alt=""
                                    class="modals__modal-reviews-card-avatar-image">
                            </div>
                            <div class="modals__modal-reviews-card-content">
                                <h5 class="modals__modal-reviews-card-heading">
                                    Ансимова Елизавета
                                </h5>
                                <div class="modals__modal-reviews-card-text">
                                    <p>
                                        Хотела поделиться впечатлением о франшизе Чио Чио - работаю почти год и рада,
                                        что вошла в бизнес именно
                                        с этим брендом: он узнаваемый, система продуманная, любой процесс описан в
                                        документации, есть техническая поддержка и, конечно, поддержка персонального
                                        менеджера.Хотела поделиться впечатлением о франшизе Чио Чио - работаю почти год
                                        и рада, что вошла в бизнес именно с этим брендом: он узнаваемый, система
                                        продуманная, любой процесс описан в документации, есть техническая поддержка и,
                                        конечно, поддержка персонального менеджера.Хотела поделиться впечатлением о
                                        франшизе Чио Чио - работаю почти год и рада, что вошла в бизнес именно с этим
                                        брендом: он узнаваемый, система продуманная, любой процесс описан в
                                        документации, есть техническая поддержка и, конечно, поддержка персонального
                                        менеджера.
                                    </p>
                                </div>
                                <div class="modals__modal-reviews-card-date">
                                    24.03.20
                                </div>


                                <div class="modals__modal-reviews-accordion js-modals-reviews-accordion">
                                    <div class="modals__modal-reviews-accordion-content js-accordion-content">
                                        <h5 class="modals__modal-reviews-card-heading">
                                            Критерии эффективности франчайзинга
                                        </h5>
                                        <div class="modals__modal-reviews-criteria">
                                            <div class="modals__modal-reviews-criteria-card">
                                                <table class="franchise-catalog__card-specs-ratings-table">
                                                    <tbody>
                                                        <tr>
                                                            <th>
                                                                <div
                                                                    class="franchise-catalog__card-specs-ratings-progress-text">
                                                                    Маркетинг


                                                                </div>
                                                            </th>
                                                            <td>
                                                                <div class="franchise-catalog__card-specs-ratings-progress-bar"
                                                                    ie-style="--skill: 0.5;" style="--skill: 0.5;">

                                                                </div>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <th>
                                                                <div
                                                                    class="franchise-catalog__card-specs-ratings-progress-text">
                                                                    Продажи

                                                                </div>
                                                            </th>
                                                            <td>
                                                                <div class="franchise-catalog__card-specs-ratings-progress-bar"
                                                                    ie-style="--skill: 0.3;" style="--skill: 0.3;">

                                                                </div>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <th>
                                                                <div
                                                                    class="franchise-catalog__card-specs-ratings-progress-text">
                                                                    Дизайн

                                                                </div>
                                                            </th>
                                                            <td>
                                                                <div class="franchise-catalog__card-specs-ratings-progress-bar"
                                                                    ie-style="--skill: 0.7;" style="--skill: 0.7;">

                                                                </div>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <th>
                                                                <div
                                                                    class="franchise-catalog__card-specs-ratings-progress-text">
                                                                    Финансы

                                                                </div>
                                                            </th>
                                                            <td>
                                                                <div class="franchise-catalog__card-specs-ratings-progress-bar"
                                                                    ie-style="--skill: 0.5;" style="--skill: 0.5;">

                                                                </div>
                                                            </td>
                                                        </tr>

                                                    </tbody>

                                                </table>
                                            </div>
                                            <div class="modals__modal-reviews-criteria-card">
                                                <table class="franchise-catalog__card-specs-ratings-table">
                                                    <tbody>
                                                        <tr>
                                                            <th>
                                                                <div
                                                                    class="franchise-catalog__card-specs-ratings-progress-text">
                                                                    Маркетинг


                                                                </div>
                                                            </th>
                                                            <td>
                                                                <div class="franchise-catalog__card-specs-ratings-progress-bar"
                                                                    ie-style="--skill: 0.5;" style="--skill: 0.5;">

                                                                </div>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <th>
                                                                <div
                                                                    class="franchise-catalog__card-specs-ratings-progress-text">
                                                                    Продажи

                                                                </div>
                                                            </th>
                                                            <td>
                                                                <div class="franchise-catalog__card-specs-ratings-progress-bar"
                                                                    ie-style="--skill: 0.3;" style="--skill: 0.3;">

                                                                </div>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <th>
                                                                <div
                                                                    class="franchise-catalog__card-specs-ratings-progress-text">
                                                                    Дизайн

                                                                </div>
                                                            </th>
                                                            <td>
                                                                <div class="franchise-catalog__card-specs-ratings-progress-bar"
                                                                    ie-style="--skill: 0.7;" style="--skill: 0.7;">

                                                                </div>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <th>
                                                                <div
                                                                    class="franchise-catalog__card-specs-ratings-progress-text">
                                                                    Финансы

                                                                </div>
                                                            </th>
                                                            <td>
                                                                <div class="franchise-catalog__card-specs-ratings-progress-bar"
                                                                    ie-style="--skill: 0.5;" style="--skill: 0.5;">

                                                                </div>
                                                            </td>
                                                        </tr>

                                                    </tbody>

                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                    <a href="#" class="modals__modal-reviews-accordion-btn js-accordion-btn">
                                        <span>
                                            Читать полностью
                                        </span>
                                        <span>
                                            Свернуть отзыв
                                        </span>
                                    </a>
                                </div>
                            </div>
                            <div class="modals__modal-rating">
                                9
                            </div>
                        </div>
                    </li>
                    <li class="modals__modal-reviews-list-item">
                        <div class="modals__modal-reviews-card">
                            <div class="modals__modal-reviews-card-avatar">
                                <img src="img/reviews-modal/2.jpg" alt=""
                                    class="modals__modal-reviews-card-avatar-image">
                            </div>
                            <div class="modals__modal-reviews-card-content">
                                <h5 class="modals__modal-reviews-card-heading">
                                    Гриненко Алексей
                                </h5>
                                <div class="modals__modal-reviews-card-text">
                                    <p>
                                        Работаю по франшизе Чио-Чио 4-й год. О покупке франшизы не пожалели.
                                    </p>
                                </div>
                                <div class="modals__modal-reviews-card-date">
                                    24.03.20
                                </div>



                            </div>
                            <div class="modals__modal-rating">
                                8
                            </div>
                        </div>
                    </li>
                    <li class="modals__modal-reviews-list-item">
                        <div class="modals__modal-reviews-card">
                            <div class="modals__modal-reviews-card-avatar">
                                <img src="img/reviews-modal/3.jpg" alt=""
                                    class="modals__modal-reviews-card-avatar-image">
                            </div>
                            <div class="modals__modal-reviews-card-content">
                                <h5 class="modals__modal-reviews-card-heading">
                                    Калинин Михаил
                                </h5>
                                <div class="modals__modal-reviews-card-text">
                                    <p>
                                        Хотела поделиться впечатлением о франшизе Чио Чио - работаю почти год и рада,
                                        что вошла в бизнес именно
                                        с этим брендом: он узнаваемый, система продуманная, любой процесс описан в
                                        документации, есть техническая поддержка и, конечно, поддержка персонального
                                        менеджера.
                                    </p>
                                </div>
                                <div class="modals__modal-reviews-card-date">
                                    24.03.20
                                </div>

                                <div class="modals__modal-reviews-accordion js-modals-reviews-accordion">
                                    <div class="modals__modal-reviews-accordion-content js-accordion-content">
                                        <h5 class="modals__modal-reviews-card-heading">
                                            Критерии эффективности франчайзинга
                                        </h5>
                                        <div class="modals__modal-reviews-criteria">
                                            <div class="modals__modal-reviews-criteria-card">
                                                <table class="franchise-catalog__card-specs-ratings-table">
                                                    <tbody>
                                                        <tr>
                                                            <th>
                                                                <div
                                                                    class="franchise-catalog__card-specs-ratings-progress-text">
                                                                    Маркетинг


                                                                </div>
                                                            </th>
                                                            <td>
                                                                <div class="franchise-catalog__card-specs-ratings-progress-bar"
                                                                    ie-style="--skill: 0.5;" style="--skill: 0.5;">

                                                                </div>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <th>
                                                                <div
                                                                    class="franchise-catalog__card-specs-ratings-progress-text">
                                                                    Продажи

                                                                </div>
                                                            </th>
                                                            <td>
                                                                <div class="franchise-catalog__card-specs-ratings-progress-bar"
                                                                    ie-style="--skill: 0.3;" style="--skill: 0.3;">

                                                                </div>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <th>
                                                                <div
                                                                    class="franchise-catalog__card-specs-ratings-progress-text">
                                                                    Дизайн

                                                                </div>
                                                            </th>
                                                            <td>
                                                                <div class="franchise-catalog__card-specs-ratings-progress-bar"
                                                                    ie-style="--skill: 0.7;" style="--skill: 0.7;">

                                                                </div>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <th>
                                                                <div
                                                                    class="franchise-catalog__card-specs-ratings-progress-text">
                                                                    Финансы

                                                                </div>
                                                            </th>
                                                            <td>
                                                                <div class="franchise-catalog__card-specs-ratings-progress-bar"
                                                                    ie-style="--skill: 0.5;" style="--skill: 0.5;">

                                                                </div>
                                                            </td>
                                                        </tr>

                                                    </tbody>

                                                </table>
                                            </div>
                                            <div class="modals__modal-reviews-criteria-card">
                                                <table class="franchise-catalog__card-specs-ratings-table">
                                                    <tbody>
                                                        <tr>
                                                            <th>
                                                                <div
                                                                    class="franchise-catalog__card-specs-ratings-progress-text">
                                                                    Маркетинг


                                                                </div>
                                                            </th>
                                                            <td>
                                                                <div class="franchise-catalog__card-specs-ratings-progress-bar"
                                                                    ie-style="--skill: 0.5;" style="--skill: 0.5;">

                                                                </div>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <th>
                                                                <div
                                                                    class="franchise-catalog__card-specs-ratings-progress-text">
                                                                    Продажи

                                                                </div>
                                                            </th>
                                                            <td>
                                                                <div class="franchise-catalog__card-specs-ratings-progress-bar"
                                                                    ie-style="--skill: 0.3;" style="--skill: 0.3;">

                                                                </div>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <th>
                                                                <div
                                                                    class="franchise-catalog__card-specs-ratings-progress-text">
                                                                    Дизайн

                                                                </div>
                                                            </th>
                                                            <td>
                                                                <div class="franchise-catalog__card-specs-ratings-progress-bar"
                                                                    ie-style="--skill: 0.7;" style="--skill: 0.7;">

                                                                </div>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <th>
                                                                <div
                                                                    class="franchise-catalog__card-specs-ratings-progress-text">
                                                                    Финансы

                                                                </div>
                                                            </th>
                                                            <td>
                                                                <div class="franchise-catalog__card-specs-ratings-progress-bar"
                                                                    ie-style="--skill: 0.5;" style="--skill: 0.5;">

                                                                </div>
                                                            </td>
                                                        </tr>

                                                    </tbody>

                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                    <a href="#" class="modals__modal-reviews-accordion-btn js-accordion-btn">
                                        <span>
                                            Читать полностью
                                        </span>
                                        <span>
                                            Свернуть отзыв
                                        </span>
                                    </a>
                                </div>
                            </div>
                            <div class="modals__modal-rating">
                                9
                            </div>
                        </div>
                    </li>
                </ul>
                <a href="#" class="modals__modal-reviews-load-more">
                    Показать еще 3 отзыва
                </a>
            </div>
            {{!-- <div class="modals__modal-reviews-form-success">
                <img src="img/success-image.png" alt="" class="modals__modal-reviews-form-success-image">
                <div class="modals__modal-reviews-form-success-text ">
                    Спасибо! Ваш отзыв будет опубликован<br> после проверки модератором
                </div>
            </div> --}}
            <div class="modals__modal-reviews-leave-review">
                <h3 class="modals__modal-reviews-leave-review-heading">
                    Оставить отзыв

                </h3>
                <div class="modals__modal-reviews-leave-review-text">
                    <p>
                        Начните свой отзыв с выставления оценки
                    </p>
                </div>
                <form action="/" method="POST" class="modals__modal-reviews-form">
                    <div
                        class="modals__modal-reviews-form-main-rating modals__modal-reviews-form-main-rating--long js-modals-reviews-rating">
                        <input type="hidden" name="rating" class="js-modals-reviews-rating-input">
                        <div class="modals__modal-reviews-form-main-rating-items">
                            <button class="modals__modal-reviews-form-main-rating-btn">
                                1

                                <span class="modals__modal-reviews-form-main-rating-btn-dropdown">
                                    <span class="modals__modal-reviews-form-main-rating-btn-dropdown-inner">
                                        Хорошо
                                    </span>
                                </span>
                            </button>
                            <button class="modals__modal-reviews-form-main-rating-btn">
                                2
                                <span class="modals__modal-reviews-form-main-rating-btn-dropdown">
                                    <span class="modals__modal-reviews-form-main-rating-btn-dropdown-inner">
                                        Хорошо
                                    </span>
                                </span>
                            </button>
                            <button class="modals__modal-reviews-form-main-rating-btn">
                                3
                                <span class="modals__modal-reviews-form-main-rating-btn-dropdown">
                                    <span class="modals__modal-reviews-form-main-rating-btn-dropdown-inner">
                                        Хорошо
                                    </span>
                                </span>
                            </button>
                            <button class="modals__modal-reviews-form-main-rating-btn">
                                4
                                <span class="modals__modal-reviews-form-main-rating-btn-dropdown">
                                    <span class="modals__modal-reviews-form-main-rating-btn-dropdown-inner">
                                        Хорошо
                                    </span>
                                </span>
                            </button>
                            <button class="modals__modal-reviews-form-main-rating-btn">
                                5
                                <span class="modals__modal-reviews-form-main-rating-btn-dropdown">
                                    <span class="modals__modal-reviews-form-main-rating-btn-dropdown-inner">
                                        Хорошо
                                    </span>
                                </span>
                            </button>
                            <button class="modals__modal-reviews-form-main-rating-btn">
                                6
                                <span class="modals__modal-reviews-form-main-rating-btn-dropdown">
                                    <span class="modals__modal-reviews-form-main-rating-btn-dropdown-inner">
                                        Хорошо
                                    </span>
                                </span>
                            </button>
                            <button class="modals__modal-reviews-form-main-rating-btn">
                                7
                                <span class="modals__modal-reviews-form-main-rating-btn-dropdown">
                                    <span class="modals__modal-reviews-form-main-rating-btn-dropdown-inner">
                                        Хорошо
                                    </span>
                                </span>
                            </button>
                            <button class="modals__modal-reviews-form-main-rating-btn">
                                8
                                <span class="modals__modal-reviews-form-main-rating-btn-dropdown">
                                    <span class="modals__modal-reviews-form-main-rating-btn-dropdown-inner">
                                        Хорошо
                                    </span>
                                </span>
                            </button>
                            <button class="modals__modal-reviews-form-main-rating-btn">
                                9
                                <span class="modals__modal-reviews-form-main-rating-btn-dropdown">
                                    <span class="modals__modal-reviews-form-main-rating-btn-dropdown-inner">
                                        Хорошо
                                    </span>
                                </span>
                            </button>
                            <button class="modals__modal-reviews-form-main-rating-btn">
                                10
                                <span class="modals__modal-reviews-form-main-rating-btn-dropdown">
                                    <span class="modals__modal-reviews-form-main-rating-btn-dropdown-inner">
                                        Хорошо
                                    </span>
                                </span>
                            </button>
                        </div>
                        <div class="modals__modal-reviews-form-main-rating-scale">
                            <span>
                                Ужасно
                            </span>
                            <span>
                                Великолепно
                            </span>
                        </div>
                    </div>

                    <h5 class="modals__modal-reviews-form-secondary-heading">
                        Критерии эффективности франшизы
                    </h5>
                    <div class="modals__modal-reviews-form-secondary-ratings">
                        <div class="modals__modal-reviews-form-secondary-ratings-card">
                            <div class="modals__modal-reviews-form-secondary-ratings-card-heading">
                                Маркетинг
                                <div class="modals__modal-reviews-form-secondary-ratings-card-heading-more">
                                    <svg width="15" height="15" aria-hidden="true" class="icon-details">
                                        <use xlink:href="#details"></use>
                                    </svg>
                                    <div
                                        class="modals__modal-reviews-form-secondary-ratings-card-heading-more-dropdown">
                                        <div
                                            class="modals__modal-reviews-form-secondary-ratings-card-heading-more-dropdown-inner">
                                            Примечание
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modals__modal-reviews-form-secondary-ratings-card-rating">
                                <div class="modals__modal-reviews-form-main-rating js-modals-reviews-rating">
                                    <input type="hidden" name="rating" class="js-modals-reviews-rating-input">
                                    <div class="modals__modal-reviews-form-main-rating-items">
                                        <button class="modals__modal-reviews-form-main-rating-btn">
                                            1

                                            <span class="modals__modal-reviews-form-main-rating-btn-dropdown">
                                                <span class="modals__modal-reviews-form-main-rating-btn-dropdown-inner">
                                                    Хорошо
                                                </span>
                                            </span>
                                        </button>
                                        <button class="modals__modal-reviews-form-main-rating-btn">
                                            2
                                            <span class="modals__modal-reviews-form-main-rating-btn-dropdown">
                                                <span class="modals__modal-reviews-form-main-rating-btn-dropdown-inner">
                                                    Хорошо
                                                </span>
                                            </span>
                                        </button>
                                        <button class="modals__modal-reviews-form-main-rating-btn">
                                            3
                                            <span class="modals__modal-reviews-form-main-rating-btn-dropdown">
                                                <span class="modals__modal-reviews-form-main-rating-btn-dropdown-inner">
                                                    Хорошо
                                                </span>
                                            </span>
                                        </button>
                                        <button class="modals__modal-reviews-form-main-rating-btn">
                                            4
                                            <span class="modals__modal-reviews-form-main-rating-btn-dropdown">
                                                <span class="modals__modal-reviews-form-main-rating-btn-dropdown-inner">
                                                    Хорошо
                                                </span>
                                            </span>
                                        </button>
                                        <button class="modals__modal-reviews-form-main-rating-btn">
                                            5
                                            <span class="modals__modal-reviews-form-main-rating-btn-dropdown">
                                                <span class="modals__modal-reviews-form-main-rating-btn-dropdown-inner">
                                                    Хорошо
                                                </span>
                                            </span>
                                        </button>

                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="modals__modal-reviews-form-secondary-ratings-card">
                            <div class="modals__modal-reviews-form-secondary-ratings-card-heading">
                                Продажи
                                <div class="modals__modal-reviews-form-secondary-ratings-card-heading-more">
                                    <svg width="15" height="15" aria-hidden="true" class="icon-details">
                                        <use xlink:href="#details"></use>
                                    </svg>
                                    <div
                                        class="modals__modal-reviews-form-secondary-ratings-card-heading-more-dropdown">
                                        <div
                                            class="modals__modal-reviews-form-secondary-ratings-card-heading-more-dropdown-inner">
                                            Примечание
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modals__modal-reviews-form-secondary-ratings-card-rating">
                                <div class="modals__modal-reviews-form-main-rating js-modals-reviews-rating">
                                    <input type="hidden" name="rating" class="js-modals-reviews-rating-input">
                                    <div class="modals__modal-reviews-form-main-rating-items">
                                        <button class="modals__modal-reviews-form-main-rating-btn">
                                            1

                                            <span class="modals__modal-reviews-form-main-rating-btn-dropdown">
                                                <span class="modals__modal-reviews-form-main-rating-btn-dropdown-inner">
                                                    Хорошо
                                                </span>
                                            </span>
                                        </button>
                                        <button class="modals__modal-reviews-form-main-rating-btn">
                                            2
                                            <span class="modals__modal-reviews-form-main-rating-btn-dropdown">
                                                <span class="modals__modal-reviews-form-main-rating-btn-dropdown-inner">
                                                    Хорошо
                                                </span>
                                            </span>
                                        </button>
                                        <button class="modals__modal-reviews-form-main-rating-btn">
                                            3
                                            <span class="modals__modal-reviews-form-main-rating-btn-dropdown">
                                                <span class="modals__modal-reviews-form-main-rating-btn-dropdown-inner">
                                                    Хорошо
                                                </span>
                                            </span>
                                        </button>
                                        <button class="modals__modal-reviews-form-main-rating-btn">
                                            4
                                            <span class="modals__modal-reviews-form-main-rating-btn-dropdown">
                                                <span class="modals__modal-reviews-form-main-rating-btn-dropdown-inner">
                                                    Хорошо
                                                </span>
                                            </span>
                                        </button>
                                        <button class="modals__modal-reviews-form-main-rating-btn">
                                            5
                                            <span class="modals__modal-reviews-form-main-rating-btn-dropdown">
                                                <span class="modals__modal-reviews-form-main-rating-btn-dropdown-inner">
                                                    Хорошо
                                                </span>
                                            </span>
                                        </button>

                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="modals__modal-reviews-form-secondary-ratings-card">
                            <div class="modals__modal-reviews-form-secondary-ratings-card-heading">
                                Дизайн
                                <div class="modals__modal-reviews-form-secondary-ratings-card-heading-more">
                                    <svg width="15" height="15" aria-hidden="true" class="icon-details">
                                        <use xlink:href="#details"></use>
                                    </svg>
                                    <div
                                        class="modals__modal-reviews-form-secondary-ratings-card-heading-more-dropdown">
                                        <div
                                            class="modals__modal-reviews-form-secondary-ratings-card-heading-more-dropdown-inner">
                                            Примечание
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modals__modal-reviews-form-secondary-ratings-card-rating">
                                <div class="modals__modal-reviews-form-main-rating js-modals-reviews-rating">
                                    <input type="hidden" name="rating" class="js-modals-reviews-rating-input">
                                    <div class="modals__modal-reviews-form-main-rating-items">
                                        <button class="modals__modal-reviews-form-main-rating-btn">
                                            1

                                            <span class="modals__modal-reviews-form-main-rating-btn-dropdown">
                                                <span class="modals__modal-reviews-form-main-rating-btn-dropdown-inner">
                                                    Хорошо
                                                </span>
                                            </span>
                                        </button>
                                        <button class="modals__modal-reviews-form-main-rating-btn">
                                            2
                                            <span class="modals__modal-reviews-form-main-rating-btn-dropdown">
                                                <span class="modals__modal-reviews-form-main-rating-btn-dropdown-inner">
                                                    Хорошо
                                                </span>
                                            </span>
                                        </button>
                                        <button class="modals__modal-reviews-form-main-rating-btn">
                                            3
                                            <span class="modals__modal-reviews-form-main-rating-btn-dropdown">
                                                <span class="modals__modal-reviews-form-main-rating-btn-dropdown-inner">
                                                    Хорошо
                                                </span>
                                            </span>
                                        </button>
                                        <button class="modals__modal-reviews-form-main-rating-btn">
                                            4
                                            <span class="modals__modal-reviews-form-main-rating-btn-dropdown">
                                                <span class="modals__modal-reviews-form-main-rating-btn-dropdown-inner">
                                                    Хорошо
                                                </span>
                                            </span>
                                        </button>
                                        <button class="modals__modal-reviews-form-main-rating-btn">
                                            5
                                            <span class="modals__modal-reviews-form-main-rating-btn-dropdown">
                                                <span class="modals__modal-reviews-form-main-rating-btn-dropdown-inner">
                                                    Хорошо
                                                </span>
                                            </span>
                                        </button>

                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="modals__modal-reviews-form-secondary-ratings-card">
                            <div class="modals__modal-reviews-form-secondary-ratings-card-heading">
                                Финансы
                                <div class="modals__modal-reviews-form-secondary-ratings-card-heading-more">
                                    <svg width="15" height="15" aria-hidden="true" class="icon-details">
                                        <use xlink:href="#details"></use>
                                    </svg>
                                    <div
                                        class="modals__modal-reviews-form-secondary-ratings-card-heading-more-dropdown">
                                        <div
                                            class="modals__modal-reviews-form-secondary-ratings-card-heading-more-dropdown-inner">
                                            Примечание
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modals__modal-reviews-form-secondary-ratings-card-rating">
                                <div class="modals__modal-reviews-form-main-rating js-modals-reviews-rating">
                                    <input type="hidden" name="rating" class="js-modals-reviews-rating-input">
                                    <div class="modals__modal-reviews-form-main-rating-items">
                                        <button class="modals__modal-reviews-form-main-rating-btn">
                                            1

                                            <span class="modals__modal-reviews-form-main-rating-btn-dropdown">
                                                <span class="modals__modal-reviews-form-main-rating-btn-dropdown-inner">
                                                    Хорошо
                                                </span>
                                            </span>
                                        </button>
                                        <button class="modals__modal-reviews-form-main-rating-btn">
                                            2
                                            <span class="modals__modal-reviews-form-main-rating-btn-dropdown">
                                                <span class="modals__modal-reviews-form-main-rating-btn-dropdown-inner">
                                                    Хорошо
                                                </span>
                                            </span>
                                        </button>
                                        <button class="modals__modal-reviews-form-main-rating-btn">
                                            3
                                            <span class="modals__modal-reviews-form-main-rating-btn-dropdown">
                                                <span class="modals__modal-reviews-form-main-rating-btn-dropdown-inner">
                                                    Хорошо
                                                </span>
                                            </span>
                                        </button>
                                        <button class="modals__modal-reviews-form-main-rating-btn">
                                            4
                                            <span class="modals__modal-reviews-form-main-rating-btn-dropdown">
                                                <span class="modals__modal-reviews-form-main-rating-btn-dropdown-inner">
                                                    Хорошо
                                                </span>
                                            </span>
                                        </button>
                                        <button class="modals__modal-reviews-form-main-rating-btn">
                                            5
                                            <span class="modals__modal-reviews-form-main-rating-btn-dropdown">
                                                <span class="modals__modal-reviews-form-main-rating-btn-dropdown-inner">
                                                    Хорошо
                                                </span>
                                            </span>
                                        </button>

                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="modals__modal-reviews-form-secondary-ratings-card">
                            <div class="modals__modal-reviews-form-secondary-ratings-card-heading">
                                Работа с людьми
                                <div class="modals__modal-reviews-form-secondary-ratings-card-heading-more">
                                    <svg width="15" height="15" aria-hidden="true" class="icon-details">
                                        <use xlink:href="#details"></use>
                                    </svg>
                                    <div
                                        class="modals__modal-reviews-form-secondary-ratings-card-heading-more-dropdown">
                                        <div
                                            class="modals__modal-reviews-form-secondary-ratings-card-heading-more-dropdown-inner">
                                            Примечание
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modals__modal-reviews-form-secondary-ratings-card-rating">
                                <div class="modals__modal-reviews-form-main-rating js-modals-reviews-rating">
                                    <input type="hidden" name="rating" class="js-modals-reviews-rating-input">
                                    <div class="modals__modal-reviews-form-main-rating-items">
                                        <button class="modals__modal-reviews-form-main-rating-btn">
                                            1

                                            <span class="modals__modal-reviews-form-main-rating-btn-dropdown">
                                                <span class="modals__modal-reviews-form-main-rating-btn-dropdown-inner">
                                                    Хорошо
                                                </span>
                                            </span>
                                        </button>
                                        <button class="modals__modal-reviews-form-main-rating-btn">
                                            2
                                            <span class="modals__modal-reviews-form-main-rating-btn-dropdown">
                                                <span class="modals__modal-reviews-form-main-rating-btn-dropdown-inner">
                                                    Хорошо
                                                </span>
                                            </span>
                                        </button>
                                        <button class="modals__modal-reviews-form-main-rating-btn">
                                            3
                                            <span class="modals__modal-reviews-form-main-rating-btn-dropdown">
                                                <span class="modals__modal-reviews-form-main-rating-btn-dropdown-inner">
                                                    Хорошо
                                                </span>
                                            </span>
                                        </button>
                                        <button class="modals__modal-reviews-form-main-rating-btn">
                                            4
                                            <span class="modals__modal-reviews-form-main-rating-btn-dropdown">
                                                <span class="modals__modal-reviews-form-main-rating-btn-dropdown-inner">
                                                    Хорошо
                                                </span>
                                            </span>
                                        </button>
                                        <button class="modals__modal-reviews-form-main-rating-btn">
                                            5
                                            <span class="modals__modal-reviews-form-main-rating-btn-dropdown">
                                                <span class="modals__modal-reviews-form-main-rating-btn-dropdown-inner">
                                                    Хорошо
                                                </span>
                                            </span>
                                        </button>

                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="modals__modal-reviews-form-secondary-ratings-card">
                            <div class="modals__modal-reviews-form-secondary-ratings-card-heading">
                                Мерчендайзинг
                                <div class="modals__modal-reviews-form-secondary-ratings-card-heading-more">
                                    <svg width="15" height="15" aria-hidden="true" class="icon-details">
                                        <use xlink:href="#details"></use>
                                    </svg>
                                    <div
                                        class="modals__modal-reviews-form-secondary-ratings-card-heading-more-dropdown">
                                        <div
                                            class="modals__modal-reviews-form-secondary-ratings-card-heading-more-dropdown-inner">
                                            Примечание
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modals__modal-reviews-form-secondary-ratings-card-rating">
                                <div class="modals__modal-reviews-form-main-rating js-modals-reviews-rating">
                                    <input type="hidden" name="rating" class="js-modals-reviews-rating-input">
                                    <div class="modals__modal-reviews-form-main-rating-items">
                                        <button class="modals__modal-reviews-form-main-rating-btn">
                                            1

                                            <span class="modals__modal-reviews-form-main-rating-btn-dropdown">
                                                <span class="modals__modal-reviews-form-main-rating-btn-dropdown-inner">
                                                    Хорошо
                                                </span>
                                            </span>
                                        </button>
                                        <button class="modals__modal-reviews-form-main-rating-btn">
                                            2
                                            <span class="modals__modal-reviews-form-main-rating-btn-dropdown">
                                                <span class="modals__modal-reviews-form-main-rating-btn-dropdown-inner">
                                                    Хорошо
                                                </span>
                                            </span>
                                        </button>
                                        <button class="modals__modal-reviews-form-main-rating-btn">
                                            3
                                            <span class="modals__modal-reviews-form-main-rating-btn-dropdown">
                                                <span class="modals__modal-reviews-form-main-rating-btn-dropdown-inner">
                                                    Хорошо
                                                </span>
                                            </span>
                                        </button>
                                        <button class="modals__modal-reviews-form-main-rating-btn">
                                            4
                                            <span class="modals__modal-reviews-form-main-rating-btn-dropdown">
                                                <span class="modals__modal-reviews-form-main-rating-btn-dropdown-inner">
                                                    Хорошо
                                                </span>
                                            </span>
                                        </button>
                                        <button class="modals__modal-reviews-form-main-rating-btn">
                                            5
                                            <span class="modals__modal-reviews-form-main-rating-btn-dropdown">
                                                <span class="modals__modal-reviews-form-main-rating-btn-dropdown-inner">
                                                    Хорошо
                                                </span>
                                            </span>
                                        </button>

                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="modals__modal-reviews-form-secondary-ratings-card">
                            <div class="modals__modal-reviews-form-secondary-ratings-card-heading">
                                Работа с людьми
                                <div class="modals__modal-reviews-form-secondary-ratings-card-heading-more">
                                    <svg width="15" height="15" aria-hidden="true" class="icon-details">
                                        <use xlink:href="#details"></use>
                                    </svg>
                                    <div
                                        class="modals__modal-reviews-form-secondary-ratings-card-heading-more-dropdown">
                                        <div
                                            class="modals__modal-reviews-form-secondary-ratings-card-heading-more-dropdown-inner">
                                            Примечание
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modals__modal-reviews-form-secondary-ratings-card-rating">
                                <div class="modals__modal-reviews-form-main-rating js-modals-reviews-rating">
                                    <input type="hidden" name="rating" class="js-modals-reviews-rating-input">
                                    <div class="modals__modal-reviews-form-main-rating-items">
                                        <button class="modals__modal-reviews-form-main-rating-btn">
                                            1

                                            <span class="modals__modal-reviews-form-main-rating-btn-dropdown">
                                                <span class="modals__modal-reviews-form-main-rating-btn-dropdown-inner">
                                                    Хорошо
                                                </span>
                                            </span>
                                        </button>
                                        <button class="modals__modal-reviews-form-main-rating-btn">
                                            2
                                            <span class="modals__modal-reviews-form-main-rating-btn-dropdown">
                                                <span class="modals__modal-reviews-form-main-rating-btn-dropdown-inner">
                                                    Хорошо
                                                </span>
                                            </span>
                                        </button>
                                        <button class="modals__modal-reviews-form-main-rating-btn">
                                            3
                                            <span class="modals__modal-reviews-form-main-rating-btn-dropdown">
                                                <span class="modals__modal-reviews-form-main-rating-btn-dropdown-inner">
                                                    Хорошо
                                                </span>
                                            </span>
                                        </button>
                                        <button class="modals__modal-reviews-form-main-rating-btn">
                                            4
                                            <span class="modals__modal-reviews-form-main-rating-btn-dropdown">
                                                <span class="modals__modal-reviews-form-main-rating-btn-dropdown-inner">
                                                    Хорошо
                                                </span>
                                            </span>
                                        </button>
                                        <button class="modals__modal-reviews-form-main-rating-btn">
                                            5
                                            <span class="modals__modal-reviews-form-main-rating-btn-dropdown">
                                                <span class="modals__modal-reviews-form-main-rating-btn-dropdown-inner">
                                                    Хорошо
                                                </span>
                                            </span>
                                        </button>

                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>


                    <h5 class="modals__modal-reviews-form-secondary-heading">
                        Напишите пожалуйста свои впечатления о франшизе
                    </h5>

                    <textarea name="text" class="modals__modal-reviews-form-textarea"
                        placeholder="Напишите свой отзыв"></textarea>
                    <button type="submit" class="modals__modal-reviews-form-submit">Опубликовать</button>

                </form>

            </div>
        </div>
    </div>
    <div class="modals__modal" id="delete-modal">
        <div class="modals__modal-content modals__modal-content--delete">
            <button class="modals__modal-close modals__modal-close--blue js-modal-close">
                <svg width="15" height="15" aria-hidden="true" class="icon-cross-straight">
                    <use xlink:href="#cross-straight"></use>
                </svg>
            </button>
            <div class="modals__delete-modal">
                <form action="/" method="POST" class="modals__delete-modal-form" id="delete-modal-form">
                    <img src="img/delete-modal-illustration.svg" alt="" class="modals__delete-modal-illustration">
                    <div class="modals__delete-modal-content">
                        <h3 class="modals__delete-modal-heading">
                            Вы действительно хотите удалить франшизу?
                        </h3>
                        <div class="modals__delete-modal-btns">
                            <button class="modals__delete-modal-btn" type="submit">
                                Да
                            </button>
                            <button class="modals__delete-modal-btn modals__delete-modal-btn--blue js-modal-close"
                                type="button">
                                Нет
                            </button>
                        </div>
                    </div>
                </form>
            </div>

        </div>
    </div>
    <div class="modals__modal" id="delete-success-modal">
        <div class="modals__modal-content modals__modal-content--delete">
            <button class="modals__modal-close modals__modal-close--blue js-modal-close">
                <svg width="15" height="15" aria-hidden="true" class="icon-cross-straight">
                    <use xlink:href="#cross-straight"></use>
                </svg>
            </button>
            <div class="modals__delete-modal">
                <div class="modals__delete-modal-success">


                    <img src="img/delete-success-illustration.svg" alt="" class="modals__delete-modal-illustration modals__delete-modal-illustration--large">
                    <div class="modals__delete-modal-content">
                        <h3 class="modals__delete-modal-heading">
                            Ваша франшиза удалена
                        </h3>
                        <a href="#" class="modals__go-back">
                            Вернуться на главную
                        </a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>