{{#extend "layout"}}
{{#content "main"}}

<section class="not-found">
    <div class="container">
        <div class="inner-container">
            <div class="not-found__content">
                <img src="img/404.svg" alt="" class="not-found__image" width="800">
                <div class="not-found__message">
                    <p>
                        Возможно это не то, что вы искали
                    </p>
                    <p>
                        Пожалуйста вернитесь на <a href="index.html">главную страницу</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

{{/content}}
{{/extend}}