{{#extend "layout"}}
{{#content "main"}}

<section class="account">
    <div class="account__header">
        <div class="account-header__bg">
            <img src="img/account-header.jpg" alt="" class="account-header__bg-image">
        </div>

        <div class="container">
            <div class="account__header-top-row">
                <a href="#" class="account__header-back">
                    Вернуться
                </a>
                <a href="#" class="account__header-write">
                    Написать Альберту
                </a>
            </div>
        </div>

    </div>
    <div class="container">
        <div class="account__intro">
            <div class="account__photo-container">
                <img src="img/account-photo.jpg" alt="" class="account__photo-container-image">
            </div>
            <h1 class="account__intro-name">
                Альберт Гайнуллин
            </h1>
            <div class="account__intro-description">
                524 партнера в 145 городах и 3 странах мира
            </div>
        </div>
        <div class="inner-container">
            <div class="account__info">
                <div class="account__about">


                    <h2 class="franchise-description__heading">
                        о себе
                    </h2>
                    <div class="account__about-layout">
                        <div class="account__about-description">
                            «Чио Чио» — это сеть экспресс-парикмахерских. Стрижка стоит 200 рублей, мастер тратит на нее
                            15
                            минут. Мы запустили сеть в 2017 году. «Чио чио» самая крупная в России сеть парикмахерских,
                            более 300 точек в РФ и СНГ.ут.
                        </div>


                        <div class="account__about-links">
                            <div class="franchise-description__ratings-table">
                                <table>

                                    <tbody>
                                        <tr>
                                            <th>
                                                Город
                                            </th>
                                            <td>
                                                Казань

                                            </td>
                                        </tr>
                                        <tr>
                                            <th>
                                                Возраст
                                            </th>
                                            <td>
                                                33

                                            </td>
                                        </tr>

                                    </tbody>
                                </table>
                            </div>

                            <div class="franchise-description__social">
                                <a href="#" class="franchise-description__social-link">
                                    <svg width="15" height="15" aria-hidden="true" class="icon-instagram">
                                        <use xlink:href="#instagram"></use>
                                    </svg>
                                    <span class="franchise-description__social-link-views-count">
                                        14 500
                                    </span>
                                </a>
                                <a href="#" class="franchise-description__social-link">
                                    <svg width="15" height="15" aria-hidden="true" class="icon-facebook">
                                        <use xlink:href="#facebook"></use>
                                    </svg>
                                    <span class="franchise-description__social-link-views-count">
                                        14 500
                                    </span>
                                </a>
                                <a href="#" class="franchise-description__social-link">
                                    <svg width="15" height="15" aria-hidden="true" class="icon-youtube">
                                        <use xlink:href="#youtube"></use>
                                    </svg>
                                    <span class="franchise-description__social-link-views-count">
                                        14 500
                                    </span>
                                </a>
                                <a href="#" class="franchise-description__social-link">
                                    <svg width="15" height="15" aria-hidden="true" class="icon-vk">
                                        <use xlink:href="#vk"></use>
                                    </svg>
                                    <span class="franchise-description__social-link-views-count">
                                        14 500
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="franchise-description__competencies">


                    <h3 class="franchise-description__heading">
                        компетенции

                        <div class="franchise-description__heading-details">
                            <svg width="22" height="22" aria-hidden="true" class="icon-details">
                                <use xlink:href="#details"></use>
                            </svg>
                            <div class="franchise-description__heading-details-dropdown">
                                <div class="franchise-description__heading-details-dropdown-inner">
                                    Примечание
                                </div>
                            </div>
                        </div>
                    </h3>
                    <table class="franchise-catalog__card-specs-ratings-table">
                        <tbody>
                            <tr>
                                <th>
                                    <div class="franchise-catalog__card-specs-ratings-progress-text">
                                        Маркетинг
                                    </div>
                                </th>
                                <td>
                                    <div class="franchise-catalog__card-specs-ratings-progress-bar"
                                        ie-style="--skill: 0.5;" style="--skill: 0.5;">

                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    <div class="franchise-catalog__card-specs-ratings-progress-text">
                                        Продажи
                                    </div>
                                </th>
                                <td>
                                    <div class="franchise-catalog__card-specs-ratings-progress-bar"
                                        ie-style="--skill: 0.3;" style="--skill: 0.3;">

                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    <div class="franchise-catalog__card-specs-ratings-progress-text">
                                        Дизайн
                                    </div>
                                </th>
                                <td>
                                    <div class="franchise-catalog__card-specs-ratings-progress-bar"
                                        ie-style="--skill: 0.7;" style="--skill: 0.7;">

                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    <div class="franchise-catalog__card-specs-ratings-progress-text">
                                        Финансы
                                    </div>
                                </th>
                                <td>
                                    <div class="franchise-catalog__card-specs-ratings-progress-bar"
                                        ie-style="--skill: 0.5;" style="--skill: 0.5;">

                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    <div class="franchise-catalog__card-specs-ratings-progress-text">
                                        Мерчендайзинг
                                    </div>
                                </th>
                                <td>
                                    <div class="franchise-catalog__card-specs-ratings-progress-bar"
                                        ie-style="--skill: 0.3;" style="--skill: 0.3;">

                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    <div class="franchise-catalog__card-specs-ratings-progress-text">
                                        Работа с людьми
                                    </div>
                                </th>
                                <td>
                                    <div class="franchise-catalog__card-specs-ratings-progress-bar"
                                        ie-style="--skill: 0.7;" style="--skill: 0.7;">

                                    </div>
                                </td>
                            </tr>

                        </tbody>

                    </table>
                </div>

                <div class="franchise-description__buttons">
                    <div class="franchise-description__buttons-wrapper">
                        <a href="#" class="franchise-description__button franchise-description__button--filled">
                            Предложить франшизу
                        </a>
                    </div>
                    <div class="franchise-description__buttons-wrapper">
                        <a href="#" class="franchise-description__button">
                            Написать Альберту
                        </a>
                    </div>
                </div>
            </div>

        </div>
        <div class="news__navigation news__navigation--fullwidth-border">
            <a href="#" class="news__navigation-link active">
                купил франшизы
            </a>
            <a href="#" class="news__navigation-link">
                продает франшизы
            </a>
            <a href="#" class="news__navigation-link">
                Избранное
                <div class="page-header__user-fav">
                    <svg width="12" height="12" aria-hidden="true" class="icon-star">
                        <use xlink:href="#star"></use>
                    </svg>
                    <div class="page-header__user-fav-count">
                        4
                    </div>
                </div>
            </a>

        </div>
        <div class="account__items">
            <ul class="franchise-catalog__list">
                <li class="franchise-catalog__list-item">
                    <div class="franchise-catalog__card">
                        <div class="franchise-catalog__card-main">
                            <a href="#" class="franchise-catalog__card-title-block">
                                <div class="franchise-catalog__card-logo-container">
                                    <img src="img/franchise/chio.png" alt="" class="franchise-catalog__card-logo">
                                    <span class="franchise-catalog__card-rating">
                                        <span class="franchise-catalog__card-rating-amount">
                                            8,9
                                        </span>
                                    </span>
                                </div>
                                <div class="franchise-catalog__card-title-block-content">
                                    <h3 class="franchise-catalog__card-title-heading">
                                        Сеть парикмахерских «Чио-Чио»
                                    </h3>
                                    <div class="franchise-catalog__card-title-description">
                                        <p>
                                            Чио Чио является самой быстрорастущей сетью в салонном бизнесе. Ежемесячно
                                            запускается 40-50 парикмахерских.
                                        </p>
                                    </div>
                                    <div class="franchise-catalog__card-open-close">
                                        <span class="franchise-catalog__card-open-close-text opened">
                                            Развернуть
                                        </span>
                                        <span class="franchise-catalog__card-open-close-text closed">
                                            Свернуть
                                        </span>
                                        <svg width="12" height="6" aria-hidden="true" class="icon-arrow-down">
                                            <use xlink:href="#arrow-down"></use>
                                        </svg>
                                    </div>
                                </div>
                            </a>
                            <div class="franchise-catalog__card-specs-block">
                                <a href="#" class="franchise-catalog__card-specs-table">
                                    <table>
                                        <tbody>
                                            <tr>
                                                <th>
                                                    Инвестиции
                                                </th>
                                                <td>
                                                    200 000 Р
                                                </td>
                                            </tr>
                                            <tr>
                                                <th>
                                                    Окупаемость
                                                </th>
                                                <td>
                                                    2 месяца
                                                </td>
                                            </tr>
                                            <tr>
                                                <th>
                                                    Паушальный взнос
                                                </th>
                                                <td>
                                                    200 000 Р
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </a>
                                <a href="#" class="franchise-catalog__card-specs-ratings">
                                    <h4 class="franchise-catalog__card-specs-ratings-heading">
                                        Требуемые навыки
                                    </h4>
                                    <table class="franchise-catalog__card-specs-ratings-table">
                                        <tbody>
                                            <tr>
                                                <th>
                                                    <div class="franchise-catalog__card-specs-ratings-progress-text">
                                                        Продажи
                                                    </div>
                                                </th>
                                                <td>
                                                    <div class="franchise-catalog__card-specs-ratings-progress-bar"
                                                        ie-style="--skill: 0.5;" style="--skill: 0.5;">

                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <th>
                                                    <div class="franchise-catalog__card-specs-ratings-progress-text">
                                                        Закупки / склад
                                                    </div>
                                                </th>
                                                <td>
                                                    <div class="franchise-catalog__card-specs-ratings-progress-bar"
                                                        ie-style="--skill: 0.3;" style="--skill: 0.3;">

                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <th>
                                                    <div class="franchise-catalog__card-specs-ratings-progress-text">
                                                        Финансы
                                                    </div>
                                                </th>
                                                <td>
                                                    <div class="franchise-catalog__card-specs-ratings-progress-bar"
                                                        ie-style="--skill: 0.7;" style="--skill: 0.7;">

                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>

                                    </table>

                                </a>

                                <div class="franchise-catalog__card-btns">
                                    <button class="franchise-catalog__card-actions-accordion-toggle">
                                        <span class="franchise-catalog__card-actions-accordion-toggle-content">
                                            <span></span>
                                            <span></span>
                                            <span></span>
                                        </span>
                                    </button>
                                    <div class="franchise-catalog__card-actions">

                                        <div class="franchise-catalog__card-actions-btn">
                                            <svg width="20" height="5" aria-hidden="true" class="icon-dots">
                                                <use xlink:href="#dots"></use>
                                            </svg>
                                        </div>
                                        <div class="franchise-catalog__card-actions-dropdown">
                                            <div class="franchise-catalog__card-actions-dropdown-inner">
                                                <a href="#" class="franchise-catalog__card-actions-dropdown-link">
                                                    <svg width="24" height="24" aria-hidden="true" class="icon-link">
                                                        <use xlink:href="#link"></use>
                                                    </svg>
                                                    На страницу франшизы

                                                </a>
                                                <a href="#" class="franchise-catalog__card-actions-dropdown-link">
                                                    <svg width="24" height="24" aria-hidden="true" class="icon-bubble">
                                                        <use xlink:href="#bubble"></use>
                                                    </svg>
                                                    На страницу франшизы

                                                </a>
                                                <a href="#" class="franchise-catalog__card-actions-dropdown-link">
                                                    <svg width="24" height="24" aria-hidden="true" class="icon-info">
                                                        <use xlink:href="#info"></use>
                                                    </svg>
                                                    Пожаловаться
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <a href="#" class="franchise-catalog__card-like active">
                                        <svg width="20" height="20" aria-hidden="true" class="icon-star">
                                            <use xlink:href="#star"></use>
                                        </svg>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="franchise-catalog__card-details">
                        <div class="franchise-catalog__card-details-btn js-accordion-btn">
                            <span>Показать</span>
                            <span>Скрыть</span>
                        </div>
                        <div class="franchise-catalog__card-details-content js-accordion-content">
                            <div class="franchise-catalog__card-details-grid">
                                <div class="franchise-catalog__card-details-left-col">
                                    <div class="franchise-catalog__card-details-social-block">
                                        <a href="#" class="franchise-catalog__card-website">
                                            chio-chio.ru
                                            <svg width="12" height="12" aria-hidden="true" class="icon-link-simple">
                                                <use xlink:href="#link-simple"></use>
                                            </svg>
                                        </a>
                                        <div class="franchise-catalog__card-details-social-links">
                                            <a href="#" class="franchise-catalog__card-details-social-link">
                                                <svg width="15" height="15" aria-hidden="true" class="icon-instagram">
                                                    <use xlink:href="#instagram"></use>
                                                </svg>
                                            </a>
                                            <a href="#" class="franchise-catalog__card-details-social-link">
                                                <svg width="15" height="15" aria-hidden="true" class="icon-facebook">
                                                    <use xlink:href="#facebook"></use>
                                                </svg>
                                            </a>
                                            <a href="#" class="franchise-catalog__card-details-social-link">
                                                <svg width="15" height="15" aria-hidden="true" class="icon-youtube">
                                                    <use xlink:href="#youtube"></use>
                                                </svg>
                                            </a>
                                            <a href="#" class="franchise-catalog__card-details-social-link">
                                                <svg width="15" height="15" aria-hidden="true" class="icon-vk">
                                                    <use xlink:href="#vk"></use>
                                                </svg>
                                            </a>
                                        </div>

                                    </div>
                                    <div class="franchise-catalog__card-details-description-block">
                                        <div class="franchise-catalog__card-details-description">
                                            <p>
                                                Чио Чио является самой быстрорастущей сетью в салонном бизнесе.
                                                Ежемесячно
                                                запускается 40-50 парикмахерских. За первый год масштабирования Чио Чио
                                                обогнала всех лидеров отрасли эконом- парикмахерских, которые работают
                                                на
                                                этом рынке уже 10 лет.
                                            </p>
                                        </div>
                                        <div class="franchise-catalog__card-details-table">
                                            <table>
                                                <tbody>
                                                    <tr>
                                                        <th>
                                                            Средний чек
                                                        </th>
                                                        <td>
                                                            1 500 Р
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <th>
                                                            География работы и продаж франшизы
                                                        </th>
                                                        <td>
                                                            РФ и СНГ
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <th>
                                                            Есть ли франчбук
                                                        </th>
                                                        <td>
                                                            Да
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <th>
                                                            Кол-во своих точек
                                                        </th>
                                                        <td>
                                                            5
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <th>
                                                            Кол-во точек по франшизе
                                                        </th>
                                                        <td>
                                                            120
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <div class="franchise-catalog__card-details-learn-more">
                                            <div class="franchise-catalog__card-details-founder">
                                                <div class="franchise-catalog__card-details-founder-photo-container">
                                                    <img src="img/ilnaz.jpg" alt=""
                                                        class="franchise-catalog__card-details-founder-photo">
                                                </div>
                                                <div class="franchise-catalog__card-details-founder-content">
                                                    <div class="franchise-catalog__card-details-founder-title">
                                                        Основатель:

                                                    </div>
                                                    <div class="franchise-catalog__card-details-founder-name">
                                                        Ильназ Набиуллин

                                                    </div>
                                                </div>
                                            </div>
                                            <div class="franchise-catalog__card-details-learn-more-links">
                                                <a href="#" class="franchise-catalog__card-details-learn-more-comments">
                                                    <svg width="22" height="22" aria-hidden="true"
                                                        class="icon-question">
                                                        <use xlink:href="#question"></use>
                                                    </svg>

                                                    13
                                                </a>
                                                <a href="#" class="franchise-catalog__card-details-learn-more-link">
                                                    Узнать больше
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="franchise-catalog__card-details-right-col">
                                    <div
                                        class="franchise-catalog__card-details-gallery-slider js-franchise-gallery-slider">
                                        <button
                                            class="franchise-catalog__card-details-gallery-slider-arrow franchise-catalog__card-details-gallery-slider-arrow--prev swiper-button-disabled">
                                            <svg width="12" height="18" aria-hidden="true" class="icon-arrow-left">
                                                <use xlink:href="#arrow-left"></use>
                                            </svg>
                                        </button>
                                        <div
                                            class="swiper-container swiper-container-initialized swiper-container-horizontal">
                                            <div class="swiper-wrapper" style="transform: translate3d(0px, 0px, 0px);">
                                                <div class="swiper-slide swiper-slide-active"
                                                    style="width: 719px; margin-right: 18px;">
                                                    <div class="franchise-catalog__card-details-gallery-slider-card">
                                                        <img src="img/franchise/gallery.jpg" alt=""
                                                            class="franchise-catalog__card-details-gallery-slider-card-image">
                                                    </div>
                                                </div>
                                                <div class="swiper-slide swiper-slide-next"
                                                    style="width: 719px; margin-right: 18px;">
                                                    <div class="franchise-catalog__card-details-gallery-slider-card">
                                                        <img src="img/franchise/gallery.jpg" alt=""
                                                            class="franchise-catalog__card-details-gallery-slider-card-image">
                                                    </div>
                                                </div>
                                                <div class="swiper-slide" style="width: 719px; margin-right: 18px;">
                                                    <div class="franchise-catalog__card-details-gallery-slider-card">
                                                        <img src="img/franchise/gallery.jpg" alt=""
                                                            class="franchise-catalog__card-details-gallery-slider-card-image">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <button
                                            class="franchise-catalog__card-details-gallery-slider-arrow franchise-catalog__card-details-gallery-slider-arrow--next">
                                            <svg width="12" height="18" aria-hidden="true" class="icon-arrow-right">
                                                <use xlink:href="#arrow-right"></use>
                                            </svg>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="franchise-catalog__list-item">
                    <div class="franchise-catalog__card">
                        <div class="franchise-catalog__card-main">
                            <a href="#" class="franchise-catalog__card-title-block">
                                <div class="franchise-catalog__card-logo-container">
                                    <img src="img/franchise/doner.jpg" alt="" class="franchise-catalog__card-logo">
                                    <span class="franchise-catalog__card-rating">
                                        <span class="franchise-catalog__card-rating-amount">
                                            7,8
                                        </span>
                                    </span>
                                </div>
                                <div class="franchise-catalog__card-title-block-content">
                                    <h3 class="franchise-catalog__card-title-heading">
                                        Сеть полезного фастфуда «Сеньор Денер»
                                    </h3>
                                    <div class="franchise-catalog__card-title-description">
                                        <p>
                                            Продано 50 франшиз за 6 месяцев на 12 500 000 Р
                                        </p>
                                    </div>
                                    <div class="franchise-catalog__card-open-close">
                                        <span class="franchise-catalog__card-open-close-text opened">
                                            Развернуть
                                        </span>
                                        <span class="franchise-catalog__card-open-close-text closed">
                                            Свернуть
                                        </span>
                                        <svg width="12" height="6" aria-hidden="true" class="icon-arrow-down">
                                            <use xlink:href="#arrow-down"></use>
                                        </svg>
                                    </div>
                                </div>
                            </a>
                            <div class="franchise-catalog__card-specs-block">
                                <a href="#" class="franchise-catalog__card-specs-table">
                                    <table>
                                        <tbody>
                                            <tr>
                                                <th>
                                                    Инвестиции
                                                </th>
                                                <td>
                                                    200 000 Р
                                                </td>
                                            </tr>
                                            <tr>
                                                <th>
                                                    Окупаемость
                                                </th>
                                                <td>
                                                    2 месяца
                                                </td>
                                            </tr>
                                            <tr>
                                                <th>
                                                    Паушальный взнос
                                                </th>
                                                <td>
                                                    200 000 Р
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </a>
                                <a href="#" class="franchise-catalog__card-specs-ratings">
                                    <h4 class="franchise-catalog__card-specs-ratings-heading">
                                        Требуемые навыки
                                    </h4>
                                    <table class="franchise-catalog__card-specs-ratings-table">
                                        <tbody>
                                            <tr>
                                                <th>
                                                    <div class="franchise-catalog__card-specs-ratings-progress-text">
                                                        Работа с людьми
                                                    </div>
                                                </th>
                                                <td>
                                                    <div class="franchise-catalog__card-specs-ratings-progress-bar"
                                                        ie-style="--skill: 0.5;" style="--skill: 0.5;">

                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <th>
                                                    <div class="franchise-catalog__card-specs-ratings-progress-text">
                                                        Бизнес-процессы
                                                    </div>
                                                </th>
                                                <td>
                                                    <div class="franchise-catalog__card-specs-ratings-progress-bar"
                                                        ie-style="--skill: 0.3;" style="--skill: 0.7;">

                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <th>
                                                    <div class="franchise-catalog__card-specs-ratings-progress-text">
                                                        Финансы
                                                    </div>
                                                </th>
                                                <td>
                                                    <div class="franchise-catalog__card-specs-ratings-progress-bar"
                                                        ie-style="--skill: 0.7;" style="--skill: 0.9;">

                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>

                                    </table>

                                </a>

                                <div class="franchise-catalog__card-btns">
                                    <button class="franchise-catalog__card-actions-accordion-toggle">
                                        <span class="franchise-catalog__card-actions-accordion-toggle-content">
                                            <span></span>
                                            <span></span>
                                            <span></span>
                                        </span>
                                    </button>
                                    <div class="franchise-catalog__card-actions">

                                        <div class="franchise-catalog__card-actions-btn">
                                            <svg width="20" height="5" aria-hidden="true" class="icon-dots">
                                                <use xlink:href="#dots"></use>
                                            </svg>
                                        </div>
                                        <div class="franchise-catalog__card-actions-dropdown">
                                            <div class="franchise-catalog__card-actions-dropdown-inner">
                                                <a href="#" class="franchise-catalog__card-actions-dropdown-link">
                                                    <svg width="24" height="24" aria-hidden="true" class="icon-link">
                                                        <use xlink:href="#link"></use>
                                                    </svg>
                                                    На страницу франшизы

                                                </a>
                                                <a href="#" class="franchise-catalog__card-actions-dropdown-link">
                                                    <svg width="24" height="24" aria-hidden="true" class="icon-bubble">
                                                        <use xlink:href="#bubble"></use>
                                                    </svg>
                                                    На страницу франшизы

                                                </a>
                                                <a href="#" class="franchise-catalog__card-actions-dropdown-link">
                                                    <svg width="24" height="24" aria-hidden="true" class="icon-info">
                                                        <use xlink:href="#info"></use>
                                                    </svg>
                                                    Пожаловаться
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <a href="#" class="franchise-catalog__card-like active">
                                        <svg width="20" height="20" aria-hidden="true" class="icon-star">
                                            <use xlink:href="#star"></use>
                                        </svg>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="franchise-catalog__card-details">
                        <div class="franchise-catalog__card-details-btn js-accordion-btn">
                            <span>Показать</span>
                            <span>Скрыть</span>
                        </div>
                        <div class="franchise-catalog__card-details-content js-accordion-content">
                            <div class="franchise-catalog__card-details-grid">
                                <div class="franchise-catalog__card-details-left-col">
                                    <div class="franchise-catalog__card-details-social-block">
                                        <a href="#" class="franchise-catalog__card-website">
                                            chio-chio.ru
                                            <svg width="12" height="12" aria-hidden="true" class="icon-link-simple">
                                                <use xlink:href="#link-simple"></use>
                                            </svg>
                                        </a>
                                        <div class="franchise-catalog__card-details-social-links">
                                            <a href="#" class="franchise-catalog__card-details-social-link">
                                                <svg width="15" height="15" aria-hidden="true" class="icon-instagram">
                                                    <use xlink:href="#instagram"></use>
                                                </svg>
                                            </a>
                                            <a href="#" class="franchise-catalog__card-details-social-link">
                                                <svg width="15" height="15" aria-hidden="true" class="icon-facebook">
                                                    <use xlink:href="#facebook"></use>
                                                </svg>
                                            </a>
                                            <a href="#" class="franchise-catalog__card-details-social-link">
                                                <svg width="15" height="15" aria-hidden="true" class="icon-youtube">
                                                    <use xlink:href="#youtube"></use>
                                                </svg>
                                            </a>
                                            <a href="#" class="franchise-catalog__card-details-social-link">
                                                <svg width="15" height="15" aria-hidden="true" class="icon-vk">
                                                    <use xlink:href="#vk"></use>
                                                </svg>
                                            </a>
                                        </div>

                                    </div>
                                    <div class="franchise-catalog__card-details-description-block">
                                        <div class="franchise-catalog__card-details-description">
                                            <p>
                                                Чио Чио является самой быстрорастущей сетью в салонном бизнесе.
                                                Ежемесячно
                                                запускается 40-50 парикмахерских. За первый год масштабирования Чио Чио
                                                обогнала всех лидеров отрасли эконом- парикмахерских, которые работают
                                                на
                                                этом рынке уже 10 лет.
                                            </p>
                                        </div>
                                        <div class="franchise-catalog__card-details-table">
                                            <table>
                                                <tbody>
                                                    <tr>
                                                        <th>
                                                            Средний чек
                                                        </th>
                                                        <td>
                                                            1 500 Р
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <th>
                                                            География работы и продаж франшизы
                                                        </th>
                                                        <td>
                                                            РФ и СНГ
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <th>
                                                            Есть ли франчбук
                                                        </th>
                                                        <td>
                                                            Да
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <th>
                                                            Кол-во своих точек
                                                        </th>
                                                        <td>
                                                            5
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <th>
                                                            Кол-во точек по франшизе
                                                        </th>
                                                        <td>
                                                            120
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <div class="franchise-catalog__card-details-learn-more">
                                            <div class="franchise-catalog__card-details-founder">
                                                <div class="franchise-catalog__card-details-founder-photo-container">
                                                    <img src="img/ilnaz.jpg" alt=""
                                                        class="franchise-catalog__card-details-founder-photo">
                                                </div>
                                                <div class="franchise-catalog__card-details-founder-content">
                                                    <div class="franchise-catalog__card-details-founder-title">
                                                        Основатель:

                                                    </div>
                                                    <div class="franchise-catalog__card-details-founder-name">
                                                        Ильназ Набиуллин

                                                    </div>
                                                </div>
                                            </div>
                                            <div class="franchise-catalog__card-details-learn-more-links">
                                                <a href="#" class="franchise-catalog__card-details-learn-more-comments">
                                                    <svg width="22" height="22" aria-hidden="true"
                                                        class="icon-question">
                                                        <use xlink:href="#question"></use>
                                                    </svg>

                                                    13
                                                </a>
                                                <a href="#" class="franchise-catalog__card-details-learn-more-link">
                                                    Узнать больше
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="franchise-catalog__card-details-right-col">
                                    <div
                                        class="franchise-catalog__card-details-gallery-slider js-franchise-gallery-slider">
                                        <button
                                            class="franchise-catalog__card-details-gallery-slider-arrow franchise-catalog__card-details-gallery-slider-arrow--prev swiper-button-disabled">
                                            <svg width="12" height="18" aria-hidden="true" class="icon-arrow-left">
                                                <use xlink:href="#arrow-left"></use>
                                            </svg>
                                        </button>
                                        <div
                                            class="swiper-container swiper-container-initialized swiper-container-horizontal">
                                            <div class="swiper-wrapper" style="transform: translate3d(0px, 0px, 0px);">
                                                <div class="swiper-slide swiper-slide-active"
                                                    style="width: 719px; margin-right: 18px;">
                                                    <div class="franchise-catalog__card-details-gallery-slider-card">
                                                        <img src="img/franchise/gallery.jpg" alt=""
                                                            class="franchise-catalog__card-details-gallery-slider-card-image">
                                                    </div>
                                                </div>
                                                <div class="swiper-slide swiper-slide-next"
                                                    style="width: 719px; margin-right: 18px;">
                                                    <div class="franchise-catalog__card-details-gallery-slider-card">
                                                        <img src="img/franchise/gallery.jpg" alt=""
                                                            class="franchise-catalog__card-details-gallery-slider-card-image">
                                                    </div>
                                                </div>
                                                <div class="swiper-slide" style="width: 719px; margin-right: 18px;">
                                                    <div class="franchise-catalog__card-details-gallery-slider-card">
                                                        <img src="img/franchise/gallery.jpg" alt=""
                                                            class="franchise-catalog__card-details-gallery-slider-card-image">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <button
                                            class="franchise-catalog__card-details-gallery-slider-arrow franchise-catalog__card-details-gallery-slider-arrow--next">
                                            <svg width="12" height="18" aria-hidden="true" class="icon-arrow-right">
                                                <use xlink:href="#arrow-right"></use>
                                            </svg>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>


            </ul>
        </div>
    </div>
</section>

{{/content}}
{{/extend}}