{{#extend "layout"}}
{{#content "main"}}

<section class="add">
    <div class="add__top-panel">
        <div class="container">
            <div class="add__top-panel-row">
                <h1 class="add__top-panel-heading">
                    Добавление франшизы
                </h1>
                <div class="add__top-panel-saved-at">
                    Сохранено в 14:55
                </div>
                <div class="add__top-panel-buttons">
                    <a href="#" class="add__top-panel-button">
                        Предпросмотр
                    </a>
                    <a href="#" class="add__top-panel-button add__top-panel-button--save">
                        Опубликовать
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="add__progress">
        <div class="progress">
            <div class="progress__bar">
                <div class="progress__bar-static">

                </div>
                <div class="progress__bar-dynamic" style="--progress: 60%;">

                </div>
            </div>
            <div class="container">
                <div class="progress__text">
                    Заполните ваш профиль на 80% и получите доступ к расширенной<br> информации о франшизах.
                </div>
            </div>
        </div>
    </div>
    <div class="add__content">
        <div class="container">
            <div class="add__stages">
                <a href="#" class="add__stages-link">
                    <span class="add__stages-link-number">
                        1
                    </span>
                    Общая информация
                </a>
                <span class="add__stages-divider">

                </span>

                <a href="add-settings.html" class="add__stages-link">
                    <span class="add__stages-link-number">
                        2
                    </span>
                    Настройки
                </a>
                <span class="add__stages-divider">

                </span>

                <a href="add-publication.html" class="add__stages-link active">
                    <span class="add__stages-link-number">
                        3
                    </span>
                    Публикация
                </a>
            </div>


            <div class="add__layout">
                <div class="add__layout-main">

                    <div class="add__publication-block">
                        <div class="add__publication-message">
                            Поздравляю! Вы успешно заполнили свой профиль! Вы можете разместить свою франшизу,
                            либо предварительно посмотреть как будет выглядеть ваш профиль.
                        </div>

                        <div class="add__top-panel-buttons">
                            <a href="#" class="add__top-panel-button">
                                Предпросмотр
                            </a>
                            <a href="#" class="add__top-panel-button add__top-panel-button--save">
                                Опубликовать
                            </a>
                        </div>
                    </div>
                </div>
                <div class="add__layout-sidebar">
                    <div class="add__preview">
                        <h3 class="add__preview-heading">
                            помощь
                        </h3>
                        <div class="add__preview-text">
                            <p>
                                Уважаемые франчайзеры! Для Вашего удобства мы собрали правила и рекомендации по работе с
                                каталогом, можете посмотреть видео
                            </p>
                        </div>
                        <div class="add__preview-image-container">
                            <img src="img/add/1.jpg" alt="" class="add__preview-image">
                        </div>
                    </div>
                    <div class="add__nav-btns">
                        <a href="#" class="add__nav-btn">
                            <svg width="14" height="14" aria-hidden="true" class="icon-arrow-prev">
                                <use xlink:href="#arrow-prev"></use>
                            </svg>
                            Назад

                        </a>
                     
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>


{{/content}}
{{/extend}}