{{#extend "layout"}}
{{#content "main"}}

<section class="add">
    <div class="add__top-panel">
        <div class="container">
            <div class="add__top-panel-row">
                <h1 class="add__top-panel-heading">
                    Добавление франшизы
                </h1>
                <div class="add__top-panel-saved-at">
                    Сохранено в 14:55
                </div>
                <div class="add__top-panel-buttons">
                    <a href="#" class="add__top-panel-button">
                        Предпросмотр
                    </a>
                    <a href="#" class="add__top-panel-button add__top-panel-button--save">
                        Опубликовать
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="add__progress">
        <div class="progress">
            <div class="progress__bar">
                <div class="progress__bar-static">

                </div>
                <div class="progress__bar-dynamic" style="--progress: 60%;">

                </div>
            </div>
            <div class="container">
                <div class="progress__text">
                    Заполните ваш профиль на 80% и получите доступ к расширенной<br> информации о франшизах.
                </div>
            </div>
        </div>
    </div>
    <div class="add__content">
        <div class="container">
            <div class="add__stages">
                <a href="#" class="add__stages-link">
                    <span class="add__stages-link-number">
                        1
                    </span>
                    Общая информация
                </a>
                <span class="add__stages-divider">

                </span>

                <a href="add-settings.html" class="add__stages-link active">
                    <span class="add__stages-link-number">
                        2
                    </span>
                    Настройки
                </a>
                <span class="add__stages-divider">

                </span>

                <a href="add-publication.html" class="add__stages-link">
                    <span class="add__stages-link-number">
                        3
                    </span>
                    Публикация
                </a>
            </div>


            <div class="add__layout">
                <div class="add__layout-main">
                    <div class="add__change-order">
                        <h3 class="add__editor-form-heading">
                            Настройте порядок блока
                        </h3>
                        <ul class="add__editor-order-list js-blocks-order">
                            <li class="add__editor-order-list-item">
                                <a href="#" class="add__editor-order-card">
                                    первый экран

                                    <svg width="14" height="14" aria-hidden="true" class="icon-list-burger">
                                        <use xlink:href="#list-burger"></use>
                                    </svg>
                                </a>
                            </li>
                            <li class="add__editor-order-list-item">
                                <a href="#" class="add__editor-order-card disabled">
                                    описание и ключевые цифры
                                    <svg width="14" height="14" aria-hidden="true" class="icon-list-burger">
                                        <use xlink:href="#list-burger"></use>
                                    </svg>
                                </a>
                            </li>
                            <li class="add__editor-order-list-item">
                                <a href="#" class="add__editor-order-card">
                                    Требуемые компетенции
                                    <svg width="14" height="14" aria-hidden="true" class="icon-list-burger">
                                        <use xlink:href="#list-burger"></use>
                                    </svg>
                                </a>
                            </li>
                            <li class="add__editor-order-list-item">
                                <a href="#" class="add__editor-order-card disabled">
                                    о продукте
                                    <svg width="14" height="14" aria-hidden="true" class="icon-list-burger">
                                        <use xlink:href="#list-burger"></use>
                                    </svg>
                                </a>
                            </li>
                            <li class="add__editor-order-list-item">
                                <a href="#" class="add__editor-order-card">
                                    Состав франшизы
                                    <svg width="14" height="14" aria-hidden="true" class="icon-list-burger">
                                        <use xlink:href="#list-burger"></use>
                                    </svg>
                                </a>
                            </li>
                            <li class="add__editor-order-list-item">
                                <a href="#" class="add__editor-order-card disabled">
                                    Управляющая компания
                                    <svg width="14" height="14" aria-hidden="true" class="icon-list-burger">
                                        <use xlink:href="#list-burger"></use>
                                    </svg>
                                </a>
                            </li>
                            <li class="add__editor-order-list-item">
                                <a href="#" class="add__editor-order-card disabled">
                                    География (карта)
                                    <svg width="14" height="14" aria-hidden="true" class="icon-list-burger">
                                        <use xlink:href="#list-burger"></use>
                                    </svg>
                                </a>
                            </li>
                            <li class="add__editor-order-list-item">
                                <a href="#" class="add__editor-order-card disabled">
                                    Финансовые условия
                                    <svg width="14" height="14" aria-hidden="true" class="icon-list-burger">
                                        <use xlink:href="#list-burger"></use>
                                    </svg>
                                </a>
                            </li>
                            <li class="add__editor-order-list-item">
                                <a href="#" class="add__editor-order-card">
                                    пример расчета прибыли
                                    <svg width="14" height="14" aria-hidden="true" class="icon-list-burger">
                                        <use xlink:href="#list-burger"></use>
                                    </svg>
                                </a>
                            </li>
                            <li class="add__editor-order-list-item">
                                <a href="#" class="add__editor-order-card disabled">
                                    Форма обратной связи
                                    <svg width="14" height="14" aria-hidden="true" class="icon-list-burger">
                                        <use xlink:href="#list-burger"></use>
                                    </svg>
                                </a>
                            </li>
                            <li class="add__editor-order-list-item">
                                <a href="#" class="add__editor-order-card">
                                    Заявка
                                    <svg width="14" height="14" aria-hidden="true" class="icon-list-burger">
                                        <use xlink:href="#list-burger"></use>
                                    </svg>
                                </a>
                            </li>
                            <li class="add__editor-order-list-item">
                                <a href="#" class="add__editor-order-card disabled">
                                    Видео
                                    <svg width="14" height="14" aria-hidden="true" class="icon-list-burger">
                                        <use xlink:href="#list-burger"></use>
                                    </svg>
                                </a>
                            </li>
                            <li class="add__editor-order-list-item">
                                <a href="#" class="add__editor-order-card disabled">
                                    вопрос-ответ
                                    <svg width="14" height="14" aria-hidden="true" class="icon-list-burger">
                                        <use xlink:href="#list-burger"></use>
                                    </svg>
                                </a>
                            </li>
                            <li class="add__editor-order-list-item">
                                <a href="#" class="add__editor-order-card">
                                    основатели
                                    <svg width="14" height="14" aria-hidden="true" class="icon-list-burger">
                                        <use xlink:href="#list-burger"></use>
                                    </svg>
                                </a>
                            </li>
                            <li class="add__editor-order-list-item">
                                <a href="#" class="add__editor-order-card">
                                    отзывы
                                    <svg width="14" height="14" aria-hidden="true" class="icon-list-burger">
                                        <use xlink:href="#list-burger"></use>
                                    </svg>
                                </a>
                            </li>
                            <li class="add__editor-order-list-item">
                                <a href="#" class="add__editor-order-card">
                                    Заявка 2
                                    <svg width="14" height="14" aria-hidden="true" class="icon-list-burger">
                                        <use xlink:href="#list-burger"></use>
                                    </svg>
                                </a>
                            </li>
                        </ul>
                    </div>

                    <div class="add__settings-block">
                        <div class="add__settings-block-left-col">
                            <h3 class="add__editor-form-heading">
                                Уведомления рассылки
                            </h3>
                        </div>
                        <div class="add__settings-block-right-col">
                            <form action="/" method="POST" class="add__settings-block-form">
                                <label class="add__editor-form-checkbox">
                                    <input type="checkbox" name="only-auth" class="add__editor-form-checkbox-input"
                                        checked>
                                    <span class="add__editor-form-checkbox-mark">

                                    </span>
                                    <span class="add__editor-form-checkbox-text add__editor-form-checkbox-text--grey">
                                        Рассылка Betobe
                                    </span>
                                </label>
                                <label class="add__editor-form-checkbox">
                                    <input type="checkbox" name="only-auth" class="add__editor-form-checkbox-input">
                                    <span class="add__editor-form-checkbox-mark">

                                    </span>
                                    <span class="add__editor-form-checkbox-text add__editor-form-checkbox-text--grey">
                                        Готовый бизнес и франчайзинг
                                    </span>
                                </label>
                                <label class="add__editor-form-checkbox">
                                    <input type="checkbox" name="only-auth" class="add__editor-form-checkbox-input">
                                    <span class="add__editor-form-checkbox-mark">

                                    </span>
                                    <span class="add__editor-form-checkbox-text add__editor-form-checkbox-text--grey">
                                        События в личном кабинете
                                    </span>
                                </label>
                                <label class="add__editor-form-checkbox">
                                    <input type="checkbox" name="only-auth" class="add__editor-form-checkbox-input"
                                        checked>
                                    <span class="add__editor-form-checkbox-mark">

                                    </span>
                                    <span class="add__editor-form-checkbox-text add__editor-form-checkbox-text--grey">
                                        Получать по электронной почте уведомлений
                                    </span>
                                </label>
                            </form>

                        </div>
                    </div>
                    <div class="add__settings-block">
                        <div class="add__settings-block-left-col">
                            <h3 class="add__editor-form-heading">
                                Удалить франшизу
                            </h3>
                        </div>
                        <div class="add__settings-block-right-col">
                            <div class="add__settings-block-message">
                                При желании вы можете <a href="#delete-modal" class="js-modal-open">
                                    удалить свою франшизу
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="add__layout-sidebar">
                    <div class="add__preview">
                        <h3 class="add__preview-heading">
                            помощь
                        </h3>
                        <div class="add__preview-text">
                            <p>
                                Уважаемые франчайзеры! Для Вашего удобства мы собрали правила и рекомендации по работе с
                                каталогом, можете посмотреть видео
                            </p>
                        </div>
                        <div class="add__preview-image-container">
                            <img src="img/add/1.jpg" alt="" class="add__preview-image">
                        </div>
                    </div>
                    <div class="add__nav-btns">
                        <a href="#" class="add__nav-btn">
                            <svg width="14" height="14" aria-hidden="true" class="icon-arrow-prev">
                                <use xlink:href="#arrow-prev"></use>
                            </svg>
                            Назад

                        </a>
                        <a href="#" class="add__nav-btn add__nav-btn--next">
                            Далее

                            <svg width="14" height="14" aria-hidden="true" class="icon-arrow-next">
                                <use xlink:href="#arrow-next"></use>
                            </svg>
                        </a>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>


{{/content}}
{{/extend}}