{{#extend "layout"}}
{{#content "main"}}

<section class="catalog">
    <div class="container">
        <div class="catalog__header">
            <div class="catalog__header-bg">
                <img src="img/catalog-header.jpg" alt="" class="catalog__header-bg-image">
            </div>
            <div class="catalog__header-tags">
                <a href="#" class="catalog__header-tag">
                    Франшизы услуг
                </a>
                <a href="#" class="catalog__header-tag">
                    Красота и здоровье
                </a>
            </div>

            <div class="catalog__header-content">
                <div class="catalog__header-found-results">
                    291 предложение
                </div>
                <h1 class="catalog__header-main-heading">
                    Детские франшизы<br>
                    во Владивостоке
                </h1>
                <div class="catalog__header-text">
                    В этой категории вы найдёте франшизы детских садов, развивающих центров, спортивных школ, магазинов
                    детской одежды.
                </div>
            </div>
        </div>

        <ul class="catalog__categories">
            <li class="catalog__categories-list">
                <a href="#" class="catalog__categories-link">
                    Аттракционы (45)
                </a>
            </li>
            <li class="catalog__categories-list">
                <a href="#" class="catalog__categories-link">
                    Детские игрушки (64)
                </a>
            </li>
            <li class="catalog__categories-list">
                <a href="#" class="catalog__categories-link">
                    Детские товары (64)
                </a>
            </li>
            <li class="catalog__categories-list">
                <a href="#" class="catalog__categories-link">
                    Медицинские услуги(55)
                </a>
            </li>
            <li class="catalog__categories-list">
                <a href="#" class="catalog__categories-link">
                    Детская одежда (59)
                </a>
            </li>
            <li class="catalog__categories-list">
                <a href="#" class="catalog__categories-link">
                    Детские сады (46)
                </a>
            </li>
            <li class="catalog__categories-list">
                <a href="#" class="catalog__categories-link">
                    Квесты (23)
                </a>
            </li>
            <li class="catalog__categories-list">
                <a href="#" class="catalog__categories-link">
                    Развитие детей (76)
                </a>
            </li>
            <li class="catalog__categories-list">
                <a href="#" class="catalog__categories-link">
                    Интернет, ИТ и реклама (67)
                </a>
            </li>
            <li class="catalog__categories-list">
                <a href="#" class="catalog__categories-link">
                    Обучение и образование (43)
                </a>
            </li>
            <li class="catalog__categories-list">
                <a href="#" class="catalog__categories-link">
                    Развитие детей (76)
                </a>
            </li>
        </ul>
    </div>
</section>
<section class="franchise-catalog">
    <div class="container">
        <ul class="franchise-catalog__list">
            <li class="franchise-catalog__list-item">
                <div class="franchise-catalog__card">
                    <div class="franchise-catalog__card-main">
                        <a href="#" class="franchise-catalog__card-title-block">
                            <div class="franchise-catalog__card-logo-container">
                                <img src="img/franchise/chio.png" alt="" class="franchise-catalog__card-logo">
                                <span class="franchise-catalog__card-rating">
                                    <span class="franchise-catalog__card-rating-amount">
                                        8,9
                                    </span>
                                </span>
                            </div>
                            <div class="franchise-catalog__card-title-block-content">
                                <h3 class="franchise-catalog__card-title-heading">
                                    Сеть парикмахерских «Чио-Чио»
                                </h3>
                                <div class="franchise-catalog__card-title-description">
                                    <p>
                                        Чио Чио является самой быстрорастущей сетью в салонном бизнесе. Ежемесячно
                                        запускается 40-50 парикмахерских.
                                    </p>
                                </div>
                                <div class="franchise-catalog__card-open-close">
                                    <span class="franchise-catalog__card-open-close-text opened">
                                        Развернуть
                                    </span>
                                    <span class="franchise-catalog__card-open-close-text closed">
                                        Свернуть
                                    </span>
                                    <svg width="12" height="6" aria-hidden="true" class="icon-arrow-down">
                                        <use xlink:href="#arrow-down"></use>
                                    </svg>
                                </div>
                            </div>
                        </a>
                        <div class="franchise-catalog__card-specs-block">
                            <a href="#" class="franchise-catalog__card-specs-table">
                                <table>
                                    <tbody>
                                        <tr>
                                            <th>
                                                Инвестиции
                                            </th>
                                            <td>
                                                200 000 Р
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>
                                                Окупаемость
                                            </th>
                                            <td>
                                                2 месяца
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>
                                                Паушальный взнос
                                            </th>
                                            <td>
                                                200 000 Р
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </a>
                            <a href="#" class="franchise-catalog__card-specs-ratings">
                                <h4 class="franchise-catalog__card-specs-ratings-heading">
                                    Требуемые навыки
                                </h4>
                                <table class="franchise-catalog__card-specs-ratings-table">
                                    <tbody>
                                        <tr>
                                            <th>
                                                <div class="franchise-catalog__card-specs-ratings-progress-text">
                                                    Продажи
                                                </div>
                                            </th>
                                            <td>
                                                <div class="franchise-catalog__card-specs-ratings-progress-bar"
                                                    ie-style="--skill: 0.5;" style="--skill: 0.5;">

                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>
                                                <div class="franchise-catalog__card-specs-ratings-progress-text">
                                                    Закупки / склад
                                                </div>
                                            </th>
                                            <td>
                                                <div class="franchise-catalog__card-specs-ratings-progress-bar"
                                                    ie-style="--skill: 0.3;" style="--skill: 0.3;">

                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>
                                                <div class="franchise-catalog__card-specs-ratings-progress-text">
                                                    Финансы
                                                </div>
                                            </th>
                                            <td>
                                                <div class="franchise-catalog__card-specs-ratings-progress-bar"
                                                    ie-style="--skill: 0.7;" style="--skill: 0.7;">

                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>

                                </table>

                            </a>

                            <div class="franchise-catalog__card-btns">
                                <button class="franchise-catalog__card-actions-accordion-toggle">
                                    <span class="franchise-catalog__card-actions-accordion-toggle-content">
                                        <span></span>
                                        <span></span>
                                        <span></span>
                                    </span>
                                </button>
                                <div class="franchise-catalog__card-actions">

                                    <div class="franchise-catalog__card-actions-btn">
                                        <svg width="20" height="5" aria-hidden="true" class="icon-dots">
                                            <use xlink:href="#dots"></use>
                                        </svg>
                                    </div>
                                    <div class="franchise-catalog__card-actions-dropdown">
                                        <div class="franchise-catalog__card-actions-dropdown-inner">
                                            <a href="#" class="franchise-catalog__card-actions-dropdown-link">
                                                <svg width="24" height="24" aria-hidden="true" class="icon-link">
                                                    <use xlink:href="#link"></use>
                                                </svg>
                                                На страницу франшизы

                                            </a>
                                            <a href="#" class="franchise-catalog__card-actions-dropdown-link">
                                                <svg width="24" height="24" aria-hidden="true" class="icon-bubble">
                                                    <use xlink:href="#bubble"></use>
                                                </svg>
                                                На страницу франшизы

                                            </a>
                                            <a href="#" class="franchise-catalog__card-actions-dropdown-link">
                                                <svg width="24" height="24" aria-hidden="true" class="icon-info">
                                                    <use xlink:href="#info"></use>
                                                </svg>
                                                Пожаловаться
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <a href="#" class="franchise-catalog__card-like active">
                                    <svg width="20" height="20" aria-hidden="true" class="icon-star">
                                        <use xlink:href="#star"></use>
                                    </svg>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="franchise-catalog__card-details">
                    <div class="franchise-catalog__card-details-btn js-accordion-btn">
                        <span>Показать</span>
                        <span>Скрыть</span>
                    </div>
                    <div class="franchise-catalog__card-details-content js-accordion-content">
                        <div class="franchise-catalog__card-details-grid">
                            <div class="franchise-catalog__card-details-left-col">
                                <div class="franchise-catalog__card-details-social-block">
                                    <a href="#" class="franchise-catalog__card-website">
                                        chio-chio.ru
                                        <svg width="12" height="12" aria-hidden="true" class="icon-link-simple">
                                            <use xlink:href="#link-simple"></use>
                                        </svg>
                                    </a>
                                    <div class="franchise-catalog__card-details-social-links">
                                        <a href="#" class="franchise-catalog__card-details-social-link">
                                            <svg width="15" height="15" aria-hidden="true" class="icon-instagram">
                                                <use xlink:href="#instagram"></use>
                                            </svg>
                                        </a>
                                        <a href="#" class="franchise-catalog__card-details-social-link">
                                            <svg width="15" height="15" aria-hidden="true" class="icon-facebook">
                                                <use xlink:href="#facebook"></use>
                                            </svg>
                                        </a>
                                        <a href="#" class="franchise-catalog__card-details-social-link">
                                            <svg width="15" height="15" aria-hidden="true" class="icon-youtube">
                                                <use xlink:href="#youtube"></use>
                                            </svg>
                                        </a>
                                        <a href="#" class="franchise-catalog__card-details-social-link">
                                            <svg width="15" height="15" aria-hidden="true" class="icon-vk">
                                                <use xlink:href="#vk"></use>
                                            </svg>
                                        </a>
                                    </div>

                                </div>
                                <div class="franchise-catalog__card-details-description-block">
                                    <div class="franchise-catalog__card-details-description">
                                        <p>
                                            Чио Чио является самой быстрорастущей сетью в салонном бизнесе. Ежемесячно
                                            запускается 40-50 парикмахерских. За первый год масштабирования Чио Чио
                                            обогнала всех лидеров отрасли эконом- парикмахерских, которые работают на
                                            этом рынке уже 10 лет.
                                        </p>
                                    </div>
                                    <div class="franchise-catalog__card-details-table">
                                        <table>
                                            <tbody>
                                                <tr>
                                                    <th>
                                                        Средний чек
                                                    </th>
                                                    <td>
                                                        1 500 Р
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th>
                                                        География работы и продаж франшизы
                                                    </th>
                                                    <td>
                                                        РФ и СНГ
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th>
                                                        Есть ли франчбук
                                                    </th>
                                                    <td>
                                                        Да
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th>
                                                        Кол-во своих точек
                                                    </th>
                                                    <td>
                                                        5
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th>
                                                        Кол-во точек по франшизе
                                                    </th>
                                                    <td>
                                                        120
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="franchise-catalog__card-details-learn-more">
                                        <div class="franchise-catalog__card-details-founder">
                                            <div class="franchise-catalog__card-details-founder-photo-container">
                                                <img src="img/ilnaz.jpg" alt=""
                                                    class="franchise-catalog__card-details-founder-photo">
                                            </div>
                                            <div class="franchise-catalog__card-details-founder-content">
                                                <div class="franchise-catalog__card-details-founder-title">
                                                    Основатель:

                                                </div>
                                                <div class="franchise-catalog__card-details-founder-name">
                                                    Ильназ Набиуллин

                                                </div>
                                            </div>
                                        </div>
                                        <div class="franchise-catalog__card-details-learn-more-links">
                                            <a href="#" class="franchise-catalog__card-details-learn-more-comments">
                                                <svg width="22" height="22" aria-hidden="true" class="icon-question">
                                                    <use xlink:href="#question"></use>
                                                </svg>

                                                13
                                            </a>
                                            <a href="#" class="franchise-catalog__card-details-learn-more-link">
                                                Узнать больше
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="franchise-catalog__card-details-right-col">
                                <div class="franchise-catalog__card-details-gallery-slider js-franchise-gallery-slider">
                                    <button
                                        class="franchise-catalog__card-details-gallery-slider-arrow franchise-catalog__card-details-gallery-slider-arrow--prev swiper-button-disabled">
                                        <svg width="12" height="18" aria-hidden="true" class="icon-arrow-left">
                                            <use xlink:href="#arrow-left"></use>
                                        </svg>
                                    </button>
                                    <div
                                        class="swiper-container swiper-container-initialized swiper-container-horizontal">
                                        <div class="swiper-wrapper" style="transform: translate3d(0px, 0px, 0px);">
                                            <div class="swiper-slide swiper-slide-active"
                                                style="width: 719px; margin-right: 18px;">
                                                <div class="franchise-catalog__card-details-gallery-slider-card">
                                                    <img src="img/franchise/gallery.jpg" alt=""
                                                        class="franchise-catalog__card-details-gallery-slider-card-image">
                                                </div>
                                            </div>
                                            <div class="swiper-slide swiper-slide-next"
                                                style="width: 719px; margin-right: 18px;">
                                                <div class="franchise-catalog__card-details-gallery-slider-card">
                                                    <img src="img/franchise/gallery.jpg" alt=""
                                                        class="franchise-catalog__card-details-gallery-slider-card-image">
                                                </div>
                                            </div>
                                            <div class="swiper-slide" style="width: 719px; margin-right: 18px;">
                                                <div class="franchise-catalog__card-details-gallery-slider-card">
                                                    <img src="img/franchise/gallery.jpg" alt=""
                                                        class="franchise-catalog__card-details-gallery-slider-card-image">
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <button
                                        class="franchise-catalog__card-details-gallery-slider-arrow franchise-catalog__card-details-gallery-slider-arrow--next">
                                        <svg width="12" height="18" aria-hidden="true" class="icon-arrow-right">
                                            <use xlink:href="#arrow-right"></use>
                                        </svg>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li class="franchise-catalog__list-item">
                <div class="franchise-catalog__card">
                    <div class="franchise-catalog__card-main">
                        <a href="#" class="franchise-catalog__card-title-block">
                            <div class="franchise-catalog__card-logo-container">
                                <img src="img/franchise/doner.jpg" alt="" class="franchise-catalog__card-logo">
                                <span class="franchise-catalog__card-rating">
                                    <span class="franchise-catalog__card-rating-amount">
                                        7,8
                                    </span>
                                </span>
                            </div>
                            <div class="franchise-catalog__card-title-block-content">
                                <h3 class="franchise-catalog__card-title-heading">
                                    Сеть полезного фастфуда «Сеньор Денер»
                                </h3>
                                <div class="franchise-catalog__card-title-description">
                                    <p>
                                        Продано 50 франшиз за 6 месяцев на 12 500 000 Р
                                    </p>
                                </div>
                                <div class="franchise-catalog__card-open-close">
                                    <span class="franchise-catalog__card-open-close-text opened">
                                        Развернуть
                                    </span>
                                    <span class="franchise-catalog__card-open-close-text closed">
                                        Свернуть
                                    </span>
                                    <svg width="12" height="6" aria-hidden="true" class="icon-arrow-down">
                                        <use xlink:href="#arrow-down"></use>
                                    </svg>
                                </div>
                            </div>
                        </a>
                        <div class="franchise-catalog__card-specs-block">
                            <a href="#" class="franchise-catalog__card-specs-table">
                                <table>
                                    <tbody>
                                        <tr>
                                            <th>
                                                Инвестиции
                                            </th>
                                            <td>
                                                200 000 Р
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>
                                                Окупаемость
                                            </th>
                                            <td>
                                                2 месяца
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>
                                                Паушальный взнос
                                            </th>
                                            <td>
                                                200 000 Р
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </a>
                            <a href="#" class="franchise-catalog__card-specs-ratings">
                                <h4 class="franchise-catalog__card-specs-ratings-heading">
                                    Требуемые навыки
                                </h4>
                                <table class="franchise-catalog__card-specs-ratings-table">
                                    <tbody>
                                        <tr>
                                            <th>
                                                <div class="franchise-catalog__card-specs-ratings-progress-text">
                                                    Работа с людьми
                                                </div>
                                            </th>
                                            <td>
                                                <div class="franchise-catalog__card-specs-ratings-progress-bar"
                                                    ie-style="--skill: 0.5;" style="--skill: 0.5;">

                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>
                                                <div class="franchise-catalog__card-specs-ratings-progress-text">
                                                    Бизнес-процессы
                                                </div>
                                            </th>
                                            <td>
                                                <div class="franchise-catalog__card-specs-ratings-progress-bar"
                                                    ie-style="--skill: 0.3;" style="--skill: 0.7;">

                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>
                                                <div class="franchise-catalog__card-specs-ratings-progress-text">
                                                    Финансы
                                                </div>
                                            </th>
                                            <td>
                                                <div class="franchise-catalog__card-specs-ratings-progress-bar"
                                                    ie-style="--skill: 0.7;" style="--skill: 0.9;">

                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>

                                </table>

                            </a>

                            <div class="franchise-catalog__card-btns">
                                <button class="franchise-catalog__card-actions-accordion-toggle">
                                    <span class="franchise-catalog__card-actions-accordion-toggle-content">
                                        <span></span>
                                        <span></span>
                                        <span></span>
                                    </span>
                                </button>
                                <div class="franchise-catalog__card-actions">

                                    <div class="franchise-catalog__card-actions-btn">
                                        <svg width="20" height="5" aria-hidden="true" class="icon-dots">
                                            <use xlink:href="#dots"></use>
                                        </svg>
                                    </div>
                                    <div class="franchise-catalog__card-actions-dropdown">
                                        <div class="franchise-catalog__card-actions-dropdown-inner">
                                            <a href="#" class="franchise-catalog__card-actions-dropdown-link">
                                                <svg width="24" height="24" aria-hidden="true" class="icon-link">
                                                    <use xlink:href="#link"></use>
                                                </svg>
                                                На страницу франшизы

                                            </a>
                                            <a href="#" class="franchise-catalog__card-actions-dropdown-link">
                                                <svg width="24" height="24" aria-hidden="true" class="icon-bubble">
                                                    <use xlink:href="#bubble"></use>
                                                </svg>
                                                На страницу франшизы

                                            </a>
                                            <a href="#" class="franchise-catalog__card-actions-dropdown-link">
                                                <svg width="24" height="24" aria-hidden="true" class="icon-info">
                                                    <use xlink:href="#info"></use>
                                                </svg>
                                                Пожаловаться
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <a href="#" class="franchise-catalog__card-like active">
                                    <svg width="20" height="20" aria-hidden="true" class="icon-star">
                                        <use xlink:href="#star"></use>
                                    </svg>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="franchise-catalog__card-details">
                    <div class="franchise-catalog__card-details-btn js-accordion-btn">
                        <span>Показать</span>
                        <span>Скрыть</span>
                    </div>
                    <div class="franchise-catalog__card-details-content js-accordion-content">
                        <div class="franchise-catalog__card-details-grid">
                            <div class="franchise-catalog__card-details-left-col">
                                <div class="franchise-catalog__card-details-social-block">
                                    <a href="#" class="franchise-catalog__card-website">
                                        chio-chio.ru
                                        <svg width="12" height="12" aria-hidden="true" class="icon-link-simple">
                                            <use xlink:href="#link-simple"></use>
                                        </svg>
                                    </a>
                                    <div class="franchise-catalog__card-details-social-links">
                                        <a href="#" class="franchise-catalog__card-details-social-link">
                                            <svg width="15" height="15" aria-hidden="true" class="icon-instagram">
                                                <use xlink:href="#instagram"></use>
                                            </svg>
                                        </a>
                                        <a href="#" class="franchise-catalog__card-details-social-link">
                                            <svg width="15" height="15" aria-hidden="true" class="icon-facebook">
                                                <use xlink:href="#facebook"></use>
                                            </svg>
                                        </a>
                                        <a href="#" class="franchise-catalog__card-details-social-link">
                                            <svg width="15" height="15" aria-hidden="true" class="icon-youtube">
                                                <use xlink:href="#youtube"></use>
                                            </svg>
                                        </a>
                                        <a href="#" class="franchise-catalog__card-details-social-link">
                                            <svg width="15" height="15" aria-hidden="true" class="icon-vk">
                                                <use xlink:href="#vk"></use>
                                            </svg>
                                        </a>
                                    </div>

                                </div>
                                <div class="franchise-catalog__card-details-description-block">
                                    <div class="franchise-catalog__card-details-description">
                                        <p>
                                            Чио Чио является самой быстрорастущей сетью в салонном бизнесе. Ежемесячно
                                            запускается 40-50 парикмахерских. За первый год масштабирования Чио Чио
                                            обогнала всех лидеров отрасли эконом- парикмахерских, которые работают на
                                            этом рынке уже 10 лет.
                                        </p>
                                    </div>
                                    <div class="franchise-catalog__card-details-table">
                                        <table>
                                            <tbody>
                                                <tr>
                                                    <th>
                                                        Средний чек
                                                    </th>
                                                    <td>
                                                        1 500 Р
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th>
                                                        География работы и продаж франшизы
                                                    </th>
                                                    <td>
                                                        РФ и СНГ
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th>
                                                        Есть ли франчбук
                                                    </th>
                                                    <td>
                                                        Да
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th>
                                                        Кол-во своих точек
                                                    </th>
                                                    <td>
                                                        5
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th>
                                                        Кол-во точек по франшизе
                                                    </th>
                                                    <td>
                                                        120
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="franchise-catalog__card-details-learn-more">
                                        <div class="franchise-catalog__card-details-founder">
                                            <div class="franchise-catalog__card-details-founder-photo-container">
                                                <img src="img/ilnaz.jpg" alt=""
                                                    class="franchise-catalog__card-details-founder-photo">
                                            </div>
                                            <div class="franchise-catalog__card-details-founder-content">
                                                <div class="franchise-catalog__card-details-founder-title">
                                                    Основатель:

                                                </div>
                                                <div class="franchise-catalog__card-details-founder-name">
                                                    Ильназ Набиуллин

                                                </div>
                                            </div>
                                        </div>
                                        <div class="franchise-catalog__card-details-learn-more-links">
                                            <a href="#" class="franchise-catalog__card-details-learn-more-comments">
                                                <svg width="22" height="22" aria-hidden="true" class="icon-question">
                                                    <use xlink:href="#question"></use>
                                                </svg>

                                                13
                                            </a>
                                            <a href="#" class="franchise-catalog__card-details-learn-more-link">
                                                Узнать больше
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="franchise-catalog__card-details-right-col">
                                <div class="franchise-catalog__card-details-gallery-slider js-franchise-gallery-slider">
                                    <button
                                        class="franchise-catalog__card-details-gallery-slider-arrow franchise-catalog__card-details-gallery-slider-arrow--prev swiper-button-disabled">
                                        <svg width="12" height="18" aria-hidden="true" class="icon-arrow-left">
                                            <use xlink:href="#arrow-left"></use>
                                        </svg>
                                    </button>
                                    <div
                                        class="swiper-container swiper-container-initialized swiper-container-horizontal">
                                        <div class="swiper-wrapper" style="transform: translate3d(0px, 0px, 0px);">
                                            <div class="swiper-slide swiper-slide-active"
                                                style="width: 719px; margin-right: 18px;">
                                                <div class="franchise-catalog__card-details-gallery-slider-card">
                                                    <img src="img/franchise/gallery.jpg" alt=""
                                                        class="franchise-catalog__card-details-gallery-slider-card-image">
                                                </div>
                                            </div>
                                            <div class="swiper-slide swiper-slide-next"
                                                style="width: 719px; margin-right: 18px;">
                                                <div class="franchise-catalog__card-details-gallery-slider-card">
                                                    <img src="img/franchise/gallery.jpg" alt=""
                                                        class="franchise-catalog__card-details-gallery-slider-card-image">
                                                </div>
                                            </div>
                                            <div class="swiper-slide" style="width: 719px; margin-right: 18px;">
                                                <div class="franchise-catalog__card-details-gallery-slider-card">
                                                    <img src="img/franchise/gallery.jpg" alt=""
                                                        class="franchise-catalog__card-details-gallery-slider-card-image">
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <button
                                        class="franchise-catalog__card-details-gallery-slider-arrow franchise-catalog__card-details-gallery-slider-arrow--next">
                                        <svg width="12" height="18" aria-hidden="true" class="icon-arrow-right">
                                            <use xlink:href="#arrow-right"></use>
                                        </svg>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>

            <li class="franchise-catalog__list-item">
                <div class="franchise-catalog__card">
                    <div class="franchise-catalog__card-main">
                        <a href="#" class="franchise-catalog__card-title-block">
                            <div class="franchise-catalog__card-logo-container">
                                <img src="img/franchise/chio.png" alt="" class="franchise-catalog__card-logo">
                                <span class="franchise-catalog__card-rating">
                                    <span class="franchise-catalog__card-rating-amount">
                                        8,9
                                    </span>

                                </span>
                            </div>
                            <div class="franchise-catalog__card-title-block-content">
                                <h3 class="franchise-catalog__card-title-heading">
                                    Сеть парикмахерских «Чио-Чио»
                                </h3>
                                <div class="franchise-catalog__card-title-description">
                                    <p>
                                        Чио Чио является самой быстрорастущей сетью в салонном бизнесе. Ежемесячно
                                        запускается 40-50 парикмахерских.
                                    </p>
                                </div>
                                <div class="franchise-catalog__card-open-close">
                                    <span class="franchise-catalog__card-open-close-text opened">
                                        Развернуть
                                    </span>
                                    <span class="franchise-catalog__card-open-close-text closed">
                                        Свернуть
                                    </span>


                                    <svg width="12" height="6" aria-hidden="true" class="icon-arrow-down">
                                        <use xlink:href="#arrow-down"></use>
                                    </svg>
                                </div>
                            </div>
                        </a>
                        <div class="franchise-catalog__card-specs-block">
                            <div class="franchise-catalog__card-specs-table">
                                <table>
                                    <tbody>
                                        <tr>
                                            <th>
                                                Инвестиции
                                            </th>
                                            <td>
                                                200 000 Р
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>
                                                Окупаемость
                                            </th>
                                            <td>
                                                2 месяца
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>
                                                Паушальный взнос
                                            </th>
                                            <td>
                                                200 000 Р
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="franchise-catalog__card-specs-ratings">
                                <h4 class="franchise-catalog__card-specs-ratings-heading">
                                    Требуемые навыки
                                </h4>
                                <table class="franchise-catalog__card-specs-ratings-table">
                                    <tbody>
                                        <tr>
                                            <th>
                                                <div class="franchise-catalog__card-specs-ratings-progress-text">
                                                    Маркетинг
                                                </div>
                                            </th>
                                            <td>
                                                <div class="franchise-catalog__card-specs-ratings-progress-bar"
                                                    ie-style="--skill: 0.5;" style="--skill: 0.5;">

                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>
                                                <div class="franchise-catalog__card-specs-ratings-progress-text">
                                                    Продажи
                                                </div>
                                            </th>
                                            <td>
                                                <div class="franchise-catalog__card-specs-ratings-progress-bar"
                                                    ie-style="--skill: 0.3;" style="--skill: 0.3;">

                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>
                                                <div class="franchise-catalog__card-specs-ratings-progress-text">
                                                    Дизайн
                                                </div>
                                            </th>
                                            <td>
                                                <div class="franchise-catalog__card-specs-ratings-progress-bar"
                                                    ie-style="--skill: 0.7;" style="--skill: 0.7;">

                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>

                                </table>

                            </div>
                            <div class="franchise-catalog__card-btns">
                                <button class="franchise-catalog__card-actions-accordion-toggle">
                                    <span class="franchise-catalog__card-actions-accordion-toggle-content">
                                        <span></span>
                                        <span></span>
                                        <span></span>
                                    </span>
                                </button>
                                <div class="franchise-catalog__card-actions">
                                    <div class="franchise-catalog__card-actions-btn">
                                        <svg width="20" height="5" aria-hidden="true" class="icon-dots">
                                            <use xlink:href="#dots"></use>
                                        </svg>
                                    </div>
                                    <div class="franchise-catalog__card-actions-dropdown">
                                        <div class="franchise-catalog__card-actions-dropdown-inner">
                                            <a href="#" class="franchise-catalog__card-actions-dropdown-link">
                                                <svg width="24" height="24" aria-hidden="true" class="icon-link">
                                                    <use xlink:href="#link"></use>
                                                </svg>
                                                На страницу франшизы

                                            </a>
                                            <a href="#" class="franchise-catalog__card-actions-dropdown-link">
                                                <svg width="24" height="24" aria-hidden="true" class="icon-bubble">
                                                    <use xlink:href="#bubble"></use>
                                                </svg>
                                                На страницу франшизы

                                            </a>
                                            <a href="#" class="franchise-catalog__card-actions-dropdown-link">
                                                <svg width="24" height="24" aria-hidden="true" class="icon-info">
                                                    <use xlink:href="#info"></use>
                                                </svg>
                                                Пожаловаться

                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <a href="#" class="franchise-catalog__card-like">
                                    <svg width="20" height="20" aria-hidden="true" class="icon-star">
                                        <use xlink:href="#star"></use>
                                    </svg>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="franchise-catalog__card-details">
                    <div class="franchise-catalog__card-details-btn js-accordion-btn">
                        <span>Показать</span>
                        <span>Скрыть</span>
                    </div>
                    <div class="franchise-catalog__card-details-content js-accordion-content">
                        <div class="franchise-catalog__card-details-grid">
                            <div class="franchise-catalog__card-details-left-col">
                                <div class="franchise-catalog__card-details-social-block">
                                    <a href="#" class="franchise-catalog__card-website">
                                        chio-chio.ru
                                        <svg width="12" height="12" aria-hidden="true" class="icon-link-simple">
                                            <use xlink:href="#link-simple"></use>
                                        </svg>
                                    </a>
                                    <div class="franchise-catalog__card-details-social-links">
                                        <a href="#" class="franchise-catalog__card-details-social-link">
                                            <svg width="15" height="15" aria-hidden="true" class="icon-instagram">
                                                <use xlink:href="#instagram"></use>
                                            </svg>
                                        </a>
                                        <a href="#" class="franchise-catalog__card-details-social-link">
                                            <svg width="15" height="15" aria-hidden="true" class="icon-facebook">
                                                <use xlink:href="#facebook"></use>
                                            </svg>
                                        </a>
                                        <a href="#" class="franchise-catalog__card-details-social-link">
                                            <svg width="15" height="15" aria-hidden="true" class="icon-youtube">
                                                <use xlink:href="#youtube"></use>
                                            </svg>
                                        </a>
                                        <a href="#" class="franchise-catalog__card-details-social-link">
                                            <svg width="15" height="15" aria-hidden="true" class="icon-vk">
                                                <use xlink:href="#vk"></use>
                                            </svg>
                                        </a>
                                    </div>
                                    <div class="franchise-catalog__card-details-place-ratings">
                                        <a href="#" class="franchise-catalog__card-details-place-rating">
                                            <img src="img/2gis.png" alt=""
                                                class="franchise-catalog__card-details-place-rating-logo">
                                            <span class="franchise-catalog__card-details-place-rating-score">
                                                7,8
                                            </span>
                                        </a>
                                        <a href="#" class="franchise-catalog__card-details-place-rating">
                                            <img src="img/yandex.png" alt=""
                                                class="franchise-catalog__card-details-place-rating-logo">
                                            <span class="franchise-catalog__card-details-place-rating-score">
                                                8,2
                                            </span>
                                        </a>
                                        <a href="#" class="franchise-catalog__card-details-place-rating">
                                            <img src="img/google.png" alt=""
                                                class="franchise-catalog__card-details-place-rating-logo">
                                            <span class="franchise-catalog__card-details-place-rating-score">
                                                8,2
                                            </span>
                                        </a>
                                    </div>
                                </div>
                                <div class="franchise-catalog__card-details-description-block">
                                    <div class="franchise-catalog__card-details-description">
                                        <p>
                                            Чио Чио является самой быстрорастущей сетью в салонном бизнесе. Ежемесячно
                                            запускается 40-50 парикмахерских. За первый год масштабирования Чио Чио
                                            обогнала всех лидеров отрасли эконом- парикмахерских, которые работают на
                                            этом рынке уже 10 лет.
                                        </p>
                                    </div>
                                    <div class="franchise-catalog__card-details-table">
                                        <table>
                                            <tbody>
                                                <tr>
                                                    <th>
                                                        Средний чек
                                                    </th>
                                                    <td>
                                                        1 500 Р
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th>
                                                        География работы и продаж франшизы
                                                    </th>
                                                    <td>
                                                        РФ и СНГ
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th>
                                                        Есть ли франчбук
                                                    </th>
                                                    <td>
                                                        Да
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th>
                                                        Кол-во своих точек
                                                    </th>
                                                    <td>
                                                        5
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th>
                                                        Кол-во точек по франшизе
                                                    </th>
                                                    <td>
                                                        120
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="franchise-catalog__card-details-learn-more">
                                        <div class="franchise-catalog__card-details-founder">
                                            <div class="franchise-catalog__card-details-founder-photo-container">
                                                <img src="img/ilnaz.jpg" alt=""
                                                    class="franchise-catalog__card-details-founder-photo">
                                            </div>
                                            <div class="franchise-catalog__card-details-founder-content">
                                                <div class="franchise-catalog__card-details-founder-title">
                                                    Основатель:

                                                </div>
                                                <div class="franchise-catalog__card-details-founder-name">
                                                    Ильназ Набиуллин

                                                </div>
                                            </div>
                                        </div>
                                        <div class="franchise-catalog__card-details-learn-more-links">
                                            <a href="#" class="franchise-catalog__card-details-learn-more-comments">
                                                <svg width="22" height="22" aria-hidden="true" class="icon-question">
                                                    <use xlink:href="#question"></use>
                                                </svg>

                                                13
                                            </a>
                                            <a href="#" class="franchise-catalog__card-details-learn-more-link">
                                                Узнать больше
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="franchise-catalog__card-details-right-col">
                                <div class="franchise-catalog__card-details-gallery-slider js-franchise-gallery-slider">
                                    <button
                                        class="franchise-catalog__card-details-gallery-slider-arrow franchise-catalog__card-details-gallery-slider-arrow--prev swiper-button-disabled">
                                        <svg width="12" height="18" aria-hidden="true" class="icon-arrow-left">
                                            <use xlink:href="#arrow-left"></use>
                                        </svg>
                                    </button>
                                    <div
                                        class="swiper-container swiper-container-initialized swiper-container-horizontal">
                                        <div class="swiper-wrapper" style="transform: translate3d(0px, 0px, 0px);">
                                            <div class="swiper-slide swiper-slide-active"
                                                style="width: 719px; margin-right: 18px;">
                                                <div class="franchise-catalog__card-details-gallery-slider-card">
                                                    <img src="img/franchise/gallery.jpg" alt=""
                                                        class="franchise-catalog__card-details-gallery-slider-card-image">
                                                </div>
                                            </div>
                                            <div class="swiper-slide swiper-slide-next"
                                                style="width: 719px; margin-right: 18px;">
                                                <div class="franchise-catalog__card-details-gallery-slider-card">
                                                    <img src="img/franchise/gallery.jpg" alt=""
                                                        class="franchise-catalog__card-details-gallery-slider-card-image">
                                                </div>
                                            </div>
                                            <div class="swiper-slide" style="width: 719px; margin-right: 18px;">
                                                <div class="franchise-catalog__card-details-gallery-slider-card">
                                                    <img src="img/franchise/gallery.jpg" alt=""
                                                        class="franchise-catalog__card-details-gallery-slider-card-image">
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <button
                                        class="franchise-catalog__card-details-gallery-slider-arrow franchise-catalog__card-details-gallery-slider-arrow--next">
                                        <svg width="12" height="18" aria-hidden="true" class="icon-arrow-right">
                                            <use xlink:href="#arrow-right"></use>
                                        </svg>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li class="franchise-catalog__list-item">
                <div class="franchise-catalog__card">
                    <div class="franchise-catalog__card-main">
                        <a href="#" class="franchise-catalog__card-title-block">
                            <div class="franchise-catalog__card-logo-container">
                                <img src="img/franchise/doner.jpg" alt="" class="franchise-catalog__card-logo">
                                <span class="franchise-catalog__card-rating">
                                    <span class="franchise-catalog__card-rating-amount">
                                        7,8
                                    </span>
                                </span>
                            </div>
                            <div class="franchise-catalog__card-title-block-content">
                                <h3 class="franchise-catalog__card-title-heading">
                                    Сеть полезного фастфуда «Сеньор Денер»
                                </h3>
                                <div class="franchise-catalog__card-title-description">
                                    <p>
                                        Продано 50 франшиз за 6 месяцев на 12 500 000 Р
                                    </p>
                                </div>
                                <div class="franchise-catalog__card-open-close">
                                    <span class="franchise-catalog__card-open-close-text opened">
                                        Развернуть
                                    </span>
                                    <span class="franchise-catalog__card-open-close-text closed">
                                        Свернуть
                                    </span>
                                    <svg width="12" height="6" aria-hidden="true" class="icon-arrow-down">
                                        <use xlink:href="#arrow-down"></use>
                                    </svg>
                                </div>
                            </div>
                        </a>
                        <div class="franchise-catalog__card-specs-block">
                            <a href="#" class="franchise-catalog__card-specs-table">
                                <table>
                                    <tbody>
                                        <tr>
                                            <th>
                                                Инвестиции
                                            </th>
                                            <td>
                                                200 000 Р
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>
                                                Окупаемость
                                            </th>
                                            <td>
                                                2 месяца
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>
                                                Паушальный взнос
                                            </th>
                                            <td>
                                                200 000 Р
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </a>
                            <a href="#" class="franchise-catalog__card-specs-ratings">
                                <h4 class="franchise-catalog__card-specs-ratings-heading">
                                    Требуемые навыки
                                </h4>
                                <table class="franchise-catalog__card-specs-ratings-table">
                                    <tbody>
                                        <tr>
                                            <th>
                                                <div class="franchise-catalog__card-specs-ratings-progress-text">
                                                    Маркетинг
                                                </div>
                                            </th>
                                            <td>
                                                <div class="franchise-catalog__card-specs-ratings-progress-bar"
                                                    ie-style="--skill: 0.5;" style="--skill: 0.5;">

                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>
                                                <div class="franchise-catalog__card-specs-ratings-progress-text">
                                                    Продажи
                                                </div>
                                            </th>
                                            <td>
                                                <div class="franchise-catalog__card-specs-ratings-progress-bar"
                                                    ie-style="--skill: 0.3;" style="--skill: 0.7;">

                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>
                                                <div class="franchise-catalog__card-specs-ratings-progress-text">
                                                    Дизайн
                                                </div>
                                            </th>
                                            <td>
                                                <div class="franchise-catalog__card-specs-ratings-progress-bar"
                                                    ie-style="--skill: 0.7;" style="--skill: 0.9;">

                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>

                                </table>

                            </a>

                            <div class="franchise-catalog__card-btns">
                                <button class="franchise-catalog__card-actions-accordion-toggle">
                                    <span class="franchise-catalog__card-actions-accordion-toggle-content">
                                        <span></span>
                                        <span></span>
                                        <span></span>
                                    </span>
                                </button>
                                <div class="franchise-catalog__card-actions">

                                    <div class="franchise-catalog__card-actions-btn">
                                        <svg width="20" height="5" aria-hidden="true" class="icon-dots">
                                            <use xlink:href="#dots"></use>
                                        </svg>
                                    </div>
                                    <div class="franchise-catalog__card-actions-dropdown">
                                        <div class="franchise-catalog__card-actions-dropdown-inner">
                                            <a href="#" class="franchise-catalog__card-actions-dropdown-link">
                                                <svg width="24" height="24" aria-hidden="true" class="icon-link">
                                                    <use xlink:href="#link"></use>
                                                </svg>
                                                На страницу франшизы

                                            </a>
                                            <a href="#" class="franchise-catalog__card-actions-dropdown-link">
                                                <svg width="24" height="24" aria-hidden="true" class="icon-bubble">
                                                    <use xlink:href="#bubble"></use>
                                                </svg>
                                                На страницу франшизы

                                            </a>
                                            <a href="#" class="franchise-catalog__card-actions-dropdown-link">
                                                <svg width="24" height="24" aria-hidden="true" class="icon-info">
                                                    <use xlink:href="#info"></use>
                                                </svg>
                                                Пожаловаться
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <a href="#" class="franchise-catalog__card-like active">
                                    <svg width="20" height="20" aria-hidden="true" class="icon-star">
                                        <use xlink:href="#star"></use>
                                    </svg>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="franchise-catalog__card-details">
                    <div class="franchise-catalog__card-details-btn js-accordion-btn">
                        <span>Показать</span>
                        <span>Скрыть</span>
                    </div>
                    <div class="franchise-catalog__card-details-content js-accordion-content">
                        <div class="franchise-catalog__card-details-grid">
                            <div class="franchise-catalog__card-details-left-col">
                                <div class="franchise-catalog__card-details-social-block">
                                    <a href="#" class="franchise-catalog__card-website">
                                        chio-chio.ru
                                        <svg width="12" height="12" aria-hidden="true" class="icon-link-simple">
                                            <use xlink:href="#link-simple"></use>
                                        </svg>
                                    </a>
                                    <div class="franchise-catalog__card-details-social-links">
                                        <a href="#" class="franchise-catalog__card-details-social-link">
                                            <svg width="15" height="15" aria-hidden="true" class="icon-instagram">
                                                <use xlink:href="#instagram"></use>
                                            </svg>
                                        </a>
                                        <a href="#" class="franchise-catalog__card-details-social-link">
                                            <svg width="15" height="15" aria-hidden="true" class="icon-facebook">
                                                <use xlink:href="#facebook"></use>
                                            </svg>
                                        </a>
                                        <a href="#" class="franchise-catalog__card-details-social-link">
                                            <svg width="15" height="15" aria-hidden="true" class="icon-youtube">
                                                <use xlink:href="#youtube"></use>
                                            </svg>
                                        </a>
                                        <a href="#" class="franchise-catalog__card-details-social-link">
                                            <svg width="15" height="15" aria-hidden="true" class="icon-vk">
                                                <use xlink:href="#vk"></use>
                                            </svg>
                                        </a>
                                    </div>

                                </div>
                                <div class="franchise-catalog__card-details-description-block">
                                    <div class="franchise-catalog__card-details-description">
                                        <p>
                                            Чио Чио является самой быстрорастущей сетью в салонном бизнесе. Ежемесячно
                                            запускается 40-50 парикмахерских. За первый год масштабирования Чио Чио
                                            обогнала всех лидеров отрасли эконом- парикмахерских, которые работают на
                                            этом рынке уже 10 лет.
                                        </p>
                                    </div>
                                    <div class="franchise-catalog__card-details-table">
                                        <table>
                                            <tbody>
                                                <tr>
                                                    <th>
                                                        Средний чек
                                                    </th>
                                                    <td>
                                                        1 500 Р
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th>
                                                        География работы и продаж франшизы
                                                    </th>
                                                    <td>
                                                        РФ и СНГ
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th>
                                                        Есть ли франчбук
                                                    </th>
                                                    <td>
                                                        Да
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th>
                                                        Кол-во своих точек
                                                    </th>
                                                    <td>
                                                        5
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th>
                                                        Кол-во точек по франшизе
                                                    </th>
                                                    <td>
                                                        120
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="franchise-catalog__card-details-learn-more">
                                        <div class="franchise-catalog__card-details-founder">
                                            <div class="franchise-catalog__card-details-founder-photo-container">
                                                <img src="img/ilnaz.jpg" alt=""
                                                    class="franchise-catalog__card-details-founder-photo">
                                            </div>
                                            <div class="franchise-catalog__card-details-founder-content">
                                                <div class="franchise-catalog__card-details-founder-title">
                                                    Основатель:

                                                </div>
                                                <div class="franchise-catalog__card-details-founder-name">
                                                    Ильназ Набиуллин

                                                </div>
                                            </div>
                                        </div>
                                        <div class="franchise-catalog__card-details-learn-more-links">
                                            <a href="#" class="franchise-catalog__card-details-learn-more-comments">
                                                <svg width="22" height="22" aria-hidden="true" class="icon-question">
                                                    <use xlink:href="#question"></use>
                                                </svg>

                                                13
                                            </a>
                                            <a href="#" class="franchise-catalog__card-details-learn-more-link">
                                                Узнать больше
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="franchise-catalog__card-details-right-col">
                                <div class="franchise-catalog__card-details-gallery-slider js-franchise-gallery-slider">
                                    <button
                                        class="franchise-catalog__card-details-gallery-slider-arrow franchise-catalog__card-details-gallery-slider-arrow--prev swiper-button-disabled">
                                        <svg width="12" height="18" aria-hidden="true" class="icon-arrow-left">
                                            <use xlink:href="#arrow-left"></use>
                                        </svg>
                                    </button>
                                    <div
                                        class="swiper-container swiper-container-initialized swiper-container-horizontal">
                                        <div class="swiper-wrapper" style="transform: translate3d(0px, 0px, 0px);">
                                            <div class="swiper-slide swiper-slide-active"
                                                style="width: 719px; margin-right: 18px;">
                                                <div class="franchise-catalog__card-details-gallery-slider-card">
                                                    <img src="img/franchise/gallery.jpg" alt=""
                                                        class="franchise-catalog__card-details-gallery-slider-card-image">
                                                </div>
                                            </div>
                                            <div class="swiper-slide swiper-slide-next"
                                                style="width: 719px; margin-right: 18px;">
                                                <div class="franchise-catalog__card-details-gallery-slider-card">
                                                    <img src="img/franchise/gallery.jpg" alt=""
                                                        class="franchise-catalog__card-details-gallery-slider-card-image">
                                                </div>
                                            </div>
                                            <div class="swiper-slide" style="width: 719px; margin-right: 18px;">
                                                <div class="franchise-catalog__card-details-gallery-slider-card">
                                                    <img src="img/franchise/gallery.jpg" alt=""
                                                        class="franchise-catalog__card-details-gallery-slider-card-image">
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <button
                                        class="franchise-catalog__card-details-gallery-slider-arrow franchise-catalog__card-details-gallery-slider-arrow--next">
                                        <svg width="12" height="18" aria-hidden="true" class="icon-arrow-right">
                                            <use xlink:href="#arrow-right"></use>
                                        </svg>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>

    </div>
</section>


<section class="maybe-interesting">
    <div class="container">
        <h2 class="maybe-interesting__heading">
            Вам может быть интересно
        </h2>
        <div class="maybe-interesting__slider js-maybe-interesting-slider">

            <button class="populars__slider-arrow populars__slider-arrow--prev">
                <svg width="12" height="12" aria-hidden="true" class="icon-arrow-left">
                    <use xlink:href="#arrow-left"></use>
                </svg>
            </button>
            <button class="populars__slider-arrow populars__slider-arrow--next">
                <svg width="12" height="12" aria-hidden="true" class="icon-arrow-right">
                    <use xlink:href="#arrow-right"></use>
                </svg>
            </button>
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <a href="#" class="maybe-interesting__slider-card">
                            <div class="maybe-interesting__slider-card-bg">
                                <img src="img/maybe-interesting/1.jpg" alt=""
                                    class="maybe-interesting__slider-card-bg-image">
                            </div>
                            <div class="franchise-intro__tags maybe-interesting__slider-card-tags">
                                <span class="franchise-intro__tag">
                                    Красота и здоровье
                                </span>
                            </div>
                            <h4 class="maybe-interesting__slider-card-title">
                                «Чио Чио» японская<br> парикмахерская
                            </h4>
                            <div class="maybe-interesting__slider-card-text">
                                Чио Чио является самой быстрорастущей<br> сетью в салонном бизнесе.
                            </div>
                        </a>
                    </div>


                    <div class="swiper-slide">
                        <a href="#" class="maybe-interesting__slider-card">
                            <div class="maybe-interesting__slider-card-bg">
                                <img src="img/maybe-interesting/2.jpg" alt=""
                                    class="maybe-interesting__slider-card-bg-image">
                            </div>
                            <div class="franchise-intro__tags maybe-interesting__slider-card-tags">
                                <span class="franchise-intro__tag">
                                    Общепит
                                </span>
                            </div>
                            <h4 class="maybe-interesting__slider-card-title">
                                Сеть полезного фастфуда<br> «Сеньор Денер»
                            </h4>
                            <div class="maybe-interesting__slider-card-text">
                                Чио Чио является самой быстрорастущей<br> сетью в салонном бизнесе.
                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="#" class="maybe-interesting__slider-card">
                            <div class="maybe-interesting__slider-card-bg">
                                <img src="img/maybe-interesting/3.jpg" alt=""
                                    class="maybe-interesting__slider-card-bg-image">
                            </div>
                            <div class="franchise-intro__tags maybe-interesting__slider-card-tags">
                                <span class="franchise-intro__tag">
                                    Красота и здоровье
                                </span>
                            </div>
                            <h4 class="maybe-interesting__slider-card-title">
                                «Чио Чио» японская<br> парикмахерская
                            </h4>
                            <div class="maybe-interesting__slider-card-text">
                                Чио Чио является самой быстрорастущей<br> сетью в салонном бизнесе.
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{{/content}}
{{/extend}}