{{#extend "layout"}}
{{#content "main"}}


<section class="franchise-intro js-franchise-intro">
    <div class="franchise-intro__slider">
        <div class="swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="franchise-intro__slider-card">
                        <img src="img/franchise-intro/chio-gallery-1.jpg" alt=""
                            class="franchise-intro__slider-card-image">
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="franchise-intro__slider-card">
                        <img src="img/franchise-intro/chio-gallery-1.jpg" alt=""
                            class="franchise-intro__slider-card-image">
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="franchise-intro__slider-card">
                        <img src="img/franchise-intro/chio-gallery-1.jpg" alt=""
                            class="franchise-intro__slider-card-image">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="franchise-intro__content">

            <div class="franchise-intro__content-top-row">
                <div class="franchise-intro__tags">
                    <a href="#" class="franchise-intro__tag">
                        Франшизы услуг
                    </a>
                    <a href="#" class="franchise-intro__tag">
                        Красота и здоровье
                    </a>
                </div>
                <div class="franchise-intro__contacts">
                    <a href="tel:+74998775143" class="franchise-intro__phone-link">+7 (499) 877-51-43</a>
                    <a href="#" class="franchise-intro__write-link">
                        Написать представителю
                    </a>
                </div>
            </div>
            <div class="franchise-intro__content-middle-row">
                <img src="img/chio-logo.png" alt="" width="192" class="franchise-intro__logo-image">
                <h1 class="franchise-intro__title">
                    Франшиза самой крупной сети японских парикмахерских
                </h1>
                <div class="franchise-intro__desc">
                    524 партнера в 145 городах и 3 странах мира
                </div>
            </div>
            <div class="franchise-intro__content-bottom-row">
                <div class="franchise-intro__rating">
                    <div class="franchise-intro__rating-cloud">
                        8,9
                    </div>
                    <div class="franchise-intro__rating-count">
                        13 отзывов
                    </div>
                    <a href="#" class="franchise-intro__rating-save">
                        <svg width="22" height="22" aria-hidden="true" class="icon-rating-star">
                            <use xlink:href="#rating-star"></use>
                        </svg>
                        В избранное
                    </a>
                </div>
                <div class="franchise-intro__members">
                    Франчайзи:
                    <ul class="franchise-intro__members-list">
                        <li class="franchise-intro__members-list-item">
                            <a href="#" class="franchise-intro__member-card">
                                <img src="img/members/1.jpg" alt="" class="franchise-intro__member-card-photo">
                            </a>
                        </li>
                        <li class="franchise-intro__members-list-item">
                            <a href="#" class="franchise-intro__member-card">
                                <img src="img/members/2.jpg" alt="" class="franchise-intro__member-card-photo">
                            </a>
                        </li>
                        <li class="franchise-intro__members-list-item">
                            <a href="#" class="franchise-intro__member-card">
                                <img src="img/members/3.jpg" alt="" class="franchise-intro__member-card-photo">
                            </a>
                        </li>
                        <li class="franchise-intro__members-list-item">
                            <a href="#" class="franchise-intro__member-card">
                                <img src="img/members/4.jpg" alt="" class="franchise-intro__member-card-photo">
                            </a>
                        </li>
                    </ul>
                    <a href="#" class="franchise-intro__read-more">
                        +210
                    </a>
                </div>
            </div>
            <button class="franchise-intro__arrow franchise-intro__arrow--prev">
                <svg width="16" height="25" aria-hidden="true" class="icon-arrow-left">
                    <use xlink:href="#arrow-left"></use>
                </svg>
            </button>
            <button class="franchise-intro__arrow franchise-intro__arrow--next">
                <svg width="16" height="25" aria-hidden="true" class="icon-arrow-right">
                    <use xlink:href="#arrow-right"></use>
                </svg>
            </button>
        </div>
    </div>
</section>
<section class="franchise-description">
    <div class="container">
        <div class="inner-container">
            <h2 class="franchise-description__heading">
                описание франшизы
            </h2>
            <div class="franchise-description__layout">
                <div class="franchise-description__text">
                    <p>
                        «Чио Чио» — это сеть экспресс-парикмахерских. Стрижка стоит 200 рублей, мастер тратит на нее 15
                        минут. Мы запустили сеть в 2017 году. «Чио чио» самая крупная в России сеть парикмахерских,
                        более
                        300 точек в РФ и СНГ.
                    </p>
                    <p>
                        «Чио Чио» — это сеть экспресс-парикмахерских. Стрижка стоит 200 рублей, мастер тратит на нее 15
                        минут.
                    </p>
                </div>
                <div class="franchise-description__ratings">
                    <div class="franchise-description__ratings-table">
                        <table>
                            <tr>
                                <th>
                                    Средний чек
                                </th>
                                <td>
                                    1 500 Р
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    Есть ли франчбук
                                </th>
                                <td>
                                    Да
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    Сайт
                                </th>
                                <td>
                                    chio-chio.ru
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    Соцсети
                                </th>
                                <td>
                                    <div class="franchise-description__social">
                                        <a href="#" class="franchise-description__social-link">
                                            <svg width="15" height="15" aria-hidden="true" class="icon-instagram">
                                                <use xlink:href="#instagram"></use>
                                            </svg>
                                        </a>
                                        <a href="#" class="franchise-description__social-link">
                                            <svg width="15" height="15" aria-hidden="true" class="icon-facebook">
                                                <use xlink:href="#facebook"></use>
                                            </svg>
                                        </a>
                                        <a href="#" class="franchise-description__social-link">
                                            <svg width="15" height="15" aria-hidden="true" class="icon-youtube">
                                                <use xlink:href="#youtube"></use>
                                            </svg>
                                        </a>
                                        <a href="#" class="franchise-description__social-link">
                                            <svg width="15" height="15" aria-hidden="true" class="icon-vk">
                                                <use xlink:href="#vk"></use>
                                            </svg>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="franchise-description__ratings-items">
                        <div class="franchise-description__ratings-item">
                            <img src="img/2gis.png" alt="" class="franchise-description__ratings-item-image">
                            <div class="franchise-description__ratings-item-amount">
                                7,8
                            </div>
                        </div>
                        <div class="franchise-description__ratings-item">
                            <img src="img/yandex.png" alt="" class="franchise-description__ratings-item-image">
                            <div class="franchise-description__ratings-item-amount">
                                8,2
                            </div>
                        </div>
                        <div class="franchise-description__ratings-item">
                            <img src="img/google.png" alt="" class="franchise-description__ratings-item-image">
                            <div class="franchise-description__ratings-item-amount">
                                8,1
                            </div>
                        </div>
                    </div>

                </div>
                <div class="franchise-description__specs">
                    <div class="franchise-description__specs-item">
                        <div class="franchise-description__specs-item-title">
                            инвестиции
                        </div>
                        <div class="franchise-description__specs-item-amount">
                            от 1 100 000 ₽
                        </div>
                    </div>
                    <div class="franchise-description__specs-item">
                        <div class="franchise-description__specs-item-title">
                            окупаемость
                        </div>
                        <div class="franchise-description__specs-item-amount">
                            18 месяцев
                        </div>
                    </div>
                    <div class="franchise-description__specs-item">
                        <div class="franchise-description__specs-item-title">
                            месячная прибыль
                        </div>
                        <div class="franchise-description__specs-item-amount">
                            100 000 ₽
                        </div>
                    </div>
                    <div class="franchise-description__specs-item">
                        <div class="franchise-description__specs-item-title">
                            год основания
                        </div>
                        <div class="franchise-description__specs-item-amount">
                            2017
                        </div>
                    </div>
                    <div class="franchise-description__specs-item">
                        <div class="franchise-description__specs-item-title">
                            открыто по франшизе
                        </div>
                        <div class="franchise-description__specs-item-amount">
                            300
                        </div>
                    </div>
                    <div class="franchise-description__specs-item">
                        <div class="franchise-description__specs-item-title">
                            партнеров
                        </div>
                        <div class="franchise-description__specs-item-amount">
                            524
                        </div>
                    </div>
                </div>
                <div class="franchise-description__competencies">
                    <h3 class="franchise-description__competencies-heading">
                        требуемые компетенции

                        <svg width="22" height="22" aria-hidden="true" class="icon-details">
                            <use xlink:href="#details"></use>
                        </svg>
                    </h3>
                    <div class="franchise-description__competencies-items">
                        <div class="franchise-description__competencies-item">
                            <div class="franchise-description__competencies-item-icon-container">
                                <img src="img/franchise/marketing.png" alt=""
                                    class="franchise-description__competencies-item-icon-image">
                                <div class="franchise-description__competencies-item-amount">
                                    5
                                </div>
                            </div>
                            <div class="franchise-description__competencies-item-title">
                                Маркетинг
                            </div>
                        </div>
                        <div class="franchise-description__competencies-item">
                            <div class="franchise-description__competencies-item-icon-container">
                                <img src="img/franchise/sales.png" alt=""
                                    class="franchise-description__competencies-item-icon-image">

                                <div class="franchise-description__competencies-item-amount">
                                    3
                                </div>
                            </div>
                            <div class="franchise-description__competencies-item-title">
                                Продажи
                            </div>
                        </div>
                        <div class="franchise-description__competencies-item">
                            <div class="franchise-description__competencies-item-icon-container">
                                <img src="img/franchise/reviews.png" alt=""
                                    class="franchise-description__competencies-item-icon-image">

                                <div class="franchise-description__competencies-item-amount">
                                    4
                                </div>
                            </div>
                            <div class="franchise-description__competencies-item-title">
                                Работа с людьми
                            </div>
                        </div>
                    </div>
                </div>
                <div class="franchise-description__buttons">
                    <a href="#" class="franchise-description__button">
                        Получить бизнес-план
                    </a>
                    <a href="#" class="franchise-description__button">
                        Получить консультацию
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="sticky-nav js-sticky-nav">
    <div class="container">
        <div class="sticky-nav__row">
            <div class="sticky-nav__links">
                <a href="#to-product" class="sticky-nav__link">
                    продукт
                </a>
                <a href="#to-components" class="sticky-nav__link">
                    состав франшизы
                </a>
                <a href="#to-geography" class="sticky-nav__link">
                    география
                </a>
                <a href="#to-financial" class="sticky-nav__link">
                    финансовые условия
                </a>
                <a href="#to-reviews" class="sticky-nav__link">
                    отзывы
                </a>
                <a href="#to-faq" class="sticky-nav__link">
                    вопрос-ответ
                </a>
                <a href="#to-founders" class="sticky-nav__link">
                    основатель
                </a>
                <div class="sticky-nav__more">
                    <div class="sticky-nav__more-btn">
                        еще
                        <svg width="18" height="4" aria-hidden="true" class="icon-dots">
                            <use xlink:href="#dots"></use>
                        </svg>
                    </div>
                    <div class="sticky-nav__more-dropdown">
                        <div class="sticky-nav__more-dropdown-inner">
                            <a href="#" class="sticky-nav__more-dropdown-link">
                                Ссылка 1
                            </a>
                            <a href="#" class="sticky-nav__more-dropdown-link">
                                Ссылка 2
                            </a>
                            <a href="#" class="sticky-nav__more-dropdown-link">
                                Ссылка 3
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <a href="#" class="sticky-nav__contact">
                связаться

            </a>
        </div>
    </div>
</section>

<section class="franchise-about" id="product">
    <div class="container">
        <div class="inner-container">
            <h2 class="franchise-about__heading">
                О франшизе
            </h2>
            <div class="franchise-about__description">
                «Чио Чио» — это сеть экспресс-парикмахерских.<br>
                Стрижка стоит 200 рублей, мастер тратит на нее 15 минут.
            </div>
            <ul class="franchise-about__features-list">
                <li class="franchise-about__features-list-item">
                    <a href="#" class="franchise-about__features-card">
                        <h4 class="franchise-about__features-card-title">
                            <img src="img/features/1.png" alt="" class="franchise-about__features-card-title-image">
                            Огромный спрос на алкоголь
                        </h4>
                        <div class="franchise-about__features-card-text">
                            <p>
                                Самые крупные капиталы зарабатывались в том числе на алкоголе. Особенно в кризис.
                            </p>
                        </div>
                    </a>
                </li>
                <li class="franchise-about__features-list-item">
                    <a href="#" class="franchise-about__features-card">
                        <h4 class="franchise-about__features-card-title">
                            <img src="img/features/2.png" alt="" class="franchise-about__features-card-title-image">
                            Товар с отсрочкой платежа
                        </h4>
                        <div class="franchise-about__features-card-text">
                            <p>
                                Простой бизнес, не нужны большие вложения. Купил, продал, отдал. Главное знать
                                определен- ные юридические тонкости и уметь работать с товарной матрицей и поставщиками.
                            </p>
                        </div>
                    </a>
                </li>
                <li class="franchise-about__features-list-item">
                    <a href="#" class="franchise-about__features-card">
                        <h4 class="franchise-about__features-card-title">
                            <img src="img/features/3.png" alt="" class="franchise-about__features-card-title-image">
                            Зарабатываем, пока конкуренты спят
                        </h4>
                        <div class="franchise-about__features-card-text">
                            <p>
                                Бристоль, Красное&Белое работают только до 22:00. Мы же продаем круглосуточно, как раз в
                                пик продаж. Наценка до 130%.
                            </p>
                        </div>
                    </a>
                </li>
            </ul>
            <div class="franchise-about__text-content">
                <p>
                    «Чио Чио» — это сеть экспресс-парикмахерских. Стрижка стоит 200 рублей, мастер тратит на нее 15
                    минут. Мы запустили сеть в 2017 году.




                </p>
                <p>
                    «Чио чио» самая крупная в России сеть парикмахерских, более 300 точек в РФ и СНГ. «Чио Чио» — это
                    сеть экспресс-парикмахерских. Стрижка стоит 200 рублей, мастер тратит на нее 15 минут. Мы запустили
                    сеть в 2017 году.
                </p>
            </div>
        </div>
    </div>
</section>

<section class="franchise-mosaic" id="gallery">
    <div class="container">
        <div class="inner-container">
            <div class="franchise-mosaic__text">
                «Чио Чио» — это сеть экспресс-парикмахерских. <br>
                Стрижка стоит 200 рублей, мастер тратит на нее 15 минут.
            </div>
        </div>
    </div>
    <div class="franchise-mosaic__slider js-mosaic-slider">
        <button class="franchise-mosaic__slider-arrow franchise-mosaic__slider-arrow--prev">
            <svg width="12" height="20" aria-hidden="true" class="icon-arrow-left">
                <use xlink:href="#arrow-left"></use>
            </svg>
        </button>
        <div class="swiper-container">
            <div class="swiper-wrapper franchise-mosaic__photos">
                <div class="swiper-slide franchise-mosaic__photo-item">
                    <img src="img/franchise-mosaic/1.jpg" alt="" class="franchise-mosaic__photo">
                </div>
                <div class="swiper-slide franchise-mosaic__photo-item">
                    <img src="img/franchise-mosaic/2.jpg" alt="" class="franchise-mosaic__photo">
                </div>
                <div class="swiper-slide franchise-mosaic__photo-item">
                    <img src="img/franchise-mosaic/3.jpg" alt="" class="franchise-mosaic__photo">
                </div>
                <div class="swiper-slide franchise-mosaic__photo-item">
                    <img src="img/franchise-mosaic/4.jpg" alt="" class="franchise-mosaic__photo">
                </div>
               
            </div>
        </div>
        <button class="franchise-mosaic__slider-arrow franchise-mosaic__slider-arrow--next">
            <svg width="12" height="20" aria-hidden="true" class="icon-arrow-right">
                <use xlink:href="#arrow-right"></use>
            </svg>
        </button>
    </div>

</section>


<section class="franchise-features" id="features">
    <div class="container">
        <div class="inner-container">
            <div class="franchise-features__blocks">
                <div class="franchise-features__block">
                    <div class="franchise-features__block-content">
                        <h3 class="franchise-features__block-heading">
                            «Чио Чио» — это сеть экспресс- парикмахерских.


                        </h3>
                        <div class="franchise-features__block-text">
                            «Чио чио» самая крупная в России сеть парикмахерских, более 300 точек в РФ и СНГ. «Чио
                            Чио» — это сеть экспресс-парикмахерских. Стрижка стоит 200 рублей, мастер тратит на нее 15
                            минут. Мы запустили сеть в 2017 году.
                        </div>
                    </div>
                    <div class="franchise-features__block-illustration">
                        <img src="img/franchise-features/1.png" alt=""
                            class="franchise-features__block-illustration-image">
                    </div>
                </div>
                <div class="franchise-features__block">
                    <div class="franchise-features__block-content">
                        <h3 class="franchise-features__block-heading">
                            Стрижка стоит 200 рублей, мастер тратит на нее 15 минут. Мы запустили сеть в 2017 году.
                        </h3>
                        <div class="franchise-features__block-text">
                            «Чио чио» самая крупная в России сеть парикмахерских, более 300 точек в РФ и СНГ. «Чио
                            Чио» — это сеть экспресс-парикмахерских. Стрижка стоит 200 рублей, мастер тратит на нее 15
                            минут. Мы запустили сеть в 2017 году.
                        </div>
                    </div>
                    <div class="franchise-features__block-illustration">
                        <img src="img/franchise-features/2.png" alt=""
                            class="franchise-features__block-illustration-image">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="franchise-components" id="components">
    <div class="container">
        <div class="inner-container">
            <div class="franchise-components__row">
                <div class="franchise-components__content">
                    <h2 class="franchise-components__heading">
                        Состав франшизы
                    </h2>
                    <div class="franchise-components__text">
                        <p>
                            Наш бизнес-бук состоит из 182 страниц и подробно описывает наш опыт по открытию
                            парикмахерских по
                            всей России — всё это будет доступно и вам.
                        </p>
                        <p>
                            Чтобы вы лучше поняли, как устроен наш бизнес-бук, несколько тем для ознакомления мы открыли
                            всем
                            желающим.
                        </p>
                    </div>
                </div>
                <img src="img/chio-book.png" alt="" class="franchise-components__image">
            </div>
            <ul class="franchise-components__list">
                <li class="franchise-components__list-item">
                    Введение
                </li>
                <li class="franchise-components__list-item">
                    Cтруктура подбора персонала
                </li>
                <li class="franchise-components__list-item">
                    Автоматизация работы
                </li>
                <li class="franchise-components__list-item">
                    Поиск помещения
                </li>
                <li class="franchise-components__list-item">
                    Управление парикмахерской
                </li>
                <li class="franchise-components__list-item">
                    Косметика
                </li>
                <li class="franchise-components__list-item">
                    Ремонт помещения
                </li>
                <li class="franchise-components__list-item">
                    Обучение парикмахеров
                </li>
                <li class="franchise-components__list-item">
                    Запуск франчайзи
                </li>
                <li class="franchise-components__list-item">
                    Документооборот и бухгалтерия
                </li>
                <li class="franchise-components__list-item">
                    Оборудование
                </li>
                <li class="franchise-components__list-item">
                    Маркетинг
                </li>
                <li class="franchise-components__list-item">
                    Персонал
                </li>
                <li class="franchise-components__list-item">
                    Стандарты «Чио Чио»
                </li>
                <li class="franchise-components__list-item">
                    Взаимодествие с франчайзером
                </li>
            </ul>

        </div>
    </div>
</section>

<section class="franchise-company">
    <div class="container">
        <div class="inner-container">
            <h2 class="franchise-company__heading">
                Управляющая компания
            </h2>
            <div class="franchise-company__row">
                <div class="franchise-company__left-col">
                    <h3 class="franchise-company__title">
                        УК “Чио-Чио Консалтинг”

                        <img src="img/chio-logo.png" alt="" class="franchise-company__title-logo">
                    </h3>
                    <div class="franchise-company__description">
                        <p>
                            Наш бизнес-бук состоит из 182 страниц и подробно описывает наш опыт по открытию
                            парикмахерских по всей России — всё это будет доступно и вам.
                        </p>
                    </div>
                    <div class="franchise-company__summary">
                        <table>
                            <tr>
                                <th>
                                    Год основания
                                </th>
                                <td>
                                    2017
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    Адрес
                                </th>
                                <td>
                                    420015, г. Казань, ул. Чехова, д. 6г, кв. 18
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    Телефон
                                </th>
                                <td>
                                    8 (843) 230-44-06
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    Реквизиты
                                </th>
                                <td>
                                    <a href="#">
                                        Скачать
                                    </a>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <a href="#" class="franchise-company__link">
                        Написать УК
                    </a>
                </div>
                <div class="franchise-company__right-col">
                    <img src="img/chio-logo.png" alt="" class="franchise-company__logo">
                </div>
            </div>
        </div>
    </div>
</section>

<section class="franchise-geography js-franchise-geography" id="geography">
    <div class="container">
        <div class="inner-container">
            <h2 class="franchise-geography__heading">
                География
            </h2>
            <div class="franchise-geography__description">
                <p>
                    Наш бизнес-бук состоит из 182 страниц и подробно описывает наш опыт по открытию парикмахерских по
                    всей России — всё это будет доступно и вам.
                </p>
            </div>
            <div class="franchise-geography__legend">
                <div class="franchise-geography__legend-item">
                    <div class="franchise-geography__legend-item-color franchise-geography__legend-item-color--open">

                    </div>
                    Открытые
                </div>
                <div class="franchise-geography__legend-item">
                    <div class="franchise-geography__legend-item-color">

                    </div>
                    На стадии открытия
                </div>
            </div>

        </div>
    </div>
    <div class="franchise-geography__map-items">
        <div class="franchise-geography__map-item">
            <div class="franchise-geography__local-franchisers">
                <div class="franchise-geography__local-franchisers-top-row">
                    <div class="franchise-geography__local-franchisers-city">
                        г. Казань
                    </div>
                    <div class="franchise-geography__local-franchisers-count">
                        5 франчайзи
                    </div>
                </div>
                <ul class="franchise-geography__local-franchisers-list">
                    <li class="franchise-geography__local-franchisers-list-item">
                        <a href="#" class="franchise-geography__local-franchisers-link">
                            <div class="franchise-geography__local-franchisers-link-photo-container">
                                <img src="img/members/1.jpg" alt=""
                                    class="franchise-geography__local-franchisers-link-photo">
                            </div>
                            Егор Алафузов
                        </a>
                    </li>
                    <li class="franchise-geography__local-franchisers-list-item">
                        <a href="#" class="franchise-geography__local-franchisers-link">
                            <div class="franchise-geography__local-franchisers-link-photo-container">
                                <img src="img/members/2.jpg" alt=""
                                    class="franchise-geography__local-franchisers-link-photo">
                            </div>
                            Гвидон Вишневский
                        </a>
                    </li>
                    <li class="franchise-geography__local-franchisers-list-item">
                        <a href="#" class="franchise-geography__local-franchisers-link">
                            <div class="franchise-geography__local-franchisers-link-photo-container">
                                <img src="img/members/1.jpg" alt=""
                                    class="franchise-geography__local-franchisers-link-photo">
                            </div>
                            Сергей Миронов
                        </a>
                    </li>
                    <li class="franchise-geography__local-franchisers-list-item">
                        <a href="#" class="franchise-geography__local-franchisers-link">
                            <div class="franchise-geography__local-franchisers-link-photo-container">
                                <img src="img/members/3.jpg" alt=""
                                    class="franchise-geography__local-franchisers-link-photo">
                            </div>
                            Егор Алафузов
                        </a>
                    </li>
                    <li class="franchise-geography__local-franchisers-list-item">
                        <a href="#" class="franchise-geography__local-franchisers-link">
                            <div class="franchise-geography__local-franchisers-link-photo-container">
                                <img src="img/members/4.jpg" alt=""
                                    class="franchise-geography__local-franchisers-link-photo">
                            </div>
                            Гвидон Вишневский
                        </a>
                    </li>
                </ul>
            </div>
            <div class="franchise-geography__map-container">
                <div class="franchise-geography__map js-franchise-geography-map" data-lat="55.796289"
                    data-lng="49.108795" data-open-pin="img/open-pin.svg" data-pin="img/pin.svg">

                </div>
            </div>
        </div>

    </div>
</section>


<section class="franchise-finances" id="financial">
    <div class="container">
        <div class="inner-container">
            <h2 class="franchise-finances__heading">
                Финансовые условия
            </h2>
            <ul class="franchise-finances__list">
                <li class="franchise-finances__list-item">
                    <div class="franchise-finances__card">
                        <div class="franchise-finances__card-title">
                            инвестиции
                            <div class="franchise-finances__card-info">


                                <svg width="24" height="24" aria-hidden="true" class="icon-info-filled">
                                    <use xlink:href="#info-filled"></use>
                                </svg>
                            </div>
                        </div>
                        <div class="franchise-finances__card-value">
                            1 100 000
                        </div>
                        <div class="franchise-finances__card-units">
                            рублей
                        </div>
                    </div>
                </li>
                <li class="franchise-finances__list-item">
                    <div class="franchise-finances__card">
                        <div class="franchise-finances__card-title">
                            инвестиции
                            <div class="franchise-finances__card-info">


                                <svg width="24" height="24" aria-hidden="true" class="icon-info-filled">
                                    <use xlink:href="#info-filled"></use>
                                </svg>
                            </div>
                        </div>
                        <div class="franchise-finances__card-value">
                            90-170
                        </div>
                        <div class="franchise-finances__card-units">
                            рублей
                        </div>
                    </div>
                </li>
                <li class="franchise-finances__list-item">
                    <div class="franchise-finances__card">
                        <div class="franchise-finances__card-title">
                            окупаемость
                            <div class="franchise-finances__card-info">
                                <svg width="24" height="24" aria-hidden="true" class="icon-info-filled">
                                    <use xlink:href="#info-filled"></use>
                                </svg>
                            </div>
                        </div>
                        <div class="franchise-finances__card-value">
                            18
                        </div>
                        <div class="franchise-finances__card-units">
                            месяцев
                        </div>
                    </div>
                </li>
                <li class="franchise-finances__list-item">
                    <div class="franchise-finances__card">
                        <div class="franchise-finances__card-title">
                            Средний чек
                            <div class="franchise-finances__card-info">
                                <svg width="24" height="24" aria-hidden="true" class="icon-info-filled">
                                    <use xlink:href="#info-filled"></use>
                                </svg>
                            </div>
                        </div>
                        <div class="franchise-finances__card-value">
                            1 500
                        </div>
                        <div class="franchise-finances__card-units">
                            рублей
                        </div>
                    </div>
                </li>
                <li class="franchise-finances__list-item">
                    <div class="franchise-finances__card">
                        <div class="franchise-finances__card-title">
                            партнеров
                            <div class="franchise-finances__card-info">
                                <svg width="24" height="24" aria-hidden="true" class="icon-info-filled">
                                    <use xlink:href="#info-filled"></use>
                                </svg>
                            </div>
                        </div>
                        <div class="franchise-finances__card-value">
                            524
                        </div>
                        <div class="franchise-finances__card-units">
                            месяцев
                        </div>
                    </div>
                </li>
                <li class="franchise-finances__list-item">
                    <div class="franchise-finances__card">
                        <div class="franchise-finances__card-title">
                            месячная прибыль
                            <div class="franchise-finances__card-info">
                                <svg width="24" height="24" aria-hidden="true" class="icon-info-filled">
                                    <use xlink:href="#info-filled"></use>
                                </svg>
                            </div>
                        </div>
                        <div class="franchise-finances__card-value">
                            90-170
                        </div>
                        <div class="franchise-finances__card-units">
                            тыс. руб./мес.
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>




{{/content}}
{{/extend}}