{{#extend "layout"}}
{{#content "main"}}

<section class="intro">
    <div class="container">
        <div class="intro__row">
            <div class="intro__logo">
                <img src="img/logo.svg" alt="Логотип" class="intro__logo-image">
                <p class="intro__logo-slogan">
                    — агрегатор честных франшиз
                </p>
            </div>
            <ul class="intro__features">
                <li class="intro__features-item">
                    <img src="img/intro/1.png" alt="Особенность" width="90" class="intro__features-item-image">
                    <p class="intro__features-item-text">
                        Изучай
                    </p>
                </li>
                <li class="intro__features-item">
                    <img src="img/intro/1.png" alt="Особенность" width="90" class="intro__features-item-image">
                    <p class="intro__features-item-text">
                        Сравнивай<br>по скиллам
                    </p>
                </li>
                <li class="intro__features-item">
                    <img src="img/intro/1.png" alt="Особенность" width="90" class="intro__features-item-image">
                    <p class="intro__features-item-text">
                        Общайся <br>
                        в одно окно
                    </p>
                </li>
            </ul>
        </div>
    </div>
</section>

<section class="populars">
    <div class="container">
        <div class="populars__slider js-populars-slider">
            <button class="populars__slider-arrow populars__slider-arrow--prev">
                <svg width="12" height="12" aria-hidden="true" class="icon-arrow-left">
                    <use xlink:href="#arrow-left"></use>
                </svg>
            </button>
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <a href="#" class="populars__slider-card">
                            <img src="img/populars/1.jpg" alt="" class="populars__slider-card-image">
                            <div class="populars__slider-card-text">
                                Лучшие
                                инстаграм-
                                магазины
                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="#" class="populars__slider-card">
                            <img src="img/populars/2.jpg" alt="" class="populars__slider-card-image">
                            <div class="populars__slider-card-text">
                                Топ 10 франшиз 2020 года
                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="#" class="populars__slider-card">
                            <img src="img/populars/3.jpg" alt="" class="populars__slider-card-image">
                            <div class="populars__slider-card-text">
                                Франшизы круглосуточного алкомаркета
                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="#" class="populars__slider-card">
                            <img src="img/populars/4.jpg" alt="" class="populars__slider-card-image">
                            <div class="populars__slider-card-text">
                                Лучшие
                                инстаграм-
                                магазины
                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="#" class="populars__slider-card">
                            <img src="img/populars/5.jpg" alt="" class="populars__slider-card-image">
                            <div class="populars__slider-card-text">
                                Топ 10 франшиз
                                2019 года
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <button class="populars__slider-arrow populars__slider-arrow--next">
                <svg width="12" height="12" aria-hidden="true" class="icon-arrow-right">
                    <use xlink:href="#arrow-right"></use>
                </svg>
            </button>
        </div>
    </div>
</section>


<section class="filters js-filters">

    <form action="/" method="POST" class="filters__form js-filter-tabs">
        <div class="container">
            <div class="filters__tab-nav">
                <a href="#" class="filters__tab-nav-link js-tabs-nav">
                    Поиск по параметрам
                </a>
                <a href="#" class="filters__tab-nav-link js-tabs-nav">
                    Поиск по вашим скиллам
                </a>
            </div>
            <div class="filters__row">
                <div class="filters__left-col js-tabs-item">
                    <div class="filters__heading-row">
                        <h3 class="filters__heading">
                            Поиск среди 25 000 франшиз
                        </h3>
                    </div>
                    <div class="filters__grid">
                        <div class="filters__area">
                            <label class="filters__area-checkbox">
                                <input type="checkbox" name="area" class="filters__area-checkbox-input" checked>
                                <span class="filters__area-checkbox-mark">
                                    <svg width="12" height="12" aria-hidden="true" class="icon-checkmark">
                                        <use xlink:href="#checkmark"></use>
                                    </svg>
                                </span>
                                <span class="filters__area-checkbox-text">
                                    Автоуслуги
                                </span>
                            </label>
                            <label class="filters__area-checkbox">
                                <input type="checkbox" name="area" class="filters__area-checkbox-input">
                                <span class="filters__area-checkbox-mark">
                                    <svg width="12" height="12" aria-hidden="true" class="icon-checkmark">
                                        <use xlink:href="#checkmark"></use>
                                    </svg>
                                </span>
                                <span class="filters__area-checkbox-text">
                                    Медицинские услуги
                                </span>
                            </label>
                            <label class="filters__area-checkbox">
                                <input type="checkbox" name="area" class="filters__area-checkbox-input">
                                <span class="filters__area-checkbox-mark">
                                    <svg width="12" height="12" aria-hidden="true" class="icon-checkmark">
                                        <use xlink:href="#checkmark"></use>
                                    </svg>
                                </span>
                                <span class="filters__area-checkbox-text">
                                    Спорт и фитнес
                                </span>
                            </label>
                            <label class="filters__area-checkbox">
                                <input type="checkbox" name="area" class="filters__area-checkbox-input" checked>
                                <span class="filters__area-checkbox-mark">
                                    <svg width="12" height="12" aria-hidden="true" class="icon-checkmark">
                                        <use xlink:href="#checkmark"></use>
                                    </svg>
                                </span>
                                <span class="filters__area-checkbox-text">
                                    Детские франшизы
                                </span>
                            </label>
                            <label class="filters__area-checkbox">
                                <input type="checkbox" name="area" class="filters__area-checkbox-input">
                                <span class="filters__area-checkbox-mark">
                                    <svg width="12" height="12" aria-hidden="true" class="icon-checkmark">
                                        <use xlink:href="#checkmark"></use>
                                    </svg>
                                </span>
                                <span class="filters__area-checkbox-text">
                                    Недвижимость
                                </span>
                            </label>
                            <label class="filters__area-checkbox">
                                <input type="checkbox" name="area" class="filters__area-checkbox-input">
                                <span class="filters__area-checkbox-mark">
                                    <svg width="12" height="12" aria-hidden="true" class="icon-checkmark">
                                        <use xlink:href="#checkmark"></use>
                                    </svg>
                                </span>
                                <span class="filters__area-checkbox-text">
                                    Туризм и визовые центры
                                </span>
                            </label>
                            <label class="filters__area-checkbox">
                                <input type="checkbox" name="area" class="filters__area-checkbox-input">
                                <span class="filters__area-checkbox-mark">
                                    <svg width="12" height="12" aria-hidden="true" class="icon-checkmark">
                                        <use xlink:href="#checkmark"></use>
                                    </svg>
                                </span>
                                <span class="filters__area-checkbox-text">
                                    Интернет, ИТ и реклама
                                </span>
                            </label>
                            <label class="filters__area-checkbox">
                                <input type="checkbox" name="area" class="filters__area-checkbox-input">
                                <span class="filters__area-checkbox-mark">
                                    <svg width="12" height="12" aria-hidden="true" class="icon-checkmark">
                                        <use xlink:href="#checkmark"></use>
                                    </svg>
                                </span>
                                <span class="filters__area-checkbox-text">
                                    Обучение и образование
                                </span>
                            </label>
                            <label class="filters__area-checkbox">
                                <input type="checkbox" name="area" class="filters__area-checkbox-input">
                                <span class="filters__area-checkbox-mark">
                                    <svg width="12" height="12" aria-hidden="true" class="icon-checkmark">
                                        <use xlink:href="#checkmark"></use>
                                    </svg>
                                </span>
                                <span class="filters__area-checkbox-text">
                                    Услуги для бизнеса (b2b)
                                </span>
                            </label>
                            <label class="filters__area-checkbox">
                                <input type="checkbox" name="area" class="filters__area-checkbox-input">
                                <span class="filters__area-checkbox-mark">
                                    <svg width="12" height="12" aria-hidden="true" class="icon-checkmark">
                                        <use xlink:href="#checkmark"></use>
                                    </svg>
                                </span>
                                <span class="filters__area-checkbox-text">
                                    Клининг и химчистка
                                </span>
                            </label>
                            <label class="filters__area-checkbox">
                                <input type="checkbox" name="area" class="filters__area-checkbox-input">
                                <span class="filters__area-checkbox-mark">
                                    <svg width="12" height="12" aria-hidden="true" class="icon-checkmark">
                                        <use xlink:href="#checkmark"></use>
                                    </svg>
                                </span>
                                <span class="filters__area-checkbox-text">
                                    Отдых и развлечения
                                </span>
                            </label>
                            <label class="filters__area-checkbox filters__area-checkbox--hidden">
                                <input type="checkbox" name="area" class="filters__area-checkbox-input">
                                <span class="filters__area-checkbox-mark">
                                    <svg width="12" height="12" aria-hidden="true" class="icon-checkmark">
                                        <use xlink:href="#checkmark"></use>
                                    </svg>
                                </span>
                                <span class="filters__area-checkbox-text">
                                    Услуги для бизнеса (b2b)
                                </span>
                            </label>
                            <label class="filters__area-checkbox filters__area-checkbox--hidden">
                                <input type="checkbox" name="area" class="filters__area-checkbox-input">
                                <span class="filters__area-checkbox-mark">
                                    <svg width="12" height="12" aria-hidden="true" class="icon-checkmark">
                                        <use xlink:href="#checkmark"></use>
                                    </svg>
                                </span>
                                <span class="filters__area-checkbox-text">
                                    Клининг и химчистка
                                </span>
                            </label>
                            <label class="filters__area-checkbox filters__area-checkbox--hidden">
                                <input type="checkbox" name="area" class="filters__area-checkbox-input">
                                <span class="filters__area-checkbox-mark">
                                    <svg width="12" height="12" aria-hidden="true" class="icon-checkmark">
                                        <use xlink:href="#checkmark"></use>
                                    </svg>
                                </span>
                                <span class="filters__area-checkbox-text">
                                    Отдых и развлечения
                                </span>
                            </label>

                            <button type="button" class="filters__area-show-more js-show-hidden-checkboxes">
                                + еще 14
                            </button>
                        </div>
                        <div class="filters__selects">
                            <div class="filters__select">
                                <select name="select" class="js-custom-select">
                                    <option value="" placeholder>Паушальный взнос</option>
                                    <option value="value1">Значение 1</option>
                                    <option value="value2">Значение 2</option>
                                    <option value="value3">Значение 3</option>
                                    <option value="value3">Значение 4</option>
                                    <option value="value3">Значение 5</option>
                                    <option value="value3">Значение 6</option>
                                </select>
                            </div>
                            <div class="filters__select">
                                <select name="select" class="js-custom-select">
                                    <option value="" placeholder>Роялти</option>
                                    <option value="value1">Значение 1</option>
                                    <option value="value2">Значение 2</option>
                                    <option value="value3">Значение 3</option>
                                    <option value="value3">Значение 4</option>
                                    <option value="value3">Значение 5</option>
                                    <option value="value3">Значение 6</option>
                                </select>
                            </div>
                            <div class="filters__select">
                                <select name="select" class="js-custom-select">
                                    <option value="" placeholder>Всего инвестиций</option>
                                    <option value="value1">Значение 1</option>
                                    <option value="value2">Значение 2</option>
                                    <option value="value3">Значение 3</option>
                                    <option value="value3">Значение 4</option>
                                    <option value="value3">Значение 5</option>
                                    <option value="value3">Значение 6</option>
                                </select>
                            </div>
                            <div class="filters__select">
                                <select name="select" class="js-custom-select">
                                    <option value="" placeholder>Город</option>
                                    <option value="value1">Значение 1</option>
                                    <option value="value2">Значение 2</option>
                                    <option value="value3">Значение 3</option>
                                    <option value="value3">Значение 4</option>
                                    <option value="value3">Значение 5</option>
                                    <option value="value3">Значение 6</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="filters__right-col js-tabs-item">
                    <div class="filters__heading-row">
                        <h3 class="filters__heading">
                            В чем вы сильны?
                        </h3>
                        <button class="filters__selector-reset js-selector-reset">
                            <span class="filters__selector-reset-content">


                                <svg width="12" height="12" aria-hidden="true" class="icon-reset">
                                    <use xlink:href="#reset"></use>
                                </svg>
                                Сбросить
                            </span>
                        </button>
                    </div>
                    <div class="filters__selector">
                        <div class="filters__selector-ring js-selector-ring">
                            <div class="filters__selector-ring-inputs">
                                <input type="hidden" name="cat1" value="0">
                                <input type="hidden" name="cat2" value="0">
                                <input type="hidden" name="cat3" value="0">
                                <input type="hidden" name="cat4" value="0">
                                <input type="hidden" name="cat5" value="0">
                                <input type="hidden" name="cat6" value="0">
                                <input type="hidden" name="cat7" value="0">
                                <input type="hidden" name="cat8" value="0">
                            </div>
                            <div class="filters__selector-ring-categories-names">
                                <div class="filters__selector-ring-categories-names-left-col">
                                    <div class="filters__selector-ring-categories-name order-2" data-cat="cat2">
                                        Работа с людьми
                                    </div>
                                    <div class="filters__selector-ring-categories-name order-1" data-cat="cat8">
                                        Продажи
                                    </div>
                                    <div class="filters__selector-ring-categories-name order-5" data-cat="cat5">
                                        Бизнес-процессы
                                    </div>
                                    <div class="filters__selector-ring-categories-name order-6" data-cat="cat1">
                                        Склад / закупки
                                    </div>
                                </div>
                                <div class="filters__selector-ring-categories-names-right-col">
                                    <div class="filters__selector-ring-categories-name order-3" data-cat="cat3">
                                        Мерчандайзинг
                                    </div>
                                    <div class="filters__selector-ring-categories-name order-4" data-cat="cat7">
                                        Финансы
                                    </div>
                                    <div class="filters__selector-ring-categories-name order-8" data-cat="cat6">
                                        Маркетинг
                                    </div>
                                    <div class="filters__selector-ring-categories-name order-7" data-cat="cat4">
                                        Дизайн
                                    </div>
                                </div>
                            </div>
                            <div class="filters__selector-ring-diagram-wrapper">
                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                    viewBox="0 0 288 288">
                                    <g class="filters__selector-ring-category" data-cat="cat1">
                                        <path
                                            d="M62.4,226.4l-19.8,19.8c26,25.8,61.8,41.8,101.4,41.8v-28C112.1,260,83.3,247.2,62.4,226.4z" />
                                        <path
                                            d="M143.9,231c-23.8,0-45.4-9.6-61.1-25.1l-20.5,20.5c20.9,20.7,49.8,33.6,81.6,33.6V231z" />
                                        <path
                                            d="M143.9,205c-16.6,0-31.7-6.7-42.7-17.5l-18.4,18.4c15.7,15.5,37.3,25.1,61.1,25.1V205z" />
                                        <path
                                            d="M143.9,179c-9.4,0-18-3.8-24.3-9.9l-18.4,18.4c11,10.8,26,17.5,42.7,17.5V179z" />
                                        <path d="M143.9,144.8l-24.3,24.3c6.3,6.1,14.8,9.8,24.3,9.9V144.8z" />
                                    </g>
                                    <g class="filters__selector-ring-category" data-cat="cat2">
                                        <path
                                            d="M143.9,28V0C104.7,0,69.1,15.8,43.1,41.3l19.8,19.8C83.8,40.6,112.4,28,143.9,28z" />
                                        <path
                                            d="M83.4,81.6C99,66.4,120.4,57,143.9,57V28c-31.6,0-60.2,12.6-81.1,33.1L83.4,81.6z" />
                                        <path
                                            d="M101.8,100c10.9-10.5,25.8-17,42.2-17V57c-23.5,0-44.9,9.4-60.6,24.6L101.8,100z" />
                                        <path
                                            d="M120.2,118.4c6.2-5.8,14.6-9.4,23.8-9.4V83c-16.4,0-31.2,6.5-42.2,17L120.2,118.4z" />
                                        <path d="M143.9,142.2V109c-9.2,0-17.5,3.6-23.8,9.4L143.9,142.2z" />
                                    </g>
                                    <g class="filters__selector-ring-category" data-cat="cat3">
                                        <path
                                            d="M225.6,61.6l19.8-19.8C219.6,16.2,184.2,0.3,145.1,0v28C176.5,28.3,204.9,41.1,225.6,61.6z" />
                                        <path
                                            d="M145.1,57c23.4,0.3,44.6,9.8,60.1,25.1l20.5-20.5c-20.7-20.5-49.2-33.3-80.6-33.6V57z" />
                                        <path
                                            d="M145.1,83c16.2,0.3,30.9,6.9,41.7,17.5l18.4-18.4c-15.5-15.3-36.7-24.8-60.1-25.1V83z" />
                                        <path
                                            d="M145.1,109c9,0.3,17.2,4,23.3,9.8l18.4-18.4C176,89.9,161.3,83.3,145.1,83V109z" />
                                        <path d="M145.1,142.2l23.3-23.3c-6.1-5.9-14.2-9.6-23.3-9.8V142.2z" />
                                    </g>
                                    <g class="filters__selector-ring-category" data-cat="cat4">
                                        <path
                                            d="M145.1,260v28c39.4-0.3,75-16.4,100.9-42.3l-19.8-19.8C205.4,246.7,176.7,259.7,145.1,260z" />
                                        <path
                                            d="M226.1,225.9l-20.5-20.5c-15.5,15.6-36.9,25.3-60.6,25.6v29C176.7,259.7,205.4,246.7,226.1,225.9z" />
                                        <path
                                            d="M205.6,205.4L187.2,187c-10.8,10.9-25.7,17.7-42.2,17.9v26C168.7,230.7,190.1,221,205.6,205.4z" />
                                        <path
                                            d="M187.2,187l-18.4-18.4c-6.1,6.2-14.5,10.1-23.8,10.3v26C161.5,204.7,176.4,197.9,187.2,187z" />
                                        <path d="M168.8,168.6l-23.8-23.8V179C154.4,178.7,162.7,174.8,168.8,168.6z" />
                                    </g>
                                    <g class="filters__selector-ring-category" data-cat="cat5">
                                        <path
                                            d="M28,144.1H0c0,39.5,16,75.4,41.8,101.4l19.8-19.8C40.8,204.7,28,175.9,28,144.1z" />
                                        <path
                                            d="M82.1,205.1C66.6,189.4,57,167.9,57,144.1H28c0,31.8,12.8,60.6,33.6,81.6L82.1,205.1z" />
                                        <path
                                            d="M100.5,186.7c-10.8-11-17.5-26.1-17.5-42.7H57c0,23.8,9.6,45.4,25.1,61.1L100.5,186.7z" />
                                        <path
                                            d="M118.9,168.3c-6.1-6.3-9.8-14.8-9.9-24.3H83c0,16.6,6.7,31.7,17.5,42.7L118.9,168.3z" />
                                        <path d="M143.2,144.1H109c0,9.4,3.8,18,9.9,24.3L143.2,144.1z" />
                                    </g>
                                    <g class="filters__selector-ring-category" data-cat="cat6">
                                        <path
                                            d="M260,144.1c0,31.6-12.6,60.2-33.1,81.1l19.8,19.8c25.5-26,41.3-61.6,41.3-100.9H260z" />
                                        <path
                                            d="M206.4,204.6l20.5,20.5c20.5-20.9,33.1-49.5,33.1-81.1h-29C231,167.6,221.6,189,206.4,204.6z" />
                                        <path
                                            d="M205,144.1c0,16.4-6.5,31.2-17,42.2l18.4,18.4c15.2-15.7,24.6-37,24.6-60.6H205z" />
                                        <path
                                            d="M179,144.1c0,9.2-3.6,17.5-9.4,23.8l18.4,18.4c10.5-10.9,17-25.8,17-42.2H179z" />
                                        <path d="M145.8,144.1l23.8,23.8c5.8-6.2,9.4-14.6,9.4-23.8H145.8z" />
                                    </g>
                                    <g class="filters__selector-ring-category" data-cat="cat7">
                                        <path
                                            d="M260,142.9h28c-0.3-39.1-16.2-74.6-41.8-100.4l-19.8,19.8C246.9,83.1,259.7,111.5,260,142.9z" />
                                        <path
                                            d="M205.9,82.9c15.3,15.5,24.8,36.7,25.1,60.1h29c-0.3-31.4-13-59.8-33.6-80.6L205.9,82.9z" />
                                        <path
                                            d="M187.5,101.3c10.6,10.8,17.2,25.4,17.5,41.7h26c-0.3-23.4-9.8-44.6-25.1-60.1L187.5,101.3z" />
                                        <path
                                            d="M169.1,119.7c5.9,6.1,9.6,14.2,9.8,23.3h26c-0.3-16.2-6.9-30.9-17.5-41.7L169.1,119.7z" />
                                        <path d="M145.8,142.9H179c-0.3-9-4-17.2-9.8-23.3L145.8,142.9z" />
                                    </g>
                                    <g class="filters__selector-ring-category" data-cat="cat8">
                                        <path
                                            d="M62.1,61.9L42.3,42.1C16.4,67.9,0.3,103.5,0,142.9h28C28.3,111.3,41.3,82.6,62.1,61.9z" />
                                        <path
                                            d="M28,142.9h29c0.3-23.7,10-45,25.6-60.6L62.1,61.9C41.3,82.6,28.3,111.3,28,142.9z" />
                                        <path
                                            d="M57,142.9h26c0.3-16.5,7.1-31.4,17.9-42.2L82.6,82.4C67,97.9,57.3,119.3,57,142.9z" />
                                        <path
                                            d="M83,142.9h26c0.3-9.3,4.2-17.7,10.3-23.8L101,100.8C90.1,111.6,83.3,126.5,83,142.9z" />
                                        <path d="M109,142.9h34.1l-23.8-23.8C113.2,125.3,109.3,133.6,109,142.9z" />
                                    </g>
                                </svg>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <button type="submit" class="filters__submit" disabled>
            Показать 126 франшиз
        </button>
    </form>


</section>


<section class="franchise-catalog">
    <div class="container">
        <ul class="franchise-catalog__list">
            <li class="franchise-catalog__list-item">
                <div class="franchise-catalog__card">
                    <div class="franchise-catalog__card-main">
                        <a href="#" class="franchise-catalog__card-title-block">
                            <div class="franchise-catalog__card-logo-container">
                                <img src="img/franchise/chio.png" alt="" class="franchise-catalog__card-logo">
                                <span class="franchise-catalog__card-rating">
                                    <span class="franchise-catalog__card-rating-amount">
                                        8,9
                                    </span>

                                </span>
                            </div>
                            <div class="franchise-catalog__card-title-block-content">
                                <h3 class="franchise-catalog__card-title-heading">
                                    Сеть парикмахерских «Чио-Чио»
                                </h3>
                                <div class="franchise-catalog__card-title-description">
                                    <p>
                                        Чио Чио является самой быстрорастущей сетью в салонном бизнесе. Ежемесячно
                                        запускается 40-50 парикмахерских.
                                    </p>
                                </div>
                            </div>
                        </a>
                        <div class="franchise-catalog__card-specs-block">
                            <div class="franchise-catalog__card-specs-table">
                                <table>
                                    <tr>
                                        <th>
                                            Инвестиции
                                        </th>
                                        <td>
                                            200 000 Р
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>
                                            Окупаемость
                                        </th>
                                        <td>
                                            2 месяца
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>
                                            Паушальный взнос
                                        </th>
                                        <td>
                                            200 000 Р
                                        </td>
                                    </tr>
                                </table>
                            </div>
                            <div class="franchise-catalog__card-specs-ratings">
                                <div class="franchise-catalog__card-specs-rating-item">
                                    <div class="franchise-catalog__card-specs-rating-item-icon-container">
                                        <img src="img/franchise/marketing.png" alt=""
                                            class="franchise-catalog__card-specs-rating-item-icon">
                                        <span class="franchise-catalog__card-specs-rating">
                                            <span class="franchise-catalog__card-specs-rating-amount">
                                                5
                                            </span>

                                        </span>
                                    </div>
                                    <div class="franchise-catalog__card-specs-rating-item-title">
                                        Маркетинг
                                    </div>
                                </div>
                                <div class="franchise-catalog__card-specs-rating-item">
                                    <div class="franchise-catalog__card-specs-rating-item-icon-container">
                                        <img src="img/franchise/sales.png" alt=""
                                            class="franchise-catalog__card-specs-rating-item-icon">
                                        <span class="franchise-catalog__card-specs-rating">
                                            <span class="franchise-catalog__card-specs-rating-amount">
                                                3
                                            </span>

                                        </span>
                                    </div>
                                    <div class="franchise-catalog__card-specs-rating-item-title">
                                        Продажи
                                    </div>
                                </div>
                                <div class="franchise-catalog__card-specs-rating-item">
                                    <div class="franchise-catalog__card-specs-rating-item-icon-container">
                                        <img src="img/franchise/reviews.png" alt=""
                                            class="franchise-catalog__card-specs-rating-item-icon">
                                        <span class="franchise-catalog__card-specs-rating">
                                            <span class="franchise-catalog__card-specs-rating-amount">
                                                4
                                            </span>

                                        </span>
                                    </div>
                                    <div class="franchise-catalog__card-specs-rating-item-title">
                                        Работа с людьми
                                    </div>
                                </div>
                            </div>
                            <div class="franchise-catalog__card-btns">
                                <button class="franchise-catalog__card-actions-accordion-toggle">
                                    <span class="franchise-catalog__card-actions-accordion-toggle-content">
                                        <span></span>
                                        <span></span>
                                        <span></span>
                                    </span>
                                </button>
                                <div class="franchise-catalog__card-actions">

                                    <div class="franchise-catalog__card-actions-btn">
                                        <svg width="20" height="5" aria-hidden="true" class="icon-dots">
                                            <use xlink:href="#dots"></use>
                                        </svg>
                                    </div>
                                    <div class="franchise-catalog__card-actions-dropdown">
                                        <div class="franchise-catalog__card-actions-dropdown-inner">
                                            <a href="#" class="franchise-catalog__card-actions-dropdown-link">
                                                <svg width="24" height="24" aria-hidden="true" class="icon-link">
                                                    <use xlink:href="#link"></use>
                                                </svg>
                                                На страницу франшизы

                                            </a>
                                            <a href="#" class="franchise-catalog__card-actions-dropdown-link">
                                                <svg width="24" height="24" aria-hidden="true" class="icon-bubble">
                                                    <use xlink:href="#bubble"></use>
                                                </svg>
                                                На страницу франшизы

                                            </a>
                                            <a href="#" class="franchise-catalog__card-actions-dropdown-link">
                                                <svg width="24" height="24" aria-hidden="true" class="icon-info">
                                                    <use xlink:href="#info"></use>
                                                </svg>
                                                Пожаловаться

                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <a href="#" class="franchise-catalog__card-like">
                                    <svg width="20" height="20" aria-hidden="true" class="icon-star">
                                        <use xlink:href="#star"></use>
                                    </svg>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="franchise-catalog__card-details">
                    <div class="franchise-catalog__card-details-btn js-accordion-btn">
                        Показать
                    </div>
                    <div class="franchise-catalog__card-details-content js-accordion-content">
                        <div class="franchise-catalog__card-details-grid">
                            <div class="franchise-catalog__card-details-left-col">
                                <div class="franchise-catalog__card-details-social-block">
                                    <a href="#" class="franchise-catalog__card-website">
                                        chio-chio.ru
                                        <svg width="12" height="12" aria-hidden="true" class="icon-link-simple">
                                            <use xlink:href="#link-simple"></use>
                                        </svg>
                                    </a>
                                    <div class="franchise-catalog__card-details-social-links">
                                        <a href="#" class="franchise-catalog__card-details-social-link">
                                            <svg width="15" height="15" aria-hidden="true" class="icon-instagram">
                                                <use xlink:href="#instagram"></use>
                                            </svg>
                                        </a>
                                        <a href="#" class="franchise-catalog__card-details-social-link">
                                            <svg width="15" height="15" aria-hidden="true" class="icon-facebook">
                                                <use xlink:href="#facebook"></use>
                                            </svg>
                                        </a>
                                        <a href="#" class="franchise-catalog__card-details-social-link">
                                            <svg width="15" height="15" aria-hidden="true" class="icon-youtube">
                                                <use xlink:href="#youtube"></use>
                                            </svg>
                                        </a>
                                        <a href="#" class="franchise-catalog__card-details-social-link">
                                            <svg width="15" height="15" aria-hidden="true" class="icon-vk">
                                                <use xlink:href="#vk"></use>
                                            </svg>
                                        </a>
                                    </div>
                                    <div class="franchise-catalog__card-details-place-ratings">
                                        <a href="#" class="franchise-catalog__card-details-place-rating">
                                            <img src="img/2gis.png" alt=""
                                                class="franchise-catalog__card-details-place-rating-logo">
                                            <span class="franchise-catalog__card-details-place-rating-score">
                                                7,8
                                            </span>
                                        </a>
                                        <a href="#" class="franchise-catalog__card-details-place-rating">
                                            <img src="img/yandex.png" alt=""
                                                class="franchise-catalog__card-details-place-rating-logo">
                                            <span class="franchise-catalog__card-details-place-rating-score">
                                                8,2
                                            </span>
                                        </a>
                                        <a href="#" class="franchise-catalog__card-details-place-rating">
                                            <img src="img/google.png" alt=""
                                                class="franchise-catalog__card-details-place-rating-logo">
                                            <span class="franchise-catalog__card-details-place-rating-score">
                                                8,2
                                            </span>
                                        </a>
                                    </div>
                                </div>
                                <div class="franchise-catalog__card-details-description-block">
                                    <div class="franchise-catalog__card-details-description">
                                        <p>
                                            Чио Чио является самой быстрорастущей сетью в салонном бизнесе. Ежемесячно
                                            запускается 40-50 парикмахерских. За первый год масштабирования Чио Чио
                                            обогнала всех лидеров отрасли эконом- парикмахерских, которые работают на
                                            этом рынке уже 10 лет.
                                        </p>
                                    </div>
                                    <div class="franchise-catalog__card-details-table">
                                        <table>
                                            <tr>
                                                <th>
                                                    Средний чек
                                                </th>
                                                <td>
                                                    1 500 Р
                                                </td>
                                            </tr>
                                            <tr>
                                                <th>
                                                    География работы и продаж франшизы
                                                </th>
                                                <td>
                                                    РФ и СНГ
                                                </td>
                                            </tr>
                                            <tr>
                                                <th>
                                                    Есть ли франчбук
                                                </th>
                                                <td>
                                                    Да
                                                </td>
                                            </tr>
                                            <tr>
                                                <th>
                                                    Кол-во своих точек
                                                </th>
                                                <td>
                                                    5
                                                </td>
                                            </tr>
                                            <tr>
                                                <th>
                                                    Кол-во точек по франшизе
                                                </th>
                                                <td>
                                                    120
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                    <div class="franchise-catalog__card-details-learn-more">
                                        <div class="franchise-catalog__card-details-founder">
                                            <div class="franchise-catalog__card-details-founder-photo-container">
                                                <img src="img/ilnaz.jpg" alt=""
                                                    class="franchise-catalog__card-details-founder-photo">
                                            </div>
                                            <div class="franchise-catalog__card-details-founder-content">
                                                <div class="franchise-catalog__card-details-founder-title">
                                                    Основатель:

                                                </div>
                                                <div class="franchise-catalog__card-details-founder-name">
                                                    Ильназ Набиуллин

                                                </div>
                                            </div>
                                        </div>
                                        <div class="franchise-catalog__card-details-learn-more-links">
                                            <a href="#" class="franchise-catalog__card-details-learn-more-comments">
                                                <svg width="22" height="22" aria-hidden="true" class="icon-question">
                                                    <use xlink:href="#question"></use>
                                                </svg>

                                                13
                                            </a>
                                            <a href="#" class="franchise-catalog__card-details-learn-more-link">
                                                Узнать больше
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="franchise-catalog__card-details-right-col">
                                <div class="franchise-catalog__card-details-gallery-slider js-franchise-gallery-slider">
                                    <button
                                        class="franchise-catalog__card-details-gallery-slider-arrow franchise-catalog__card-details-gallery-slider-arrow--prev">
                                        <svg width="12" height="18" aria-hidden="true" class="icon-arrow-left">
                                            <use xlink:href="#arrow-left"></use>
                                        </svg>
                                    </button>
                                    <div class="swiper-container">
                                        <div class="swiper-wrapper">
                                            <div class="swiper-slide">
                                                <div class="franchise-catalog__card-details-gallery-slider-card">
                                                    <img src="img/franchise/gallery.jpg" alt=""
                                                        class="franchise-catalog__card-details-gallery-slider-card-image">
                                                </div>
                                            </div>
                                            <div class="swiper-slide">
                                                <div class="franchise-catalog__card-details-gallery-slider-card">
                                                    <img src="img/franchise/gallery.jpg" alt=""
                                                        class="franchise-catalog__card-details-gallery-slider-card-image">
                                                </div>
                                            </div>
                                            <div class="swiper-slide">
                                                <div class="franchise-catalog__card-details-gallery-slider-card">
                                                    <img src="img/franchise/gallery.jpg" alt=""
                                                        class="franchise-catalog__card-details-gallery-slider-card-image">
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <button
                                        class="franchise-catalog__card-details-gallery-slider-arrow franchise-catalog__card-details-gallery-slider-arrow--next">
                                        <svg width="12" height="18" aria-hidden="true" class="icon-arrow-right">
                                            <use xlink:href="#arrow-right"></use>
                                        </svg>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li class="franchise-catalog__list-item">
                <div class="franchise-catalog__card">
                    <div class="franchise-catalog__card-main">
                        <a href="#" class="franchise-catalog__card-title-block">
                            <div class="franchise-catalog__card-logo-container">
                                <img src="img/franchise/doner.jpg" alt="" class="franchise-catalog__card-logo">
                                <span class="franchise-catalog__card-rating">
                                    <span class="franchise-catalog__card-rating-amount">
                                        7,8
                                    </span>

                                </span>
                            </div>
                            <div class="franchise-catalog__card-title-block-content">
                                <h3 class="franchise-catalog__card-title-heading">
                                    Сеть полезного фастфуда «Сеньор Денер»
                                </h3>
                                <div class="franchise-catalog__card-title-description">
                                    <p>
                                        Продано 50 франшиз за 6 месяцев на 12 500 000 Р
                                    </p>
                                </div>
                            </div>
                        </a>
                        <div class="franchise-catalog__card-specs-block">
                            <div class="franchise-catalog__card-specs-table">
                                <table>
                                    <tr>
                                        <th>
                                            Инвестиции
                                        </th>
                                        <td>
                                            200 000 Р
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>
                                            Окупаемость
                                        </th>
                                        <td>
                                            2 месяца
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>
                                            Паушальный взнос
                                        </th>
                                        <td>
                                            200 000 Р
                                        </td>
                                    </tr>
                                </table>
                            </div>
                            <div class="franchise-catalog__card-specs-ratings">
                                <div class="franchise-catalog__card-specs-rating-item">
                                    <div class="franchise-catalog__card-specs-rating-item-icon-container">
                                        <img src="img/franchise/marketing.png" alt=""
                                            class="franchise-catalog__card-specs-rating-item-icon">
                                        <span class="franchise-catalog__card-specs-rating">
                                            <span class="franchise-catalog__card-specs-rating-amount">
                                                5
                                            </span>

                                        </span>
                                    </div>
                                    <div class="franchise-catalog__card-specs-rating-item-title">
                                        Маркетинг
                                    </div>
                                </div>
                                <div class="franchise-catalog__card-specs-rating-item">
                                    <div class="franchise-catalog__card-specs-rating-item-icon-container">
                                        <img src="img/franchise/sales.png" alt=""
                                            class="franchise-catalog__card-specs-rating-item-icon">
                                        <span class="franchise-catalog__card-specs-rating">
                                            <span class="franchise-catalog__card-specs-rating-amount">
                                                3
                                            </span>

                                        </span>
                                    </div>
                                    <div class="franchise-catalog__card-specs-rating-item-title">
                                        Продажи
                                    </div>
                                </div>
                                <div class="franchise-catalog__card-specs-rating-item">
                                    <div class="franchise-catalog__card-specs-rating-item-icon-container">
                                        <img src="img/franchise/reviews.png" alt=""
                                            class="franchise-catalog__card-specs-rating-item-icon">
                                        <span class="franchise-catalog__card-specs-rating">
                                            <span class="franchise-catalog__card-specs-rating-amount">
                                                4
                                            </span>

                                        </span>
                                    </div>
                                    <div class="franchise-catalog__card-specs-rating-item-title">
                                        Работа с людьми
                                    </div>
                                </div>
                            </div>
                            <div class="franchise-catalog__card-btns">
                                <div class="franchise-catalog__card-actions">
                                    <div class="franchise-catalog__card-actions-btn">
                                        <svg width="20" height="5" aria-hidden="true" class="icon-dots">
                                            <use xlink:href="#dots"></use>
                                        </svg>
                                    </div>
                                    <div class="franchise-catalog__card-actions-dropdown">
                                        <div class="franchise-catalog__card-actions-dropdown-inner">
                                            <a href="#" class="franchise-catalog__card-actions-dropdown-link">
                                                <svg width="24" height="24" aria-hidden="true" class="icon-link">
                                                    <use xlink:href="#link"></use>
                                                </svg>
                                                На страницу франшизы

                                            </a>
                                            <a href="#" class="franchise-catalog__card-actions-dropdown-link">
                                                <svg width="24" height="24" aria-hidden="true" class="icon-bubble">
                                                    <use xlink:href="#bubble"></use>
                                                </svg>
                                                На страницу франшизы

                                            </a>
                                            <a href="#" class="franchise-catalog__card-actions-dropdown-link">
                                                <svg width="24" height="24" aria-hidden="true" class="icon-info">
                                                    <use xlink:href="#info"></use>
                                                </svg>
                                                Пожаловаться

                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <a href="#" class="franchise-catalog__card-like">
                                    <svg width="20" height="20" aria-hidden="true" class="icon-star">
                                        <use xlink:href="#star"></use>
                                    </svg>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li class="franchise-catalog__list-item">
                <div class="franchise-catalog__card">
                    <div class="franchise-catalog__card-main">
                        <a href="#" class="franchise-catalog__card-title-block">
                            <div class="franchise-catalog__card-logo-container">
                                <img src="img/franchise/chio.png" alt="" class="franchise-catalog__card-logo">
                                <span class="franchise-catalog__card-rating">
                                    <span class="franchise-catalog__card-rating-amount">
                                        8,9
                                    </span>

                                </span>
                            </div>
                            <div class="franchise-catalog__card-title-block-content">
                                <h3 class="franchise-catalog__card-title-heading">
                                    Сеть парикмахерских «Чио-Чио»
                                </h3>
                                <div class="franchise-catalog__card-title-description">
                                    <p>
                                        Чио Чио является самой быстрорастущей сетью в салонном бизнесе. Ежемесячно
                                        запускается 40-50 парикмахерских.
                                    </p>
                                </div>
                            </div>
                        </a>
                        <div class="franchise-catalog__card-specs-block">
                            <div class="franchise-catalog__card-specs-table">
                                <table>
                                    <tr>
                                        <th>
                                            Инвестиции
                                        </th>
                                        <td>
                                            200 000 Р
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>
                                            Окупаемость
                                        </th>
                                        <td>
                                            2 месяца
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>
                                            Паушальный взнос
                                        </th>
                                        <td>
                                            200 000 Р
                                        </td>
                                    </tr>
                                </table>
                            </div>
                            <div class="franchise-catalog__card-specs-ratings">
                                <div class="franchise-catalog__card-specs-rating-item">
                                    <div class="franchise-catalog__card-specs-rating-item-icon-container">
                                        <img src="img/franchise/marketing.png" alt=""
                                            class="franchise-catalog__card-specs-rating-item-icon">
                                        <span class="franchise-catalog__card-specs-rating">
                                            <span class="franchise-catalog__card-specs-rating-amount">
                                                5
                                            </span>

                                        </span>
                                    </div>
                                    <div class="franchise-catalog__card-specs-rating-item-title">
                                        Маркетинг
                                    </div>
                                </div>
                                <div class="franchise-catalog__card-specs-rating-item">
                                    <div class="franchise-catalog__card-specs-rating-item-icon-container">
                                        <img src="img/franchise/sales.png" alt=""
                                            class="franchise-catalog__card-specs-rating-item-icon">
                                        <span class="franchise-catalog__card-specs-rating">
                                            <span class="franchise-catalog__card-specs-rating-amount">
                                                3
                                            </span>

                                        </span>
                                    </div>
                                    <div class="franchise-catalog__card-specs-rating-item-title">
                                        Продажи
                                    </div>
                                </div>
                                <div class="franchise-catalog__card-specs-rating-item">
                                    <div class="franchise-catalog__card-specs-rating-item-icon-container">
                                        <img src="img/franchise/reviews.png" alt=""
                                            class="franchise-catalog__card-specs-rating-item-icon">
                                        <span class="franchise-catalog__card-specs-rating">
                                            <span class="franchise-catalog__card-specs-rating-amount">
                                                4
                                            </span>

                                        </span>
                                    </div>
                                    <div class="franchise-catalog__card-specs-rating-item-title">
                                        Работа с людьми
                                    </div>
                                </div>
                            </div>
                            <div class="franchise-catalog__card-btns">
                                <button class="franchise-catalog__card-actions-accordion-toggle">
                                    <span class="franchise-catalog__card-actions-accordion-toggle-content">
                                        <span></span>
                                        <span></span>
                                        <span></span>
                                    </span>
                                </button>
                                <div class="franchise-catalog__card-actions">
                                    <div class="franchise-catalog__card-actions-btn">
                                        <svg width="20" height="5" aria-hidden="true" class="icon-dots">
                                            <use xlink:href="#dots"></use>
                                        </svg>
                                    </div>
                                    <div class="franchise-catalog__card-actions-dropdown">
                                        <div class="franchise-catalog__card-actions-dropdown-inner">
                                            <a href="#" class="franchise-catalog__card-actions-dropdown-link">
                                                <svg width="24" height="24" aria-hidden="true" class="icon-link">
                                                    <use xlink:href="#link"></use>
                                                </svg>
                                                На страницу франшизы

                                            </a>
                                            <a href="#" class="franchise-catalog__card-actions-dropdown-link">
                                                <svg width="24" height="24" aria-hidden="true" class="icon-bubble">
                                                    <use xlink:href="#bubble"></use>
                                                </svg>
                                                На страницу франшизы

                                            </a>
                                            <a href="#" class="franchise-catalog__card-actions-dropdown-link">
                                                <svg width="24" height="24" aria-hidden="true" class="icon-info">
                                                    <use xlink:href="#info"></use>
                                                </svg>
                                                Пожаловаться

                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <a href="#" class="franchise-catalog__card-like">
                                    <svg width="20" height="20" aria-hidden="true" class="icon-star">
                                        <use xlink:href="#star"></use>
                                    </svg>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="franchise-catalog__card-details">
                    <div class="franchise-catalog__card-details-btn js-accordion-btn">
                        Показать
                    </div>
                    <div class="franchise-catalog__card-details-content js-accordion-content">
                        <div class="franchise-catalog__card-details-grid">
                            <div class="franchise-catalog__card-details-left-col">
                                <div class="franchise-catalog__card-details-social-block">
                                    <a href="#" class="franchise-catalog__card-website">
                                        chio-chio.ru
                                        <svg width="12" height="12" aria-hidden="true" class="icon-link-simple">
                                            <use xlink:href="#link-simple"></use>
                                        </svg>
                                    </a>
                                    <div class="franchise-catalog__card-details-social-links">
                                        <a href="#" class="franchise-catalog__card-details-social-link">
                                            <svg width="15" height="15" aria-hidden="true" class="icon-instagram">
                                                <use xlink:href="#instagram"></use>
                                            </svg>
                                        </a>
                                        <a href="#" class="franchise-catalog__card-details-social-link">
                                            <svg width="15" height="15" aria-hidden="true" class="icon-facebook">
                                                <use xlink:href="#facebook"></use>
                                            </svg>
                                        </a>
                                        <a href="#" class="franchise-catalog__card-details-social-link">
                                            <svg width="15" height="15" aria-hidden="true" class="icon-youtube">
                                                <use xlink:href="#youtube"></use>
                                            </svg>
                                        </a>
                                        <a href="#" class="franchise-catalog__card-details-social-link">
                                            <svg width="15" height="15" aria-hidden="true" class="icon-vk">
                                                <use xlink:href="#vk"></use>
                                            </svg>
                                        </a>
                                    </div>
                                    <div class="franchise-catalog__card-details-place-ratings">
                                        <a href="#" class="franchise-catalog__card-details-place-rating">
                                            <img src="img/2gis.png" alt=""
                                                class="franchise-catalog__card-details-place-rating-logo">
                                            <span class="franchise-catalog__card-details-place-rating-score">
                                                7,8
                                            </span>
                                        </a>
                                        <a href="#" class="franchise-catalog__card-details-place-rating">
                                            <img src="img/yandex.png" alt=""
                                                class="franchise-catalog__card-details-place-rating-logo">
                                            <span class="franchise-catalog__card-details-place-rating-score">
                                                8,2
                                            </span>
                                        </a>
                                        <a href="#" class="franchise-catalog__card-details-place-rating">
                                            <img src="img/google.png" alt=""
                                                class="franchise-catalog__card-details-place-rating-logo">
                                            <span class="franchise-catalog__card-details-place-rating-score">
                                                8,2
                                            </span>
                                        </a>
                                    </div>
                                </div>
                                <div class="franchise-catalog__card-details-description-block">
                                    <div class="franchise-catalog__card-details-description">
                                        <p>
                                            Чио Чио является самой быстрорастущей сетью в салонном бизнесе. Ежемесячно
                                            запускается 40-50 парикмахерских. За первый год масштабирования Чио Чио
                                            обогнала всех лидеров отрасли эконом- парикмахерских, которые работают на
                                            этом рынке уже 10 лет.
                                        </p>
                                    </div>
                                    <div class="franchise-catalog__card-details-table">
                                        <table>
                                            <tr>
                                                <th>
                                                    Средний чек
                                                </th>
                                                <td>
                                                    1 500 Р
                                                </td>
                                            </tr>
                                            <tr>
                                                <th>
                                                    География работы и продаж франшизы
                                                </th>
                                                <td>
                                                    РФ и СНГ
                                                </td>
                                            </tr>
                                            <tr>
                                                <th>
                                                    Есть ли франчбук
                                                </th>
                                                <td>
                                                    Да
                                                </td>
                                            </tr>
                                            <tr>
                                                <th>
                                                    Кол-во своих точек
                                                </th>
                                                <td>
                                                    5
                                                </td>
                                            </tr>
                                            <tr>
                                                <th>
                                                    Кол-во точек по франшизе
                                                </th>
                                                <td>
                                                    120
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                    <div class="franchise-catalog__card-details-learn-more">
                                        <div class="franchise-catalog__card-details-founder">
                                            <div class="franchise-catalog__card-details-founder-photo-container">
                                                <img src="img/ilnaz.jpg" alt=""
                                                    class="franchise-catalog__card-details-founder-photo">
                                            </div>
                                            <div class="franchise-catalog__card-details-founder-content">
                                                <div class="franchise-catalog__card-details-founder-title">
                                                    Основатель:

                                                </div>
                                                <div class="franchise-catalog__card-details-founder-name">
                                                    Ильназ Набиуллин

                                                </div>
                                            </div>
                                        </div>
                                        <div class="franchise-catalog__card-details-learn-more-links">
                                            <a href="#" class="franchise-catalog__card-details-learn-more-comments">
                                                <svg width="22" height="22" aria-hidden="true" class="icon-question">
                                                    <use xlink:href="#question"></use>
                                                </svg>

                                                13
                                            </a>
                                            <a href="#" class="franchise-catalog__card-details-learn-more-link">
                                                Узнать больше
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="franchise-catalog__card-details-right-col">
                                <div class="franchise-catalog__card-details-gallery-slider js-franchise-gallery-slider">
                                    <button
                                        class="franchise-catalog__card-details-gallery-slider-arrow franchise-catalog__card-details-gallery-slider-arrow--prev">
                                        <svg width="12" height="18" aria-hidden="true" class="icon-arrow-left">
                                            <use xlink:href="#arrow-left"></use>
                                        </svg>
                                    </button>
                                    <div class="swiper-container">
                                        <div class="swiper-wrapper">
                                            <div class="swiper-slide">
                                                <div class="franchise-catalog__card-details-gallery-slider-card">
                                                    <img src="img/franchise/gallery.jpg" alt=""
                                                        class="franchise-catalog__card-details-gallery-slider-card-image">
                                                </div>
                                            </div>
                                            <div class="swiper-slide">
                                                <div class="franchise-catalog__card-details-gallery-slider-card">
                                                    <img src="img/franchise/gallery.jpg" alt=""
                                                        class="franchise-catalog__card-details-gallery-slider-card-image">
                                                </div>
                                            </div>
                                            <div class="swiper-slide">
                                                <div class="franchise-catalog__card-details-gallery-slider-card">
                                                    <img src="img/franchise/gallery.jpg" alt=""
                                                        class="franchise-catalog__card-details-gallery-slider-card-image">
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <button
                                        class="franchise-catalog__card-details-gallery-slider-arrow franchise-catalog__card-details-gallery-slider-arrow--next">
                                        <svg width="12" height="18" aria-hidden="true" class="icon-arrow-right">
                                            <use xlink:href="#arrow-right"></use>
                                        </svg>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li class="franchise-catalog__list-item">
                <div class="franchise-catalog__card">
                    <div class="franchise-catalog__card-main">
                        <a href="#" class="franchise-catalog__card-title-block">
                            <div class="franchise-catalog__card-logo-container">
                                <img src="img/franchise/doner.jpg" alt="" class="franchise-catalog__card-logo">
                                <span class="franchise-catalog__card-rating">
                                    <span class="franchise-catalog__card-rating-amount">
                                        7,8
                                    </span>

                                </span>
                            </div>
                            <div class="franchise-catalog__card-title-block-content">
                                <h3 class="franchise-catalog__card-title-heading">
                                    Сеть полезного фастфуда «Сеньор Денер»
                                </h3>
                                <div class="franchise-catalog__card-title-description">
                                    <p>
                                        Продано 50 франшиз за 6 месяцев на 12 500 000 Р
                                    </p>
                                </div>
                            </div>
                        </a>
                        <div class="franchise-catalog__card-specs-block">
                            <div class="franchise-catalog__card-specs-table">
                                <table>
                                    <tr>
                                        <th>
                                            Инвестиции
                                        </th>
                                        <td>
                                            200 000 Р
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>
                                            Окупаемость
                                        </th>
                                        <td>
                                            2 месяца
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>
                                            Паушальный взнос
                                        </th>
                                        <td>
                                            200 000 Р
                                        </td>
                                    </tr>
                                </table>
                            </div>
                            <div class="franchise-catalog__card-specs-ratings">
                                <div class="franchise-catalog__card-specs-rating-item">
                                    <div class="franchise-catalog__card-specs-rating-item-icon-container">
                                        <img src="img/franchise/marketing.png" alt=""
                                            class="franchise-catalog__card-specs-rating-item-icon">
                                        <span class="franchise-catalog__card-specs-rating">
                                            <span class="franchise-catalog__card-specs-rating-amount">
                                                5
                                            </span>

                                        </span>
                                    </div>
                                    <div class="franchise-catalog__card-specs-rating-item-title">
                                        Маркетинг
                                    </div>
                                </div>
                                <div class="franchise-catalog__card-specs-rating-item">
                                    <div class="franchise-catalog__card-specs-rating-item-icon-container">
                                        <img src="img/franchise/sales.png" alt=""
                                            class="franchise-catalog__card-specs-rating-item-icon">
                                        <span class="franchise-catalog__card-specs-rating">
                                            <span class="franchise-catalog__card-specs-rating-amount">
                                                3
                                            </span>

                                        </span>
                                    </div>
                                    <div class="franchise-catalog__card-specs-rating-item-title">
                                        Продажи
                                    </div>
                                </div>
                                <div class="franchise-catalog__card-specs-rating-item">
                                    <div class="franchise-catalog__card-specs-rating-item-icon-container">
                                        <img src="img/franchise/reviews.png" alt=""
                                            class="franchise-catalog__card-specs-rating-item-icon">
                                        <span class="franchise-catalog__card-specs-rating">
                                            <span class="franchise-catalog__card-specs-rating-amount">
                                                4
                                            </span>

                                        </span>
                                    </div>
                                    <div class="franchise-catalog__card-specs-rating-item-title">
                                        Работа с людьми
                                    </div>
                                </div>
                            </div>
                            <div class="franchise-catalog__card-btns">
                                <div class="franchise-catalog__card-actions">
                                    <div class="franchise-catalog__card-actions-btn">
                                        <svg width="20" height="5" aria-hidden="true" class="icon-dots">
                                            <use xlink:href="#dots"></use>
                                        </svg>
                                    </div>
                                    <div class="franchise-catalog__card-actions-dropdown">
                                        <div class="franchise-catalog__card-actions-dropdown-inner">
                                            <a href="#" class="franchise-catalog__card-actions-dropdown-link">
                                                <svg width="24" height="24" aria-hidden="true" class="icon-link">
                                                    <use xlink:href="#link"></use>
                                                </svg>
                                                На страницу франшизы

                                            </a>
                                            <a href="#" class="franchise-catalog__card-actions-dropdown-link">
                                                <svg width="24" height="24" aria-hidden="true" class="icon-bubble">
                                                    <use xlink:href="#bubble"></use>
                                                </svg>
                                                На страницу франшизы

                                            </a>
                                            <a href="#" class="franchise-catalog__card-actions-dropdown-link">
                                                <svg width="24" height="24" aria-hidden="true" class="icon-info">
                                                    <use xlink:href="#info"></use>
                                                </svg>
                                                Пожаловаться

                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <a href="#" class="franchise-catalog__card-like">
                                    <svg width="20" height="20" aria-hidden="true" class="icon-star">
                                        <use xlink:href="#star"></use>
                                    </svg>
                                </a>
                            </div>
                        </div>
                    </div>

                </div>
            </li>
        </ul>
        <a href="#" class="franchise-catalog__show-more">
            Показать еще
        </a>
    </div>
</section>

{{/content}}
{{/extend}}