{{#extend "layout"}}
{{#content "main"}}

<section class="news">
    <div class="container">
        <h2 class="news__main-heading">
            Новости
        </h2>
        <div class="news__navigation">
            <a href="#" class="news__navigation-link active">
                Франшизы
            </a>
            <a href="#" class="news__navigation-link">
                Обзор новинок
            </a>
            <a href="#" class="news__navigation-link">
                о сервисе
            </a>
            <a href="#" class="news__navigation-link">
                СМИ о нас
            </a>
        </div>

        <div class="news__layout">
            <div class="news__layout-sidebar">
                <ul class="news__other-news-list">
                    <li class="news__other-news-list-item">
                        <a href="#" class="news__other-news-card">
                            <div class="news__other-news-card-content">
                                <h4 class="news__other-news-card-title">
                                    Сеть кофеен меняет стратегию работы с франчайзи
                                </h4>
                                <span class="news__other-news-card-date">
                                    4.03.2020
                                </span>
                            </div>
                            <div class="news__other-news-card-image-container">
                                <img src="img/other-news/1.jpg" alt="" class="news__other-news-card-image">
                            </div>
                        </a>
                    </li>
                    <li class="news__other-news-list-item">
                        <a href="#" class="news__other-news-card active">
                            <div class="news__other-news-card-content">
                                <h4 class="news__other-news-card-title">
                                    Eurospar откроется в знаковой локации в Омске
                                </h4>
                                <span class="news__other-news-card-date">
                                    4.03.2020
                                </span>
                            </div>
                            <div class="news__other-news-card-image-container">
                                <img src="img/other-news/2.jpg" alt="" class="news__other-news-card-image">
                            </div>
                        </a>
                    </li>
                    <li class="news__other-news-list-item">
                        <a href="#" class="news__other-news-card">
                            <div class="news__other-news-card-content">
                                <h4 class="news__other-news-card-title">
                                    Нидерландский кикшеринг будет развиваться по франшизе
                                </h4>
                                <span class="news__other-news-card-date">
                                    4.03.2020
                                </span>
                            </div>
                            <div class="news__other-news-card-image-container">
                                <img src="img/other-news/3.jpg" alt="" class="news__other-news-card-image">
                            </div>
                        </a>
                    </li>
                    <li class="news__other-news-list-item">
                        <a href="#" class="news__other-news-card">
                            <div class="news__other-news-card-content">
                                <h4 class="news__other-news-card-title">
                                    Сооснователь Fit Service рассказал о своём худшем факапе
                                </h4>
                                <span class="news__other-news-card-date">
                                    4.03.2020
                                </span>
                            </div>
                            <div class="news__other-news-card-image-container">
                                <img src="img/other-news/4.jpg" alt="" class="news__other-news-card-image">
                            </div>
                        </a>
                    </li>
                    <li class="news__other-news-list-item">
                        <a href="#" class="news__other-news-card">
                            <div class="news__other-news-card-content">
                                <h4 class="news__other-news-card-title">
                                    Eurospar откроется в знаковой локации в Омске
                                </h4>
                                <span class="news__other-news-card-date">
                                    4.03.2020
                                </span>
                            </div>
                            <div class="news__other-news-card-image-container">
                                <img src="img/other-news/5.jpg" alt="" class="news__other-news-card-image">
                            </div>
                        </a>
                    </li>
                    <li class="news__other-news-list-item">
                        <a href="#" class="news__other-news-card">
                            <div class="news__other-news-card-content">
                                <h4 class="news__other-news-card-title">
                                    Нидерландский кикшеринг будет развиваться по франшизе
                                </h4>
                                <span class="news__other-news-card-date">
                                    4.03.2020
                                </span>
                            </div>
                            <div class="news__other-news-card-image-container">
                                <img src="img/other-news/6.jpg" alt="" class="news__other-news-card-image">
                            </div>
                        </a>
                    </li>
                </ul>
                <a href="#" class="news__other-news-show-more-link">
                    Показать еще
                </a>
            </div>
            <div class="news__main">
                <ul class="news__list">
                    <li class="news__list-item">
                        <h1 class="news__heading">
                            Обязательную маркировку ювелирных изделий введут не раньше 2021 года
                        </h1>
                        <div class="news__date">
                            4.03.2020
                        </div>
                        <div class="news__content-short-description">
                            Нидерландская сеть супермаркетов Spar, недавно покинувшая Санкт-Петербург из-за банкротства
                            крупнейшего российского франчайзи ТД «Интерторг», расширяет своё присутствие в Сибири за
                            счет другого местного партнёра. Открытие магазина запланировано в Омске, точка начнёт работу
                            в апреле 2020-го года. Речь идёт об универмаге под вывеской Eurospar.
                        </div>
                        <div class="news__content">
                            <figure>
                                <img src="img/news/1.jpg" alt="">
                                <figcaption>Нидерландская сеть супермаркетов Spar, недавно покинувшая Санкт-Петербург
                                    из-за банкротства крупнейшего российского франчайзи ТД «Интерторг»</figcaption>
                            </figure>
                            <p>
                                Это будет третья точка Eurospar в Омске. Вторая начала принимать покупателей немногим
                                ранее — в феврале 2020-го года.
                            </p>
                            <p>
                                Новый магазин откроется на перекрёстке улиц Дианова и Лукашевича на месте универсама
                                «Север», который начал работу в 80-е годы и в своё время считался крупнейшим в старой
                                части Кировского административного округа Омска.
                            </p>
                            <p>
                                Об этом сообщает Ngs55.ru со ссылкой на бывшего президента Союза предпринимателей Омской
                                области Дмитрия Шадрина. Бизнесмен управляет франчайзинговой сетью Eurospar в сибирском
                                мегаполисе.
                            </p>
                            <ul>
                                <li>
                                    Введение
                                </li>
                                <li>
                                    Поиск помещения
                                </li>
                                <li>
                                    Ремонт помещения
                                </li>
                                <li>
                                    Запуск франчайзи
                                </li>
                                <li>
                                    Оборудование
                                </li>
                                <li>
                                    Персонал
                                </li>
                                <li>
                                    Система мотивации
                                </li>
                            </ul>
                            <p>
                                По его словам, помещение давно использовалось для размещения продуктовых магазинов.
                                «Внешний вид здания будет приведён в порядок, и будут исправлены все те проблемы,
                                которые накопились за годы, пока за ним особо не следили. Внутри всё будет
                                соответствовать франшизе», — утверждает Шадрин.
                            </p>
                            <h3>
                                Шкуренко имеет опыт работы за рубежом.
                            </h3>
                            <p>
                                Кроме того, Шкуренко имеет опыт работы за рубежом: в частности, он занимался развитием
                                собственной сети супермаркетов «Низкоцен» в Казахстане. В 2017-м году бизнесмен решил
                                продать точки местному ретейлеру «Семейный», после чего открыл в стране магазин под
                                вывеской Inmart. На данный момент бренд насчитывает более 15 точек.
                            </p>
                            <ol>
                                <li>
                                    Введение
                                </li>
                                <li>
                                    Поиск помещения
                                </li>
                                <li>
                                    Ремонт помещения
                                </li>
                                <li>
                                    Запуск франчайзи
                                </li>
                                <li>
                                    Оборудование
                                </li>
                                <li>
                                    Персонал
                                </li>
                                <li>
                                    Система мотивации
                                </li>
                            </ol>
                            <p>
                                Кроме того, Шкуренко имеет опыт работы за рубежом: в частности, он занимался развитием
                                собственной сети супермаркетов «Низкоцен» в Казахстане. В 2017-м году бизнесмен решил
                                продать точки местному ретейлеру «Семейный», после чего открыл в стране магазин под
                                вывеской Inmart. На данный момент бренд насчитывает более 15 точек.
                            </p>
                        </div>
                        <div class="news__tags">
                            <a href="#" class="news__tag">
                                Франшизы
                            </a>
                            <a href="#" class="news__tag">
                                Обзор открытий
                            </a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>

{{/content}}
{{/extend}}