{{#extend "layout"}}
{{#content "main"}}

<section class="news">
    <div class="container">


        <div class="project-page__layout">
            <div class="project-page__layout-sidebar">
                <a href="#" class="project-page__back">
                    Вернуться
                </a>
            </div>
            <div class="project-page__layout-main">
                <ul class="news__list">
                    <li class="news__list-item">
                        <h1 class="news__heading">
                            Обязательную маркировку ювелирных изделий введут не раньше 2021 года
                        </h1>
                        <div class="news__date">
                            4.03.2020
                        </div>
                        <div class="news__content-short-description">
                            Нидерландская сеть супермаркетов Spar, недавно покинувшая Санкт-Петербург из-за банкротства
                            крупнейшего российского франчайзи ТД «Интерторг», расширяет своё присутствие в Сибири за
                            счет другого местного партнёра. Открытие магазина запланировано в Омске, точка начнёт работу
                            в апреле 2020-го года. Речь идёт об универмаге под вывеской Eurospar.
                        </div>
                        <div class="news__content">
                            <figure>
                                <img src="img/news/1.jpg" alt="">
                                <figcaption>Нидерландская сеть супермаркетов Spar, недавно покинувшая Санкт-Петербург
                                    из-за банкротства крупнейшего российского франчайзи ТД «Интерторг»</figcaption>
                            </figure>
                            <p>
                                Это будет третья точка Eurospar в Омске. Вторая начала принимать покупателей немногим
                                ранее — в феврале 2020-го года.
                            </p>
                            <p>
                                Новый магазин откроется на перекрёстке улиц Дианова и Лукашевича на месте универсама
                                «Север», который начал работу в 80-е годы и в своё время считался крупнейшим в старой
                                части Кировского административного округа Омска.
                            </p>
                            <p>
                                Об этом сообщает Ngs55.ru со ссылкой на бывшего президента Союза предпринимателей Омской
                                области Дмитрия Шадрина. Бизнесмен управляет франчайзинговой сетью Eurospar в сибирском
                                мегаполисе.
                            </p>
                            <ul>
                                <li>
                                    Введение
                                </li>
                                <li>
                                    Поиск помещения
                                </li>
                                <li>
                                    Ремонт помещения
                                </li>
                                <li>
                                    Запуск франчайзи
                                </li>
                                <li>
                                    Оборудование
                                </li>
                                <li>
                                    Персонал
                                </li>
                                <li>
                                    Система мотивации
                                </li>
                            </ul>
                            <p>
                                По его словам, помещение давно использовалось для размещения продуктовых магазинов.
                                «Внешний вид здания будет приведён в порядок, и будут исправлены все те проблемы,
                                которые накопились за годы, пока за ним особо не следили. Внутри всё будет
                                соответствовать франшизе», — утверждает Шадрин.
                            </p>
                            <h3>
                                Шкуренко имеет опыт работы за рубежом.
                            </h3>
                            <p>
                                Кроме того, Шкуренко имеет опыт работы за рубежом: в частности, он занимался развитием
                                собственной сети супермаркетов «Низкоцен» в Казахстане. В 2017-м году бизнесмен решил
                                продать точки местному ретейлеру «Семейный», после чего открыл в стране магазин под
                                вывеской Inmart. На данный момент бренд насчитывает более 15 точек.
                            </p>
                            <ol>
                                <li>
                                    Введение
                                </li>
                                <li>
                                    Поиск помещения
                                </li>
                                <li>
                                    Ремонт помещения
                                </li>
                                <li>
                                    Запуск франчайзи
                                </li>
                                <li>
                                    Оборудование
                                </li>
                                <li>
                                    Персонал
                                </li>
                                <li>
                                    Система мотивации
                                </li>
                            </ol>
                            <p>
                                Кроме того, Шкуренко имеет опыт работы за рубежом: в частности, он занимался развитием
                                собственной сети супермаркетов «Низкоцен» в Казахстане. В 2017-м году бизнесмен решил
                                продать точки местному ретейлеру «Семейный», после чего открыл в стране магазин под
                                вывеской Inmart. На данный момент бренд насчитывает более 15 точек.
                            </p>
                            <h3>
                                Шкуренко имеет опыт работы за рубежом.
                            </h3>
                            <p>
                                Кроме того, Шкуренко имеет опыт работы за рубежом: в частности, он занимался развитием
                                собственной сети супермаркетов «Низкоцен» в Казахстане. В 2017-м году бизнесмен решил
                                продать точки местному ретейлеру «Семейный», после чего открыл в стране магазин под
                                вывеской Inmart. На данный момент бренд насчитывает более 15 точек.
                            </p>
                            <img src="img/project-page-image.jpg" alt=""
                                style="float: right; margin-left: 20px; margin-top: 20px; margin-bottom: 20px;"
                                width="448px">
                            <p>
                                Это будет третья точка Eurospar в Омске. Вторая начала принимать покупателей немногим
                                ранее — в феврале 2020-го года.
                            </p>
                            <p>
                                Новый магазин откроется на перекрёстке улиц Дианова и Лукашевича на месте универсама
                                «Север», который начал работу в 80-е годы и в своё время считался крупнейшим в старой
                                части Кировского административного округа Омска. Это будет третья точка Eurospar в
                                Омске. Вторая начала принимать покупателей Омска. Это будет третья точка Eurospar в
                            </p>
                            <p>
                                Кроме того, Шкуренко имеет опыт работы за рубежом: в частности, он занимался развитием
                                собственной сети супермаркетов «Низкоцен» в Казахстане. В 2017-м году бизнесмен решил
                                продать точки местному ретейлеру «Семейный», после чего открыл в стране магазин под
                                вывеской Inmart. На данный момент бренд насчитывает более 15 точек.
                            </p>
                        </div>

                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>


<section class="franchise-contact franchise-contact--with-bg"
    style="background-image: url('../img/contact-poject.jpg')">
    <div class="container">
        <div class="inner-container">
            <div class="franchise-contact__row">
                <div class="franchise-contact__left-col">
                    <h2 class="franchise-contact__heading">
                        Покажем и расскажем, как мы работаем
                        с нашими партнерами
                    </h2>
                    <div class="franchise-contact__text">
                        <p>
                            Вы познакомитесь с основателем и ключевыми сотрудниками компании, сможете задать вопросы им
                            лично. Вас ожидает:

                        </p>
                        <ul>
                            <li>
                                Экскурсия по нашим парикмахерским
                            </li>
                            <li>
                                Экскурсия в центральный офис
                            </li>
                            <li>
                                Знакомство с управляющей компанией и ключевыми сотрудниками
                            </li>
                            <li>
                                Знакомство с основателем сети Ильназом Набиуллиным
                            </li>
                        </ul>
                    </div>

                </div>
                <div class="franchise-contact__right-col">
                    <form action="/" method="POST" class="franchise-contact__form" data-need-validation="">
                        <div class="franchise-contact__form-group">
                            <input type="text" class="franchise-contact__form-input" placeholder="Ваше имя" required>
                        </div>
                        <div class="franchise-contact__form-group">
                            <input type="email" class="franchise-contact__form-input" placeholder="Ваш e-mail" required>
                        </div>
                        <div class="franchise-contact__form-group">
                            <input type="tel" class="franchise-contact__form-input js-phone-input" placeholder="Телефон"
                                data-parsley-phone required>
                        </div>
                        <div class="franchise-contact__form-group">
                            <label class="franchise-contact__form-checkbox">
                                <input type="checkbox" name="policy" class="franchise-contact__form-checkbox-input"
                                    required>
                                <span class="franchise-contact__form-checkbox-mark">

                                </span>
                                <div class="franchise-contact__form-checkbox-text">
                                    Согласие на обработку персональных данных
                                </div>
                            </label>
                        </div>
                        <div class="franchise-contact__form-group">
                            <button type="submit" class="franchise-contact__form-submit">
                                Оставить заявку
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

{{/content}}
{{/extend}}