{{#extend "layout"}}
{{#content "main"}}

<section class="news">
    <div class="container">


        <div class="project-page__layout">
            <div class="project-page__layout-sidebar">
                <a href="#" class="project-page__back">
                    Вернуться
                </a>
            </div>
            <div class="project-page__layout-main">
                <div class="team">
                    <h1 class="team__heading">
                        Наша команда
                    </h1>
                    <div class="team__text">
                        <p>
                            Во франчайзинге мы шесть лет и понимаем, что сложная тема должна преподносится открыто и
                            понятно для каждого. Для тех, кто хочет воспользоваться каталогом, чтобы продвигать
                            собственную франшизу и для тех, кто задаётся вопросом, какую франшизу купить, или какой
                            бизнес открыть.
                        </p>
                    </div>
                    <ul class="team__list">
                        <li class="team__list-item">
                            <div class="team__card">
                                <div class="team__card-image-container">
                                    <img src="img/team/1.jpg" alt="" class="team__card-image">
                                    <div class="team__card-social js-team-card-social">
                                        <button class="team__card-social-btn">
                                            <svg width="16" height="3" aria-hidden="true" class="icon-dots">
                                                <use xlink:href="#dots"></use>
                                            </svg>
                                            <svg width="16" height="16" aria-hidden="true" class="icon-cross">
                                                <use xlink:href="#cross"></use>
                                            </svg>
                                        </button>
                                        <div class="team__card-social-content-wrapper">
                                            <ul class="team__card-social-list">
                                                <li class="team__card-social-list-item">
                                                    <a href="#" class="team__card-social-link">
                                                        <svg width="18" height="18" aria-hidden="true"
                                                            class="icon-instagram">
                                                            <use xlink:href="#instagram"></use>
                                                        </svg>
                                                    </a>
                                                </li>
                                                <li class="team__card-social-list-item">
                                                    <a href="#" class="team__card-social-link">
                                                        <svg width="18" height="18" aria-hidden="true"
                                                            class="icon-facebook">
                                                            <use xlink:href="#facebook"></use>
                                                        </svg>
                                                    </a>
                                                </li>
                                                <li class="team__card-social-list-item">
                                                    <a href="#" class="team__card-social-link">
                                                        <svg width="18" height="18" aria-hidden="true"
                                                            class="icon-youtube">
                                                            <use xlink:href="#youtube"></use>
                                                        </svg>
                                                    </a>
                                                </li>
                                                <li class="team__card-social-list-item">
                                                    <a href="#" class="team__card-social-link">
                                                        <svg width="18" height="18" aria-hidden="true" class="icon-vk">
                                                            <use xlink:href="#vk"></use>
                                                        </svg>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <h4 class="team__card-title">
                                    Ильназ Набиуллин
                                </h4>
                                <div class="team__card-text">
                                    <p>
                                        Генеральный директор
                                    </p>
                                    <p>
                                        Предприниматель с 8-ми летним опытом. Эксперт по франчайзингу
                                    </p>
                                </div>
                                <a href="#" class="team__card-link">
                                    Смотреть профиль
                                </a>
                            </div>
                        </li>
                        <li class="team__list-item">
                            <div class="team__card">
                                <div class="team__card-image-container">
                                    <img src="img/team/2.jpg" alt="" class="team__card-image">
                                    <div class="team__card-social js-team-card-social">
                                        <button class="team__card-social-btn">
                                            <svg width="16" height="3" aria-hidden="true" class="icon-dots">
                                                <use xlink:href="#dots"></use>
                                            </svg>
                                            <svg width="16" height="16" aria-hidden="true" class="icon-cross">
                                                <use xlink:href="#cross"></use>
                                            </svg>
                                        </button>
                                        <div class="team__card-social-content-wrapper">
                                            <ul class="team__card-social-list">
                                                <li class="team__card-social-list-item">
                                                    <a href="#" class="team__card-social-link">
                                                        <svg width="18" height="18" aria-hidden="true"
                                                            class="icon-instagram">
                                                            <use xlink:href="#instagram"></use>
                                                        </svg>
                                                    </a>
                                                </li>
                                                <li class="team__card-social-list-item">
                                                    <a href="#" class="team__card-social-link">
                                                        <svg width="18" height="18" aria-hidden="true"
                                                            class="icon-facebook">
                                                            <use xlink:href="#facebook"></use>
                                                        </svg>
                                                    </a>
                                                </li>
                                                <li class="team__card-social-list-item">
                                                    <a href="#" class="team__card-social-link">
                                                        <svg width="18" height="18" aria-hidden="true"
                                                            class="icon-youtube">
                                                            <use xlink:href="#youtube"></use>
                                                        </svg>
                                                    </a>
                                                </li>
                                                <li class="team__card-social-list-item">
                                                    <a href="#" class="team__card-social-link">
                                                        <svg width="18" height="18" aria-hidden="true" class="icon-vk">
                                                            <use xlink:href="#vk"></use>
                                                        </svg>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <h4 class="team__card-title">
                                    Миляуша Набиуллина
                                </h4>
                                <div class="team__card-text">
                                    <p>
                                        Руководитель отдела
                                    </p>
                                    <p>
                                        Предприниматель с 8-ми летним опытом. Эксперт по франчайзингу
                                    </p>
                                </div>
                                <a href="#" class="team__card-link">
                                    Смотреть профиль
                                </a>
                            </div>
                        </li>
                        <li class="team__list-item">
                            <div class="team__card">
                                <div class="team__card-image-container">
                                    <img src="img/team/3.jpg" alt="" class="team__card-image">
                                    <div class="team__card-social js-team-card-social">
                                        <button class="team__card-social-btn">
                                            <svg width="16" height="3" aria-hidden="true" class="icon-dots">
                                                <use xlink:href="#dots"></use>
                                            </svg>
                                            <svg width="16" height="16" aria-hidden="true" class="icon-cross">
                                                <use xlink:href="#cross"></use>
                                            </svg>
                                        </button>
                                        <div class="team__card-social-content-wrapper">
                                            <ul class="team__card-social-list">
                                                <li class="team__card-social-list-item">
                                                    <a href="#" class="team__card-social-link">
                                                        <svg width="18" height="18" aria-hidden="true"
                                                            class="icon-instagram">
                                                            <use xlink:href="#instagram"></use>
                                                        </svg>
                                                    </a>
                                                </li>
                                                <li class="team__card-social-list-item">
                                                    <a href="#" class="team__card-social-link">
                                                        <svg width="18" height="18" aria-hidden="true"
                                                            class="icon-facebook">
                                                            <use xlink:href="#facebook"></use>
                                                        </svg>
                                                    </a>
                                                </li>
                                                <li class="team__card-social-list-item">
                                                    <a href="#" class="team__card-social-link">
                                                        <svg width="18" height="18" aria-hidden="true"
                                                            class="icon-youtube">
                                                            <use xlink:href="#youtube"></use>
                                                        </svg>
                                                    </a>
                                                </li>
                                                <li class="team__card-social-list-item">
                                                    <a href="#" class="team__card-social-link">
                                                        <svg width="18" height="18" aria-hidden="true" class="icon-vk">
                                                            <use xlink:href="#vk"></use>
                                                        </svg>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <h4 class="team__card-title">
                                    Ильназ Набиуллин
                                </h4>
                                <div class="team__card-text">
                                    <p>
                                        Генеральный директор
                                    </p>
                                    <p>
                                        Предприниматель с 8-ми летним опытом. Эксперт по франчайзингу
                                    </p>
                                </div>
                                <a href="#" class="team__card-link">
                                    Смотреть профиль
                                </a>
                            </div>
                        </li>
                        <li class="team__list-item">
                            <div class="team__card">
                                <div class="team__card-image-container">
                                    <img src="img/team/4.jpg" alt="" class="team__card-image">
                                    <div class="team__card-social js-team-card-social">
                                        <button class="team__card-social-btn">
                                            <svg width="16" height="3" aria-hidden="true" class="icon-dots">
                                                <use xlink:href="#dots"></use>
                                            </svg>
                                            <svg width="16" height="16" aria-hidden="true" class="icon-cross">
                                                <use xlink:href="#cross"></use>
                                            </svg>
                                        </button>
                                        <div class="team__card-social-content-wrapper">
                                            <ul class="team__card-social-list">
                                                <li class="team__card-social-list-item">
                                                    <a href="#" class="team__card-social-link">
                                                        <svg width="18" height="18" aria-hidden="true"
                                                            class="icon-instagram">
                                                            <use xlink:href="#instagram"></use>
                                                        </svg>
                                                    </a>
                                                </li>
                                                <li class="team__card-social-list-item">
                                                    <a href="#" class="team__card-social-link">
                                                        <svg width="18" height="18" aria-hidden="true"
                                                            class="icon-facebook">
                                                            <use xlink:href="#facebook"></use>
                                                        </svg>
                                                    </a>
                                                </li>
                                                <li class="team__card-social-list-item">
                                                    <a href="#" class="team__card-social-link">
                                                        <svg width="18" height="18" aria-hidden="true"
                                                            class="icon-youtube">
                                                            <use xlink:href="#youtube"></use>
                                                        </svg>
                                                    </a>
                                                </li>
                                                <li class="team__card-social-list-item">
                                                    <a href="#" class="team__card-social-link">
                                                        <svg width="18" height="18" aria-hidden="true" class="icon-vk">
                                                            <use xlink:href="#vk"></use>
                                                        </svg>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <h4 class="team__card-title">
                                    Ильназ Набиуллин
                                </h4>
                                <div class="team__card-text">
                                    <p>
                                        Генеральный директор
                                    </p>
                                    <p>
                                        Предприниматель с 8-ми летним опытом. Эксперт по франчайзингу
                                    </p>
                                </div>
                                <a href="#" class="team__card-link">
                                    Смотреть профиль
                                </a>
                            </div>
                        </li>
                        <li class="team__list-item">
                            <div class="team__card">
                                <div class="team__card-image-container">
                                    <img src="img/team/1.jpg" alt="" class="team__card-image">
                                    <div class="team__card-social js-team-card-social">
                                        <button class="team__card-social-btn">
                                            <svg width="16" height="3" aria-hidden="true" class="icon-dots">
                                                <use xlink:href="#dots"></use>
                                            </svg>
                                            <svg width="16" height="16" aria-hidden="true" class="icon-cross">
                                                <use xlink:href="#cross"></use>
                                            </svg>
                                        </button>
                                        <div class="team__card-social-content-wrapper">
                                            <ul class="team__card-social-list">
                                                <li class="team__card-social-list-item">
                                                    <a href="#" class="team__card-social-link">
                                                        <svg width="18" height="18" aria-hidden="true"
                                                            class="icon-instagram">
                                                            <use xlink:href="#instagram"></use>
                                                        </svg>
                                                    </a>
                                                </li>
                                                <li class="team__card-social-list-item">
                                                    <a href="#" class="team__card-social-link">
                                                        <svg width="18" height="18" aria-hidden="true"
                                                            class="icon-facebook">
                                                            <use xlink:href="#facebook"></use>
                                                        </svg>
                                                    </a>
                                                </li>
                                                <li class="team__card-social-list-item">
                                                    <a href="#" class="team__card-social-link">
                                                        <svg width="18" height="18" aria-hidden="true"
                                                            class="icon-youtube">
                                                            <use xlink:href="#youtube"></use>
                                                        </svg>
                                                    </a>
                                                </li>
                                                <li class="team__card-social-list-item">
                                                    <a href="#" class="team__card-social-link">
                                                        <svg width="18" height="18" aria-hidden="true" class="icon-vk">
                                                            <use xlink:href="#vk"></use>
                                                        </svg>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <h4 class="team__card-title">
                                    Ильназ Набиуллин
                                </h4>
                                <div class="team__card-text">
                                    <p>
                                        Генеральный директор
                                    </p>
                                    <p>
                                        Предприниматель с 8-ми летним опытом. Эксперт по франчайзингу
                                    </p>
                                </div>
                                <a href="#" class="team__card-link">
                                    Смотреть профиль
                                </a>
                            </div>
                        </li>
                        <li class="team__list-item">
                            <div class="team__card">
                                <div class="team__card-image-container">
                                    <img src="img/team/5.jpg" alt="" class="team__card-image">
                                    <div class="team__card-social js-team-card-social">
                                        <button class="team__card-social-btn">
                                            <svg width="16" height="3" aria-hidden="true" class="icon-dots">
                                                <use xlink:href="#dots"></use>
                                            </svg>
                                            <svg width="16" height="16" aria-hidden="true" class="icon-cross">
                                                <use xlink:href="#cross"></use>
                                            </svg>
                                        </button>
                                        <div class="team__card-social-content-wrapper">
                                            <ul class="team__card-social-list">
                                                <li class="team__card-social-list-item">
                                                    <a href="#" class="team__card-social-link">
                                                        <svg width="18" height="18" aria-hidden="true"
                                                            class="icon-instagram">
                                                            <use xlink:href="#instagram"></use>
                                                        </svg>
                                                    </a>
                                                </li>
                                                <li class="team__card-social-list-item">
                                                    <a href="#" class="team__card-social-link">
                                                        <svg width="18" height="18" aria-hidden="true"
                                                            class="icon-facebook">
                                                            <use xlink:href="#facebook"></use>
                                                        </svg>
                                                    </a>
                                                </li>
                                                <li class="team__card-social-list-item">
                                                    <a href="#" class="team__card-social-link">
                                                        <svg width="18" height="18" aria-hidden="true"
                                                            class="icon-youtube">
                                                            <use xlink:href="#youtube"></use>
                                                        </svg>
                                                    </a>
                                                </li>
                                                <li class="team__card-social-list-item">
                                                    <a href="#" class="team__card-social-link">
                                                        <svg width="18" height="18" aria-hidden="true" class="icon-vk">
                                                            <use xlink:href="#vk"></use>
                                                        </svg>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <h4 class="team__card-title">
                                    Миляуша Набиуллина
                                </h4>
                                <div class="team__card-text">
                                    <p>
                                        Руководитель отдела
                                    </p>
                                    <p>
                                        Предприниматель с 8-ми летним опытом. Эксперт по франчайзингу
                                    </p>
                                </div>
                                <a href="#" class="team__card-link">
                                    Смотреть профиль
                                </a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>





{{/content}}
{{/extend}}