.add {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.add__top-panel-row {
    display: flex;
    align-items: center;
    min-height: 11rem;
    background-color: #fff;

    @include breakpoint(mobile) {
        min-height: auto;
        flex-direction: column;
        align-items: initial;
        padding: 2rem 0;
    }
}

.add__top-panel-heading {
    margin-right: auto;
    font-weight: bold;
    font-size: 2.8rem;
    line-height: 120%;

    @include breakpoint(mobile) {
        font-size: 2.4rem;
        margin-bottom: 1.4rem;
    }
}

.add__top-panel-saved-at {
    font-size: 1.4rem;
    line-height: 120%;
    margin-right: 3rem;
    color: #8a9ebf;

    @include breakpoint(mobile) {
        margin: 0;
        margin-bottom: 1rem;
    }
}

.add__top-panel-buttons {
    display: flex;
    align-items: center;
}

.add__top-panel-button {
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 1.2;
    font-family: var(--gotham);
    flex-shrink: 0;
    padding: 1.2rem 2.4rem;
    background: #e7f0ff;
    border-radius: 0.4rem;
    margin-right: 1.8rem;
    color: var(--primary-color);
    min-width: 17rem;
    text-align: center;
    transition: color 0.2s, background-color 0.2s;
    &:link,
    &:visited {
        color: var(--primary-color);
    }

    &:hover {
        background: var(--primary-color);
        color: white;
    }
    &--save {
        background: #63ba76;
        color: white;
        &:link,
        &:visited {
            color: white;
        }

        &:hover {
            background: darken(#63ba76, 7%);
        }
    }
    &:last-child {
        margin-right: 0;
    }

    @include breakpoint(mobile) {
        min-width: auto;
        font-size: 1.6rem;
        padding: 1rem 1.8rem;
        margin-right: 1.4rem;
        width: 50%;
        &:last-child {
            margin-right: 0;
        }
    }
}

.add__content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    background-color: #ebf3ff;
    padding-top: 5.5rem;
    padding-bottom: 10rem;

    @include breakpoint(mobile) {
        padding-top: 3rem;
        padding-bottom: 5rem;
    }
}

.add__stages {
    display: flex;
    align-items: center;
    margin-bottom: 4.5rem;

    @include breakpoint(mobile) {
        flex-direction: column;
        align-items: initial;
        margin-bottom: 3rem;
    }
}

.add__stages-link {
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 1.2;
    transition: color 0.2s;
    display: inline-flex;
    align-items: center;
    color: #8a8a8a;
    &:link,
    &:visited {
        color: #8a8a8a;
    }

    &:hover,
    &.active {
        color: black;
        .add__stages-link-number {
            background-color: var(--primary-color);
        }
    }

    @include breakpoint(mobile) {
        font-size: 1.6rem;
    }
}

.add__stages-link-number {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    transition: background-color 0.2s;
    flex-shrink: 0;
    margin-right: 1.4rem;
    background: #d3e4ff;
    color: white;
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 1.2;
    font-family: var(--gotham);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    @include breakpoint(mobile) {
        height: 2.6rem;
        width: 2.6rem;
        margin-right: 1.2rem;
    }
}

.add__stages-divider {
    border-top: 1px dashed #c4d8f5;
    width: 8.2rem;
    flex-shrink: 0;
    margin: 0 1rem;

    @include breakpoint(mobile) {
        width: 1px;
        height: 2rem;
        margin: 0.4rem 0;
        border: none;
        margin-left: 1.3rem;
        border-left: 1px dashed #c4d8f5;
    }
}

.add__steps {
    display: flex;
    align-items: center;
    margin-bottom: 3.5rem;

    @include breakpoint(mobile) {
        margin-bottom: 2rem;
    }
}

.add__steps-content {
    width: 50%;
    flex-grow: 1;
}

.add__steps-links {
   
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    display: flex;
    flex-wrap: nowrap;
    position: relative;

    @include noScrollbar();

    @include breakpoint(mobile) {
        margin: 0 calc(-1 * var(--content-padding));
        padding: 0 var(--content-padding);

        &::after {
            content: '';
            height: 1px;
            flex-shrink: 0;
            width: var(--content-padding);
        }
    }
}

.add__steps-next-btn {
    flex-shrink: 0;
    margin-left: 2.7rem;

    svg {
        display: block;
        fill: #98a5ba;
        transition: fill 0.2s;
    }

    &:hover {
        svg {
            fill: var(--primary-color);
        }
    }

    @include breakpoint(mobile) {
        display: none;
    }
}

.add__steps-link {
    flex-shrink: 0;
    background-color: #f4f8ff;
    font-weight: bold;
    font-size: 1.2rem;
    line-height: 120%;
    color: #98a5ba;
    letter-spacing: 0.08em;
    padding: 1.2rem 2rem;
    border-radius: 0.4rem;
    transition: background-color 0.2s, color 0.2s;
    margin-right: 0.5rem;
    display: inline-flex;
    align-items: center;
    text-transform: uppercase;

    -webkit-user-select: none;
    -webkit-user-drag: none;
    -webkit-app-region: no-drag;
    user-select: none;
    &:link,
    &:visited {
        color: #98a5ba;
    }
    &:last-child {
        margin-right: 0;
    }
    svg {
        width: 1.8rem;
        height: 1.8rem;
        flex-shrink: 0;
        margin-right: 1.2rem;
        fill: #98a5ba;
        transition: fill 0.2s;
    }

    &.disabled {
        color: #ced6e3;

        svg {
            fill: #ced6e3;
        }
    }

    &:hover,
    &.active {
        background-color: white;
        color: black;

        svg {
            fill: var(--primary-color);
        }
    }
}

.add__layout {
    display: flex;

    @include breakpoint(mobile) {
        flex-direction: column;
    }
}

.add__layout-main {
    width: 50%;
    flex-grow: 1;
    @include breakpoint(mobile) {
        width: 100%;
        flex-grow: 0;
        margin-bottom: 2.4rem;
    }
}

.add__layout-sidebar {
    width: 35.2rem;
    flex-shrink: 0;
    margin-left: 3rem;
    @include breakpoint(mobile) {
        width: 100%;
        flex-shrink: 1;
        margin: 0;
    }
}

.add__preview {
    background-color: #fff;
    padding: 3.5rem;
    border-radius: 1rem;
    margin-bottom: 2.4rem;

    @include breakpoint(mobile) {
        padding: 1.8rem;
        border-radius: 0.4rem;
    }
}

.add__editor-image-upload-with-preview-wrapper {
    position: relative;
}

.add__editor-image-upload-with-preview-clear {
    position: absolute;
    right: 1rem;
    top: 1rem;
    cursor: pointer;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s, visibility 0s linear 0.2s;
    z-index: 30;
    .photo-loaded & {
        opacity: 1;
        visibility: visible;
        transition: opacity 0.2s, visibility 0.2s;
    }
    svg {
        width: 1.5rem;
        height: 1.5rem;
        fill: #b0c7e9;
        display: block;
        transition: fill 0.2s;
    }

    &:hover {
        svg {
            fill: var(--primary-color);
        }
    }
}

.add__editor-image-upload-container {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;

    background: #ebf3ff;
    z-index: 20;
}

.add__editor-image-upload-container-image {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    @include objectFitCover();

    .add__editor-image-upload-with-preview--logo & {
        width: 80%;
        left: 50%;
        top: 50%;
        max-height: 100%;
        transform: translate(-50%, -50%);
        @include objectFitContain();
    }
}

.add__preview-heading {
    font-weight: bold;
    font-size: 1.2rem;
    line-height: 1.2;
    margin-bottom: 2rem;
    color: #ced6e3;
    text-transform: uppercase;
    letter-spacing: 0.08em;
}

.add__nav-btns {
    display: flex;
    align-items: center;
}

.add__nav-btn {
    width: 50%;
    flex-grow: 1;
    margin-right: 2rem;
    font-weight: bold;
    font-size: 1.8rem;
    line-height: 1.2;
    padding: 1.7rem 2.4rem;
    border-radius: 0.4rem;
    background-color: #fff;

    text-align: center;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.2s, color 0.2s;

    &:last-child {
        margin-right: 0;
    }

    &:link,
    &:visited {
        color: var(--primary-color);
    }

    &:hover {
        background-color: var(--primary-color);
        color: white;
    }

    svg {
        width: 1.8rem;
        height: 1.8rem;
        fill: currentColor;
        flex-shrink: 0;

        &.icon-arrow-prev {
            margin-right: 1.4rem;

            @include breakpoint(mobile) {
                margin-right: 1rem;
            }
        }

        &.icon-arrow-next {
            margin-left: 1.4rem;
            @include breakpoint(mobile) {
                margin-left: 1rem;
            }
        }
    }

    &--next {
        background: #63ba76;

        &:link,
        &:visited {
            color: white;
        }

        &:hover {
            background: darken(#63ba76, 7%);
        }
    }

    @include breakpoint(mobile) {
        font-size: 1.6rem;
        padding: 1.4rem 2.4rem;

        svg {
            width: 1.6rem;
            height: 1.6rem;
        }
    }
}

.add__preview-image-container {
    position: relative;
    border-radius: 1rem;
    overflow: hidden;
    &::after {
        content: '';
        display: block;
        width: 100%;
        padding-bottom: 65%;
    }
}

.add__preview-image {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    @include objectFitCover();
}

.add__preview-text {
    margin-bottom: 4.5rem;

    @include breakpoint(mobile) {
        margin-bottom: 2rem;
    }
}

.add__editor {
    background-color: #fff;
    border-radius: 1rem;

    @include breakpoint(mobile) {
        border-radius: 0.4rem;
    }
}

.add__editor-form-heading {
    font-weight: bold;
    font-size: 1.2rem;
    line-height: 1.2;
    margin-bottom: 3rem;
    color: #ced6e3;
    text-transform: uppercase;
    letter-spacing: 0.08em;
    display: inline-flex;
    align-items: center;
    &:last-child {
        margin-bottom: 0;
    }

    @include breakpoint(mobile) {
        margin-bottom: 2rem;
    }
}

.add__editor-form-heading-details {
    flex-shrink: 0;
    margin-left: 1rem;
    position: relative;
    svg {
        width: 2.2rem;
        height: 2.2rem;
        transition: fill 0.2s;
        fill: #ced6e3;
        display: block;

        @include breakpoint(mobile) {
            width: 1.6rem;
            height: 1.6rem;
        }
    }

    &:hover {
        svg {
            fill: var(--primary-color);
        }

        .add__editor-form-heading-details-dropdown {
            opacity: 1;
            visibility: visible;
            transition: all 0.3s;
        }
    }
}

.add__editor-form-heading-details-dropdown {
    top: 100%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    padding-top: 0.5rem;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s, visibility 0s linear 0.3s;
    z-index: 100;
    width: auto;
    max-width: 20rem;
}

.add__editor-form-heading-details-dropdown-inner {
    padding: 1rem 1.4rem;
    background-color: #fff;
    box-shadow: 0px 0.4rem 4rem rgba(0, 0, 0, 0.11);
    border-radius: 0.4rem;
    font-size: 1.4rem;
    line-height: 1.2;
    color: black;
    font-weight: 400;
    text-transform: initial;
    font-family: 'Roboto', sans-serif;
    letter-spacing: initial;
    @include breakpoint(mobile) {
        padding: 0.5rem 1.2rem;
        font-size: 1.2rem;
        line-height: 1.3;
    }
}

.add__editor-form-top-row {
    padding: 3.6rem 4.2rem;
    padding-bottom: 6rem;

    @include breakpoint(mobile) {
        padding: 1.8rem;
        padding-bottom: 2rem;
    }
}
.add__editor-form-bottom-row {
    padding: 3.6rem 4.2rem;
    border-top: 1px dashed rgba(#c4d8f5, 0.4);
    padding-top: 2.8rem;
    padding-bottom: 4rem;
    @include breakpoint(mobile) {
        padding: 1.8rem;
        padding-bottom: 2.4rem;
    }
}

.add__editor-form-input-wrapper {
    display: grid;
    grid-template-columns: 19rem 1fr;
    margin-bottom: 1.8rem;

    &--social {
        grid-template-columns: 19rem 16rem 1fr;
    }

    @include breakpoint(mobile) {
        grid-template-columns: minmax(0, 1fr);
        margin-bottom: 1rem;
    }
}

.add__editor-form-input-text {
    font-size: 1.6rem;
    line-height: 3.6rem;
    padding-top: 0.8rem;
    padding-right: 2rem;
    color: #8b9ab7;

    @include breakpoint(mobile) {
        font-size: 1.4rem;
        padding: 0;
        margin-bottom: 0.2rem;
    }
}

.add__editor-form-input {
    display: block;
    width: calc(100% - 1.8rem);
    font: inherit;
    background: #ebf3ff;
    border-radius: 0.4rem;
    height: 5.5rem;
    display: block;
    font-size: 1.8rem;
    line-height: 1.2;
    padding: 0 2.2rem;
    margin-left: 1.8rem;
    &:first-of-type {
        margin-left: 0;
        width: 100%;
    }
    @include placeholder {
        color: rgba(black, 0.4);
    }

    &--social {
        @include placeholder {
            font-size: 1.4rem;
            color: rgba(#7788a8, 0.3);
        }
    }

    @include breakpoint(mobile) {
        height: 4.2rem;
        font-size: 16px;
        padding: 0 1.2rem;
        border-radius: 0.4rem;
        margin: 0;
        margin-bottom: 1rem;
        width: 100%;
        &:last-of-type {
            margin-bottom: 0;
        }
    }
}

.add__editor-form-custom-select {
    .choices__inner {
        min-height: 5.5rem;
        @include breakpoint(mobile) {
            min-height: 4.2rem;
            padding-top: 0.7rem;
            padding-bottom: 0.7rem;
        }
    }

    .custom-select .choices[data-type*='select-one'] .choices__inner {
        @include breakpoint(mobile) {
            padding-bottom: 0.7rem;
        }
    }
}

textarea.add__editor-form-input {
    -webkit-appearance: none;
    display: block;
    width: 100%;
    resize: none;
    height: 11rem;
    padding: 1.6rem 2.2rem;
    overscroll-behavior: contain;
    -webkit-overflow-scrolling: touch;

    &::-webkit-scrollbar {
        background-color: white;
        width: 0.6rem;
    }

    &::-webkit-scrollbar-thumb {
        background-color: var(--primary-color);
        // border-radius: 0.4rem;
    }

    &::-webkit-scrollbar-button {
        display: none;
    }

    &::-webkit-scrollbar-track {
        // border-radius: 0.5rem;
        background-color: #f5f5f5;
    }

    @include breakpoint(mobile) {
        padding: 1rem 1.2rem;

        height: 8rem;
    }
}

.add__editor-form-layout {
    display: flex;

    @include breakpoint(mobile) {
        flex-direction: column;
    }
}

.add__editor-form-layout-left-col {
    width: 50%;
    flex-grow: 1;
    @include breakpoint(mobile) {
        width: 100%;
        flex-grow: 0;
        margin-bottom: 3rem;
        &:last-child {
            margin-bottom: 0;
        }
    }
}

.add__editor-form-layout-right-col {
    width: 21rem;
    flex-shrink: 0;
    margin-left: 3.2rem;
    @include breakpoint(mobile) {
        width: 100%;
        flex-shrink: 1;
        margin: 0;
    }
}

.add__editor-image-upload-with-preview {
    background: #ebf3ff;
    border-radius: 0.4rem;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 3rem 0;
    min-height: 27.4rem;
    overflow: hidden;

    input[type='file'] {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        display: block;
        opacity: 0;
        z-index: 10;
    }

    svg {
        width: 3.2rem;
        height: 3.2rem;
        flex-shrink: 0;
        margin: 0 auto;
        fill: #c9daf4;
        margin-bottom: 3.5rem;
    }

    &--compact {
        min-height: 15rem;
        svg {
            margin-bottom: 1rem;
        }

        .add__editor-image-upload-with-preview-text {
            margin-bottom: 0.5rem;
        }
    }
}

.add__editor-image-upload-with-preview-text {
    font-size: 1.4rem;
    line-height: 1.2;
    margin-bottom: 1.5rem;
    color: #3384fe;
}

.add__editor-image-upload-with-preview-requirement {
    color: #8b9ab7;
    font-size: 1.4rem;
    line-height: 1.2;
}

.add__editor-form-multiselect {
    margin-bottom: 1.8rem;
    &:last-child {
        margin-bottom: 0;
    }
    .choices {
        font-size: 1.8rem;
        line-height: 1.2;
    }

    .choices__inner {
        overflow: hidden;

        padding: 0;
        background: #ebf3ff;
        border-radius: 0.4rem;
        border: none;
        min-height: 5.5rem;
        font-size: 1.8rem;
        line-height: 1.2;
        padding: 0.2rem 1.2rem;

        display: flex;
        flex-wrap: wrap;
        align-items: center;

        @include breakpoint(mobile) {
            font-size: 16px;
            min-height: 4.2rem;
            padding-top: 0.3rem;
            padding-bottom: 0.3rem;
            padding-left: 0.6rem;
            padding-right: 0.6rem;
        }
    }

    .choices__input {
        background: transparent;
        padding: 0;
        margin: 0;
        font-size: 1.8rem;
        width: auto;
        @include breakpoint(mobile) {
            font-size: 16px;
        }
    }

    .choices__list--multiple {
        display: inline-flex;
        align-items: center;
        flex-wrap: wrap;

        display: contents;
    }

    .choices__list--multiple .choices__item {
        font-size: 1.8rem;
        line-height: 1.2;
        background-color: #fff;
        color: black;
        padding: 1rem 1.5rem;
        border-radius: 0.4rem;
        margin-right: 1rem;
        border: none;
        font-weight: 40;
        margin-bottom: 0;
        display: inline-flex;
        align-items: center;
        white-space: nowrap;
        word-break: initial;

        margin-top: 0.5rem;
        margin-bottom: 0.5rem;

        @include breakpoint(mobile) {
            font-size: 14px;
            padding: 0.6rem 1rem;
            margin-right: 0.8rem;
            margin-top: 0.3rem;
            margin-bottom: 0.3rem;
        }
    }

    .choices__list--multiple .choices__item[data-deletable] {
        padding-right: 1.5rem;

        @include breakpoint(mobile) {
            padding-right: 1rem;
        }
    }

    .choices[data-type*='select-multiple'] .choices__button,
    .choices[data-type*='text'] .choices__button {
        opacity: 1;
        width: 1rem;
        height: 1rem;
        flex-shrink: 0;
        margin: 0;
        margin-left: 0.5rem;
        background-size: contain;
        background-repeat: no-repeat;
        border: none;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 10.67 10.67'%3E%3Cdefs%3E%3Cstyle%3E .cls-1 %7B fill: %23bbd1f1; %7D %3C/style%3E%3C/defs%3E%3Cpath class='cls-1' d='M10.55,9,6.9,5.31,10.55,1.7a.39.39,0,0,0,0-.55l-1-1A.41.41,0,0,0,9.24,0,.39.39,0,0,0,9,.11L5.33,3.71,1.69.11a.39.39,0,0,0-.54,0l-1,1a.38.38,0,0,0,0,.54L3.77,5.31.12,9A.41.41,0,0,0,0,9.24a.39.39,0,0,0,.11.27l1,1a.37.37,0,0,0,.27.12.39.39,0,0,0,.28-.12L5.33,6.91,9,10.55a.35.35,0,0,0,.27.11.38.38,0,0,0,.27-.11l1-1a.41.41,0,0,0,.11-.28A.4.4,0,0,0,10.55,9Z' /%3E%3C/svg%3E");
    }

    .choices__list--dropdown {
        word-break: initial;
        border: none;
        border: none;
        border-top-left-radius: 0.4rem;
        border-top-right-radius: 0.4rem;
        margin-top: 1rem;
        border-bottom-left-radius: 0.4rem;
        border-bottom-right-radius: 0.4rem;
        box-shadow: 0 0 0.7rem rgba(black, 0.08);
        z-index: 200;
    }

    .choices__list--dropdown .choices__item {
        font-size: 1.8rem;
        line-height: 1.2;
        padding: 1.4rem 2rem;
        @include breakpoint(mobile) {
            font-size: 16px;
        }
    }

    .choices__list--dropdown .choices__item--selectable.is-highlighted {
        background: #f2f4f8;
    }

    .choices__list--dropdown .choices__list {
        max-height: 28rem;

        -webkit-overflow-scrolling: touch;

        &::-webkit-scrollbar {
            background-color: white;
            width: 0.6rem;
        }

        &::-webkit-scrollbar-thumb {
            background-color: var(--primary-color);
            // border-radius: 0.4rem;
        }

        &::-webkit-scrollbar-button {
            display: none;
        }

        &::-webkit-scrollbar-track {
            // border-radius: 0.5rem;
            background-color: #f5f5f5;
        }

        @include breakpoint(mobile) {
            max-height: 15rem;
        }
    }
}

.add__editor-file-upload {
    display: inline-flex;
    align-items: center;
    font-size: 1.4rem;
    line-height: 1.2;
    padding: 1.7rem 2.2rem;
    color: #3384fe;
    background: #ebf3ff;
    border-radius: 0.4rem;
    align-self: flex-start;
    justify-self: flex-start;
    // justify-content: center;
    position: relative;
    input[type='file'] {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        display: block;
        opacity: 0;
        z-index: 10;
    }
    svg {
        width: 2.1rem;
        height: 2.1rem;
        fill: currentColor;
        flex-shrink: 0;
        margin-right: 1.4rem;

        @include breakpoint(mobile) {
            width: 1.6rem;
            height: 1.6rem;
            margin-right: 0.8rem;
        }
    }

    @include breakpoint(mobile) {
        padding: 1.2rem 1.6rem;
    }
}

.add__editor-file-upload-text-grey {
    color: #8B9AB7;
}
.add__editor-file-upload-remove {
    flex-shrink: 0;
    margin-left: 1rem;
    cursor: pointer;
    svg {
        display: block;
        width: 1.4rem;
        height: 1.4rem;
        fill: var(--primary-color);
    }
}

.add__editor-form-bottom-row-block {
    display: flex;
    margin-bottom: 6rem;
    &:last-child {
        margin-bottom: 0;
    }
    @include breakpoint(mobile) {
        flex-direction: column;
        margin-bottom: 3rem;
    }
}

.add__editor-form-bottom-row-block-left-col {
    width: 19rem;
    flex-shrink: 0;
    padding-right: 2rem;
    @include breakpoint(mobile) {
        width: 100%;
        flex-shrink: 1;
        padding-right: 0;
        margin-bottom: 2rem;
    }
}

.add__editor-form-bottom-row-block-right-col {
    width: 50%;
    flex-grow: 1;

    @include breakpoint(mobile) {
        width: 100%;
        flex-grow: 0;
    }
}

.add__editor-form-checkbox {
    display: flex;
    align-items: flex-start;
    cursor: pointer;
    user-select: none;
    margin-bottom: 1.5rem;
    &:last-child {
        margin-bottom: 0;
    }
}

.add__editor-form-checkbox-mark {
    width: 2.4rem;
    height: 2.4rem;
    flex-shrink: 0;
    margin-right: 1.3rem;
    background: #ebf3ff;
    border-radius: 0.4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &::before {
        content: '';
        width: 1.4rem;
        height: 1.4rem;
        background: var(--primary-color);
        pointer-events: none;
        opacity: 0;
        transition: opacity 0.2s;
        border-radius: 0.4rem;
    }

    @include breakpoint(mobile) {
        width: 2rem;
        height: 2rem;
        margin-right: 1rem;

        &::before {
            width: 1.3rem;
            height: 1.3rem;
        }
    }
}

.add__editor-form-checkbox-input {
    @include visuallyHidden();
}

.add__editor-form-checkbox-input:checked ~ .add__editor-form-checkbox-mark {
    &::before {
        opacity: 1;
    }
}

.add__editor-form-checkbox-text {
    font-size: 1.4rem;
    line-height: 120%;
    padding-top: 0.3rem;

    &--grey {
        color: #8a8a8a;
    }

    &--light {
        color: #8A9EBF;
    }

    @include breakpoint(mobile) {
        padding-top: 0.2rem;
    }
}

.add__change-order {
    background-color: #fff;
    border-radius: 1rem;
    padding: 4.2rem;
    margin-bottom: 1.7rem;
    &:last-child {
        margin-bottom: 0;
    }
    @include breakpoint(mobile) {
        border-radius: 0.4rem;
        padding: 1.8rem;
        margin-bottom: 2.4rem;
    }
}

.add__publication-block {
    background-color: #fff;
    border-radius: 1rem;
    padding: 4.2rem;
    @include breakpoint(mobile) {
        border-radius: 0.4rem;
        padding: 1.8rem;
        flex-direction: column;
        .add__top-panel-button {
            padding-left: 0.2rem;
            padding-right: 0.2rem;
            flex-shrink: 1;
        }
    }
}

.add__settings-block {
    background-color: #fff;
    border-radius: 1rem;
    padding: 4.2rem;
    margin-bottom: 1.7rem;
    display: flex;
    &:last-child {
        margin-bottom: 0;
    }
    @include breakpoint(mobile) {
        border-radius: 0.4rem;
        padding: 1.8rem;
        flex-direction: column;
        margin-bottom: 2.4rem;
    }
}

.add__settings-block-left-col {
    width: 27rem;
    flex-shrink: 0;
    @include breakpoint(mobile) {
        width: 100%;
        flex-shrink: 1;
        margin-bottom: 2rem;
    }
}

.add__settings-block-right-col {
    width: 50%;
    flex-grow: 1;
    @include breakpoint(mobile) {
        width: 100%;
        flex-grow: 0;
    }
}

.add__settings-block-message {
    font-size: 1.4rem;
    line-height: 1.6rem;
    color: #8a8a8a;

    a {
        border-bottom: 1px solid rgba(#3384fe, 0.2);
        transition: color 0.2s, border-color 0.2s;
        &:link,
        &:visited {
            color: var(--primary-color);
        }

        &:hover {
            border-color: var(--primary-color);
        }
    }
}

.add__editor-order-list-item {
    margin-bottom: 1rem;
    &:last-child {
        margin-bottom: 0;
    }
}

.add__editor-order-card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: bold;
    font-size: 1.4rem;
    line-height: 1.2;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    padding: 1.4rem 3rem;
    border: 1px solid #e1e1e1;
    border-radius: 0.4rem;
    transition: background-color 0.2s, color 0.2s, border-color 0.2s;
    -webkit-user-select: none;
    -webkit-user-drag: none;
    -webkit-app-region: no-drag;
    background-color: #fff;
    color: #000000;
    user-select: none;
    svg {
        width: 1rem;
        height: 1rem;
        flex-shrink: 0;
        margin-left: 2rem;
        fill: #ced6e3;
    }
    &:link,
    &:visited {
        color: #000000;
    }

    &.disabled {
        color: #9eadc8;
    }

    &:hover {
        background: #e7f0ff;
        border-color: #e7f0ff;
    }

    @include breakpoint(mobile) {
        padding: 1rem 1.4rem;
        font-size: 1.2rem;
    }
}

.add__publication-message {
    font-size: 1.8rem;
    line-height: 2.6rem;
    margin-bottom: 3rem;
    color: #9eadc8;

    @include breakpoint(mobile) {
        font-size: 1.6rem;
        line-height: 1.2;
        margin-bottom: 3rem;
    }
}

.add__editor-form-edit-competencies {
}

.add__editor-form-repeater {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-gap: 2.8rem;
    margin-top: 5rem;
    padding-left: 19rem;
    margin-bottom: 4rem;

    @include breakpoint(mobile) {
        padding: 0;
        margin: 3rem 0;
        grid-template-columns: repeat(1, minmax(0, 1fr));
        grid-gap: 3rem;
    }
}

.add__editor-form-repeater-card {
    border-radius: 0.4rem;
    border: 1px solid #d0d8e5;
    position: relative;
    padding: 1.8rem;
    padding-top: 2.4rem;

    &--row {
        display: flex;
        grid-gap: initial;
        grid-column: 1 / -1;

        & ~ .add__editor-form-add-more {
            grid-column: 1 / -1;
        }
        @include breakpoint(mobile) {
            flex-direction: column;
        }
    }

    @include breakpoint(mobile) {
        padding: 1.4rem;
        padding-top: 2rem;
    }
}

.add__editor-form-repeater-card-left-col {
    width: 50%;
    flex-grow: 1;

    @include breakpoint(mobile) {
        width: 100%;
        flex-grow: 0;
        margin-bottom: 1.8rem;
    }
}

.add__editor-form-repeater-card-right-col {
    width: 21rem;
    flex-shrink: 0;
    margin-left: 1.8rem;

    @include breakpoint(mobile) {
        width: 100%;
        flex-shrink: 1;
        margin: 0;
    }
}

.add__editor-form-repeater-card-label {
    position: absolute;
    top: 0;
    left: 2rem;
    font-weight: bold;
    font-size: 1.2rem;
    line-height: 1.2;
    color: #ced6e3;
    text-transform: uppercase;
    letter-spacing: 0.08em;
    max-width: calc(100% - 2rem);
    background-color: #fff;
    margin-top: -0.75rem;
    padding: 0 0.4rem;
}

.add__editor-form-repeater-card-remove {
    position: absolute;
    right: -0.8rem;
    top: 0;
    margin-top: -0.6rem;

    svg {
        width: 1.5rem;
        height: 1.5rem;
        fill: #c4d8f5;
        display: block;
        transition: fill 0.2s;
    }

    &:hover {
        svg {
            fill: var(--primary-color);
        }
    }
}

.add__editor-form-repeater-row {
    margin-bottom: 1.2rem;

    .add__editor-form-input {
        font-size: 1.6rem;
        line-height: 1.2;
        padding-left: 1.4rem;
        padding-right: 1.4rem;
        @include placeholder {
            color: #8b9ab7;
        }
    }
    .add__editor-file-upload {
        width: 100%;
        padding-left: 1.4rem;
        padding-right: 1.4rem;
    }
    &:last-child {
        margin-bottom: 0;
    }
}

.add__editor-form-gallery {
    display: flex;

    @include breakpoint(mobile) {
        flex-direction: column;
    }
}

.add__editor-form-gallery-left-col {
    width: 19rem;
    flex-shrink: 0;
    padding-right: 2rem;
    @include breakpoint(mobile) {
        width: 100%;
        flex-shrink: 1;
        padding: 0;
    }
}

.add__editor-form-gallery-right-col {
    width: 50%;
    flex-grow: 1;
    @include breakpoint(mobile) {
        width: 100%;
        flex-grow: 0;
    }
}

.add__editor-form-gallery-cards {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    grid-gap: 1.8rem;

    @include breakpoint(mobile) {
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }
}

.add__editor-form-materials {
    margin-bottom: 4rem;
    &:last-child {
        margin-bottom: 0;
    }
    @include breakpoint(mobile) {
        margin-bottom: 2rem;
    }
}

.add__editor-form-materials-list {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-gap: 1.8rem;
    margin-bottom: 1.8rem;
    align-items: center;

    &:last-child {
        margin-bottom: 0;
    }

    @include breakpoint(mobile) {
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }
}

.add__editor-form-add-more {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    font-weight: bold;
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: 0.08em;
    border: 1px solid #d0d8e5;
    border-radius: 0.4rem;
    padding: 1.7rem 2.4rem;
    flex-shrink: 0;
    transition: border-color 0.2s, color 0.2s;
    grid-column: 1 / -1;
    &:link,
    &:visited {
        color: #d0d8e5;
    }
    svg {
        width: 1.4rem;
        height: 1.4rem;
        margin-right: 1rem;
        fill: currentColor;
    }

    &:hover {
        color: var(--primary-color);
        border-color: var(--primary-color);
    }
}
