.custom-select {
   
    .choices {
        font-size: 1.8rem;
        line-height: 1.2;
        transition: filter 0.2s;
        position: relative;
        @include breakpoint(mobile) {
            font-size: 16px;
        }
    }

    .choices.is-open {
        filter: drop-shadow(0 1.6rem 2.4rem rgba(0, 0, 0, 0.08));
        z-index: 30;
    }

    .choices[data-type*='select-one'] .choices__inner {
        padding-bottom: 1.4rem;
    }
    .choices__inner {
        padding: 1.4rem 2rem;
        background: #ebf3ff;
        border-radius: 0.4rem;
        border: none;
        font-size: 1.8rem;
        line-height: 1.2;
        min-height: auto;
        display: flex;
        align-items: center;
        transition: background-color 0.2s;
        @include breakpoint(mobile) {
            font-size: 16px;
            padding: 1.4rem;
        }
    }

    .choices__list--single {
        padding: 0;
        padding-right: 2rem;
    }

    .choices[data-type*='select-one']:after {
        border: none;
        margin: 0;
        right: 2rem;
        top: 50%;
        transform: translateY(-50%);
        background-image: url("data:image/svg+xml,%0A%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 11 6.79'%3E%3Cpath d='M1.29 0L5.5 4.2 9.71 0 11 1.29l-5.5 5.5L0 1.29z' fill='%233384fe'/%3E%3C/svg%3E");
        width: 1.2rem;
        height: 1.2rem;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
    }

    .choices__list--dropdown {
        word-break: initial;
        border: none;
        border-top: 1px solid #f2f4f8;
        border-bottom-left-radius: 0.4rem;
        border-bottom-right-radius: 0.4rem;
    }

    .choices__list--dropdown .choices__item {
        font-size: 1.8rem;
        line-height: 1.2;
        padding: 1.4rem 2rem;
        @include breakpoint(mobile) {
            font-size: 16px;
        }
    }

    .choices__list--dropdown .choices__item--selectable.is-highlighted {
        background: #f2f4f8;
    }

    .choices__list--dropdown .choices__list {
        max-height: 28rem;

        -webkit-overflow-scrolling: touch;

        &::-webkit-scrollbar {
            background-color: white;
            width: 0.6rem;
        }

        &::-webkit-scrollbar-thumb {
            background-color: var(--primary-color);
            // border-radius: 0.4rem;
        }

        &::-webkit-scrollbar-button {
            display: none;
        }

        &::-webkit-scrollbar-track {
            // border-radius: 0.5rem;
            background-color: #f5f5f5;
        }

        @include breakpoint(mobile) {
            max-height: 15rem;
            
        }
    }

    .choices__placeholder {
        opacity: 1;
        color: #8a8a8a;
    }

    .choices.is-open .choices__inner {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        // background-color: #fff;
    }

    @media (min-width: 640px) {
        .choices__list--dropdown .choices__item--selectable {
            padding-right: 2rem;
        }
    }
}
