.filters {
    position: relative;
    z-index: 90;
}

.filters__row {
    display: flex;
    padding-top: 6.2rem;
    padding-bottom: 6.2rem;

    @include breakpoint(mobile) {
        padding: 0;
        display: block;
        position: relative;
    }
}

.filters__left-col {
    @include breakpointMF(small-tablet) {
        width: 50%;
        flex-grow: 1;
    }
}

.filters__right-col {
    @include breakpointMF(small-tablet) {
        width: 62rem;
        flex-shrink: 0;
        margin-left: 4rem;
    }
}

.filters__left-col,
.filters__right-col {
    @include breakpoint(mobile) {
        min-height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        visibility: hidden;
        opacity: 0;
        transition: opacity 0.4s, transform 0s linear 0.4s, visibility 0s linear 0.4s;
        z-index: 1;
        display: flex;
        flex-direction: column;
        transform: translateX(20%);

        &.active {
            position: relative;
            opacity: 1;
            visibility: visible;
            z-index: 2;
            transform: translateX(0);
            transition: all 0.4s, transform 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94);
        }
    }
}

.filters__heading {
    font-weight: bold;
    font-size: 1.8rem;
    line-height: 3.2rem;
    color: #b5b5b5;
    text-transform: uppercase;
    letter-spacing: 0.008em;
    @include breakpoint(mobile) {
        font-size: 1.2rem;
        line-height: 1.2;
        color: #b5b5b5;
        margin-right: 2rem;
    }
}

.filters__heading-row {
    display: flex;
    align-items: center;
    margin-bottom: 3.8rem;
    @include breakpoint(mobile) {
        margin: 0;
        justify-content: space-between;
        padding-top: 1.6rem;
        padding-bottom: 1.6rem;
    }
}

.filters__area {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-gap: 1rem;
    grid-column-gap: 4rem;
    margin-bottom: 4.5rem;

    @include breakpoint(mobile) {
        display: block;
        margin: 0;
        display: none;
    }
}

.filters__selects {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-gap: 2.5rem;
    grid-column-gap: 4rem;
    @include breakpoint(mobile) {
        display: grid;
        grid-template-columns: repeat(1, minmax(0, 1fr));
        grid-gap: 1.6rem;
        margin-bottom: 2.4rem;
    }
}

.filters__area-checkbox {
    display: flex;
    align-items: flex-start;
    position: relative;
    cursor: pointer;
    user-select: none;
}

.filters__area:not(.show-hidden) .filters__area-checkbox--hidden {
    @include visuallyHidden();
}

.filters__area-checkbox-input {
    @include visuallyHidden();
}

.filters__area-checkbox-mark {
    position: absolute;
    right: 100%;
    margin-right: 0.9rem;
    top: 0.45rem;
    width: 1.4rem;
    height: 1.4rem;
    position: absolute;
    opacity: 0;
    transition: opacity 0.3s;
    pointer-events: none;
    svg {
        width: 100%;
        height: 100%;
        flex-shrink: 0;
        display: block;
        fill: var(--primary-color);
    }
}

.filters__area-checkbox-text {
    font-weight: 500;
    font-size: 2rem;
    line-height: 1.2;
    transition: color 0.2s;
}

.filters__area-checkbox-input:checked ~ .filters__area-checkbox-mark {
    opacity: 1;
}
.filters__area-checkbox-input:checked ~ .filters__area-checkbox-text {
    color: var(--primary-color);
}

.filters__area-show-more {
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 1.2;
    color: #b3b3b3;
    display: flex;
    align-items: center;
    transition: color 0.2s;
    &:hover {
        color: var(--primary-color);
    }
}

.filters__select {
    @include breakpoint(mobile) {
        margin-bottom: 1.4rem;
        &:last-child {
            margin-bottom: 0;
        }
    }
    .choices {
        font-size: 1.8rem;
        line-height: 1.2;
        transition: filter 0.2s;
        position: relative;
        @include breakpoint(mobile) {
            font-size: 1.4rem;
        }
    }

    .choices.is-open {
        filter: drop-shadow(0 1.6rem 2.4rem rgba(0, 0, 0, 0.08));
        z-index: 30;
    }

    .choices[data-type*='select-one'] .choices__inner {
        padding-bottom: 1.4rem;
    }
    .choices__inner {
        padding: 1.4rem 2rem;
        background: #ebf3ff;
        border-radius: 0.4rem;
        border: none;
        font-size: 1.8rem;
        line-height: 1.2;
        min-height: auto;
        display: flex;
        align-items: center;
        transition: background-color 0.2s;
        @include breakpoint(mobile) {
            font-size: 1.4rem;
            padding: 1.4rem;
        }
    }

    .choices__list--single {
        padding: 0;
        padding-right: 2rem;
    }

    .choices[data-type*='select-one']:after {
        border: none;
        margin: 0;
        right: 2rem;
        top: 50%;
        transform: translateY(-50%);
        background-image: url("data:image/svg+xml,%0A%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 11 6.79'%3E%3Cpath d='M1.29 0L5.5 4.2 9.71 0 11 1.29l-5.5 5.5L0 1.29z' fill='%233384fe'/%3E%3C/svg%3E");
        width: 1.2rem;
        height: 1.2rem;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
    }

    .choices__list--dropdown {
        word-break: initial;
        border: none;
        border-top: 1px solid #f2f4f8;
        border-bottom-left-radius: 0.4rem;
        border-bottom-right-radius: 0.4rem;
    }

    .choices__list--dropdown .choices__item {
        font-size: 1.8rem;
        line-height: 1.2;
        padding: 1.4rem 2rem;
        @include breakpoint(mobile) {
            font-size: 1.4rem;
        }
    }

    .choices__list--dropdown .choices__item--selectable.is-highlighted {
        background: #f2f4f8;
    }

    .choices__list--dropdown .choices__list {
        max-height: 28rem;

        -webkit-overflow-scrolling: touch;

        &::-webkit-scrollbar {
            background-color: white;
            width: 0.6rem;
        }

        &::-webkit-scrollbar-thumb {
            background-color: var(--primary-color);
            // border-radius: 0.4rem;
        }

        &::-webkit-scrollbar-button {
            display: none;
        }

        &::-webkit-scrollbar-track {
            // border-radius: 0.5rem;
            background-color: #f5f5f5;
        }

        @include breakpoint(mobile) {
            max-height: 15rem;
            max-height: none;
        }
    }

    .choices__placeholder {
        opacity: 1;
        color: #8a8a8a;
    }

    .choices.is-open .choices__inner {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        // background-color: #fff;
    }

    @media (min-width: 640px) {
        .choices__list--dropdown .choices__item--selectable {
            padding-right: 2rem;
        }
    }
}

.filters__select-group {
    position: relative;
}

.filters__select-group-btn {
    font-size: 1.8rem;
    line-height: 1.2;
    padding: 1.4rem 2rem;
    color: #8a8a8a;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #ebf3ff;
    border-radius: 0.4rem;
    cursor: pointer;


    @include breakpoint(mobile) {
        font-size: 1.4rem;
        padding-left: 1.4rem;
        padding-right: 1.4rem;
    }
}

.filters__select-group-btn-cross {
    width: 1.2rem;
    height: 1.2rem;
    flex-shrink: 0;
    margin-left: 1rem;
    position: relative;

    .icon-cross {
        opacity: 0;
        width: 1rem;
        height: 1rem;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    svg {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        fill: var(--primary-color);
        transition: opacity 0.3s;
    }
}

.filters__select-group.active .filters__select-group-btn-cross {
    .icon-cross {
        opacity: 1;
    }

    .icon-arrow-down {
        opacity: 0;
    }
}

.filters__select-group-dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    min-width: 100%;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s, visibility 0s linear 0.3s;
    z-index: 100;
    padding-top: 0.8rem;
}

.filters__select-group.active .filters__select-group-dropdown {
    opacity: 1;
    visibility: visible;
    transition: all 0.3s;
}

.filters__select-group-dropdown-inner {
    background: #ffffff;
    box-shadow: 0px 0.4rem 4rem rgba(0, 0, 0, 0.11);
    border-radius: 0.4rem;
    padding: 2rem;

    @include breakpoint(mobile) {
        padding: 1.4rem;
    }
}

.filters__select-group-range {
    width: 36rem;

    @include breakpoint(mobile) {
        width: 100%;
    }
}

.filters__select-group-range-inputs {
    display: flex;
    align-items: center;


    @include breakpoint(mobile) {
        flex-direction: column;
        align-items: initial;
    }
}

.filters__select-group-range-input-wrapper {
    width: 50%;
    background: #ebf3ff;
    border-radius: 0.4rem;
    height: 3.6rem;
    padding: 0 1rem;
    display: flex;
    align-items: center;
    font-size: 1.6rem;
    line-height: 1.8rem;
    color: #8a8a8a;
    transition: color 0.3s;

    &:focus-within {
        color: #3384fe;
    }


    @include breakpoint(mobile) {
       
        width: 100%;
        font-size: 16px;
        line-height: 1.2;
        margin-bottom: 1.6rem;
        &:last-child {
            margin-bottom: 0;
        }
       
    }
}

.filters__select-group-range-input-currency {
    margin-right: 0.5rem;
    white-space: nowrap;
}

.filters__select-group-range-input-clear {
    width: 1rem;
    height: 1rem;
    flex-shrink: 0;
    margin-left: 1rem;
    color: #bbd1f1;
    transition: color 0.2s;
    svg {
        width: 100%;
        height: 100%;
        display: block;
    }

    &:hover {
        color: #3384fe;
    }
}

.filters__select-group-range-divider {
    background: #3384fe;
    border-radius: 0.5rem;
    width: 1rem;
    margin: 0 0.5rem;
    height: 1px;
    flex-shrink: 0;

    @include breakpoint(mobile) {
       display: none;
    }
}

.filters__select-group-range-input {
    font-size: 1.6rem;
    line-height: 1.8rem;
    color: inherit;

    @include breakpoint(mobile) {
        font-size: 16px;
        line-height: 1.2;
    }
}

.filters__select-group-range-slider {
    margin-top: 2.4rem;
    box-shadow: none;
    height: 4px;
    border: none;
    background: #ebf3ff;
    border-radius: 4px;
    margin-bottom: 0.3rem;

    @include breakpoint(mobile) {
        margin-top: 2rem;
        margin-bottom: 1rem;
    }
    .noUi-connects {
        border-radius: 4px;
    }

    .noUi-connect {
        background: #91beff;
    }

    &.noUi-horizontal .noUi-origin {
        height: 100%;
    }

    // &.noUi-horizontal {
    //     height: 100%;
    // }

    &.noUi-horizontal .noUi-handle {
        width: 20px;
        height: 20px;

        border-radius: 50%;
        top: 100%;
        right: 0;
        margin-top: -12px;
        margin-right: -10px;
        box-shadow: none;

        border: none;
        background-color: var(--primary-color);
        box-shadow: none;

        &::after {
            content: '';
            position: absolute;
            background-color: var(--primary-color) !important;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            display: block !important;
            border-radius: 50%;
        }

        @include breakpoint(laptop) {
            width: 16px;
            height: 16px;
            margin-top: -10px;
            margin-right: -8px;
        }
    }

    .noUi-handle:after,
    .noUi-handle:before,
    .noUi-handle:after,
    .noUi-handle:before {
        display: none;
    }

    .noUi-handle {
        outline: none;
    }
    .noUi-handle:focus {
        outline: none;
    }
}

.filters__selector {
    position: relative;
    @include breakpoint(mobile) {
        padding-bottom: 2rem;
    }
}

.filters__selector-ring {
    width: 28.8rem;
    height: 28.8rem;

    flex-shrink: 0;
    margin: 0 auto;

    @include breakpoint(mobile) {
        width: 100%;
        height: auto;
        margin: 0;
        flex-shrink: 1;
        display: flex;
        flex-direction: column;
    }
}

.filters__selector-ring-diagram-wrapper {
    width: 100%;
    height: 100%;
    & > svg {
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
    }
    @include breakpoint(mobile) {
        display: none;
        width: 100%;
        height: auto;
        position: relative;
        grid-column: span 2;
        order: 5;
        &::after {
            content: '';
            display: block;
            width: 100%;
            padding-bottom: 100%;
        }
    }
}

.filters__selector-ring-category {
    path {
        fill: var(--primary-color);
        cursor: pointer;
        transition: fill 0.2s;
        &:nth-child(1) {
            fill: #ebf3ff;
        }
        &:nth-child(2) {
            fill: #d9e8ff;
        }
        &:nth-child(3) {
            fill: #c9deff;
        }
        &:nth-child(4) {
            fill: #bad5ff;
        }
        &:nth-child(5) {
            fill: #adcdff;
        }

        &.checked,
        &.preview-checked {
            &:nth-child(1) {
                fill: #b4d3ff;
            }
            &:nth-child(2) {
                fill: #85b7ff;
            }
            &:nth-child(3) {
                fill: #66a5ff;
            }
            &:nth-child(4) {
                fill: #539aff;
            }
            &:nth-child(5) {
                fill: #4893ff;
            }
        }

        // &.preview-unchecked {
        //     &:nth-child(1) {
        //         fill: #ebf3ff !important;
        //     }
        //     &:nth-child(2) {
        //         fill: #d9e8ff !important;
        //     }
        //     &:nth-child(3) {
        //         fill: #c9deff !important;
        //     }
        //     &:nth-child(4) {
        //         fill: #bad5ff !important;
        //     }
        //     &:nth-child(5) {
        //         fill: #adcdff !important;
        //     }
        // }
    }
}

.filters__selector-ring-inputs {
    @include visuallyHidden();
}

.filters__selector-category-name {
    font-weight: 500;
    font-size: 2rem;
    line-height: 1.2;
    color: #8a8a8a;
    margin-bottom: 5rem;
    float: left;
}

.filters__selector-ring-categories-names {
    display: flex;
    pointer-events: none;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;

    @include breakpoint(mobile) {
        position: static;
        pointer-events: initial;
        order: -1;
        flex-direction: column;
    }
}

.filters__selector-ring-categories-name {
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 1.2;
    color: #8a8a8a;
    margin-bottom: 3rem;
    white-space: nowrap;
    transition: color 0.2s;
    &:last-child {
        margin-bottom: 0;
    }

    &.active {
        color: var(--primary-color);
    }

    @include breakpoint(mobile) {
        font-weight: 500;
        font-size: 1.2rem;
        line-height: 1.2;
        margin: 0;

        color: #8a8a8a;

        margin-bottom: 2.4rem;
        &:last-child {
            margin-bottom: 2.4rem;
        }
    }
}

.filters__selector-ring-categories-name-score {
    display: none;

    @include breakpoint(mobile) {
        margin-top: 1.1rem;
        display: grid;
        grid-template-columns: repeat(5, minmax(0, 1fr));
        grid-gap: 1px;
        position: relative;
    }
}

.filters__selector-ring-categories-name-score-btn {
    width: 100%;
    height: 0.8rem;
    background: #ededed;
    transition: background-color 0.2s;
    cursor: pointer;
    &:first-child {
        border-top-left-radius: 0.5rem;
        border-bottom-left-radius: 0.5rem;
    }

    &:last-child {
        border-top-right-radius: 0.5rem;
        border-bottom-right-radius: 0.5rem;
    }

    &.active {
        &:nth-child(1) {
            background: #3384fe;
        }
        &:nth-child(2) {
            background: #428dff;
        }
        &:nth-child(3) {
            background: #65a3ff;
        }
        &:nth-child(4) {
            background: #97c2ff;
        }
        &:nth-child(5) {
            background: #c2dbff;
        }
    }
}

.filters__selector-ring-categories-handle {
    position: absolute;
    left: 100%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 2.6rem;
    height: 2.6rem;
    border-radius: 50%;
    background-color: var(--primary-color);
    border: 0.8rem solid white;
    box-shadow: 0 0.2rem 1.5rem rgba(75, 98, 133, 0.24);

    left: calc(100% * (var(--score, 0) / 5));
}

.filters__selector-ring-categories-name-text {
    @include breakpoint(mobile) {
        display: flex;
        align-items: center;
    }
}

.filters__selector-ring-categories-name-icon {
    width: 1.6rem;
    height: 1.6rem;
    flex-shrink: 0;
    margin-right: 1rem;
    @include objectFitContain();

    display: none;

    @include breakpoint(mobile) {
        display: block;
    }
}

.filters__selector-reset {
    margin-left: auto;
}

.filters__selector-reset {
    color: #b3b3b3;
    transition: color 0.2s;

    &:hover {
        color: var(--primary-color);
    }
}

.filters__selector-reset-content {
    display: flex;
    align-items: center;

    font-weight: 500;
    font-size: 1.6rem;
    line-height: 1.2;
    svg {
        width: 1.3rem;
        height: 1.3rem;
        flex-shrink: 0;
        margin-right: 0.9rem;
    }

    @include breakpoint(mobile) {
        font-size: 1.4rem;
    }
}

.filters__selector-ring-categories-names-left-col,
.filters__selector-ring-categories-names-right-col {
    @include breakpointMF(small-tablet) {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 0.8rem 0;
    }

    @include breakpoint(mobile) {
        display: contents;
    }
}

.filters__selector-ring-categories-names-left-col {
    @include breakpointMF(small-tablet) {
        padding-right: 11.2rem;
        text-align: right;

        .filters__selector-ring-categories-name {
            &:nth-child(2),
            &:nth-child(3) {
                padding-right: 4rem;
            }
        }
    }
}

.filters__selector-ring-categories-name.last {
    @include breakpoint(mobile) {
        order: 15;
    }
}

.filters__selector-ring-categories-names-right-col {
    @include breakpointMF(small-tablet) {
        padding-left: 11.2rem;
        text-align: left;
        .filters__selector-ring-categories-name {
            &:nth-child(2),
            &:nth-child(3) {
                padding-left: 4rem;
            }
        }
    }
}

.filters__submit {
    background-color: var(--primary-color);
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2.5rem;
    display: block;
    width: 100%;
    font-weight: 500;
    font-size: 2.4rem;
    line-height: 2.8rem;
    transition: background-color 0.2s, opacity 0.2s, color 0.2s;
    &:hover {
        background-color: black;
    }

    &[disabled] {
        cursor: default;
        background-color: #ebf3ff;
        color: var(--primary-color);
        opacity: 0.7;
    }

    @include breakpoint(mobile) {
        font-weight: 500;
        font-size: 1.6rem;
        line-height: 1.9rem;
        padding: 1.8rem;
    }
}

.filters__tab-nav {
    display: none;
    @include breakpoint(mobile) {
        display: flex;
        border-bottom: 1px solid #ededed;
    }
}

.filters__tab-nav-link {
    width: 50%;
    font-weight: bold;
    font-size: 1rem;
    letter-spacing: 0.008em;
    text-transform: uppercase;
    line-height: 120%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 1.5rem;
    transition: color 0.2s;

    br {
        @include breakpointMF(small-tablet) {
            display: none;
        }
    }
    &:link,
    &:visited {
        color: #b5b5b5;
    }

    &:hover {
        color: black;
    }
    &::after {
        content: '';
        height: 3px;
        background-color: var(--primary-color);
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 3px;
        pointer-events: none;
        transition: opacity 0.2s;
        opacity: 0;
    }

    &.active {
        color: black;
        &::after {
            opacity: 1;
        }
    }
}

.filters__select--only-mobile,
.filters__select-group--only-mobile {
    display: none;
    @include breakpoint(mobile) {
        display: block;
    }
}

.filters__select-group-checkboxes-search {
    display: flex;
    align-items: center;
    background: #ebf3ff;
    border-radius: 0.4rem;
    height: 3.6rem;
    padding: 0 1.2rem;
    margin-bottom: 1.4rem;

    &:last-child {
        margin-bottom: 0;
    }
}

.filters__select-group-checkboxes-search-input {
    width: 100%;
    font-size: 1.4rem;
    color: var(--primary-color);

    @include placeholder {
        color: rgba(#3384fe, 0.5);
    }
}

.filters__select-group-checkboxes-search-submit {
    flex-shrink: 0;
    margin-left: 1.4rem;
    svg {
        display: block;
        width: 1.4rem;
        height: 1.4rem;
        fill: var(--primary-color);
    }
}

.filters__select-group-checkbox {
    display: flex;
    align-items: flex-start;
    margin-bottom: 1.2rem;
    user-select: none;
    cursor: pointer;
    &:last-child {
        margin-bottom: 0;
    }
}

.filters__select-group-checkbox-input {
    @include visuallyHidden();
}

.filters__select-group-checkbox-mark {
    width: 1.8rem;
    height: 1.8rem;
    flex-shrink: 0;
    margin-right: 0.8rem;
    background: #ebf3ff;
    border-radius: 0.2rem;
    position: relative;
    &::before {
        content: '';
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 1rem;
        height: 1rem;
        background-color: var(--primary-color);
        background: #3384fe;
        border-radius: 0.2rem;
        opacity: 0;
        transition: opacity .3s;
    }
}

.filters__select-group-checkbox-text {
    font-size: 1.6rem;
    line-height: 1.9rem;

    @include breakpoint(mobile) {
        font-size: 1.4rem;
        line-height: 1.2;
    }
}


.filters__select-group-checkbox-input:checked ~ .filters__select-group-checkbox-mark::before {
    opacity: 1;
}