.filters {
    position: relative;
    z-index: 10;
}

.filters__row {
    display: flex;
    padding-top: 6.2rem;
    padding-bottom: 6.2rem;

    @include breakpoint(mobile) {
        padding: 0;
        display: block;
        position: relative;

    }
}

.filters__left-col {
    @include breakpointMF(small-tablet) {
        width: 50%;
        flex-grow: 1;
    }
}

.filters__right-col {
    @include breakpointMF(small-tablet) {
        width: 62rem;
        flex-shrink: 0;
        margin-left: 4rem;
    }
}

.filters__left-col,
.filters__right-col {
    @include breakpoint(mobile) {
        min-height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        visibility: hidden;
        opacity: 0;
        transition: opacity 0.4s, transform 0s linear 0.4s, visibility 0s linear 0.4s;
        z-index: 1;
        display: flex;
        flex-direction: column;
        transform: translateX(20%);

        &.active {
            position: relative;
            opacity: 1;
            visibility: visible;
            z-index: 2;
            transform: translateX(0);
            transition: all 0.4s, transform 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94);
        }
    }
}

.filters__heading {
    font-weight: bold;
    font-size: 1.8rem;
    line-height: 3.2rem;
    color: #b5b5b5;
    text-transform: uppercase;
    letter-spacing: 0.008em;
    @include breakpoint(mobile) {
        display: none;
    }
}

.filters__heading-row {
    display: flex;
    align-items: center;
    margin-bottom: 3.8rem;
    @include breakpoint(mobile) {
        margin: 0;
    }
}

.filters__area {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-gap: 1rem;
    grid-column-gap: 4rem;
    margin-bottom: 4.5rem;

    @include breakpoint(mobile) {
        display: block;
        margin: 0;
        display: none;
    }
}

.filters__selects {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-gap: 2.5rem;
    grid-column-gap: 4rem;
    @include breakpoint(mobile) {
        display: block;
        padding-top: 2.2rem;
        padding-bottom: 2.4rem;
    }
}

.filters__area-checkbox {
    display: flex;
    align-items: flex-start;
    position: relative;
    cursor: pointer;
    user-select: none;
}

.filters__area:not(.show-hidden) .filters__area-checkbox--hidden {
    @include visuallyHidden();
}

.filters__area-checkbox-input {
    @include visuallyHidden();
}

.filters__area-checkbox-mark {
    position: absolute;
    right: 100%;
    margin-right: 0.9rem;
    top: 0.45rem;
    width: 1.4rem;
    height: 1.4rem;
    position: absolute;
    opacity: 0;
    transition: opacity 0.3s;
    pointer-events: none;
    svg {
        width: 100%;
        height: 100%;
        flex-shrink: 0;
        display: block;
        fill: var(--primary-color);
    }
}

.filters__area-checkbox-text {
    font-weight: 500;
    font-size: 2rem;
    line-height: 1.2;
    transition: color 0.2s;
}

.filters__area-checkbox-input:checked ~ .filters__area-checkbox-mark {
    opacity: 1;
}
.filters__area-checkbox-input:checked ~ .filters__area-checkbox-text {
    color: var(--primary-color);
}

.filters__area-show-more {
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 1.2;
    color: #b3b3b3;
    display: flex;
    align-items: center;
    transition: color 0.2s;
    &:hover {
        color: var(--primary-color);
    }
}

.filters__select {
    @include breakpoint(mobile) {
        margin-bottom: 1.4rem;
        &:last-child {
            margin-bottom: 0;
        }
    }
    .choices {
        font-size: 1.8rem;
        line-height: 1.2;
        transition: filter 0.2s;
        position: relative;
        @include breakpoint(mobile) {
            font-size: 1.4rem;
        }
    }

    .choices.is-open {
        filter: drop-shadow(0 1.6rem 2.4rem rgba(0, 0, 0, 0.08));
        z-index: 30;
    }

    .choices[data-type*='select-one'] .choices__inner {
        padding-bottom: 1.4rem;
    }
    .choices__inner {
        padding: 1.4rem 2rem;
        background: #ebf3ff;
        border-radius: 0.4rem;
        border: none;
        font-size: 1.8rem;
        line-height: 1.2;
        min-height: auto;
        display: flex;
        align-items: center;
        transition: background-color 0.2s;
        @include breakpoint(mobile) {
            font-size: 1.4rem;
            padding: 1.4rem;
        }
    }

    .choices__list--single {
        padding: 0;
        padding-right: 2rem;
    }

    .choices[data-type*='select-one']:after {
        border: none;
        margin: 0;
        right: 2rem;
        top: 50%;
        transform: translateY(-50%);
        background-image: url("data:image/svg+xml,%0A%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 11 6.79'%3E%3Cpath d='M1.29 0L5.5 4.2 9.71 0 11 1.29l-5.5 5.5L0 1.29z' fill='%233384fe'/%3E%3C/svg%3E");
        width: 1.2rem;
        height: 1.2rem;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
    }

    .choices__list--dropdown {
        word-break: initial;
        border: none;
        border-top: 1px solid #f2f4f8;
        border-bottom-left-radius: 0.4rem;
        border-bottom-right-radius: 0.4rem;
    }

    .choices__list--dropdown .choices__item {
        font-size: 1.8rem;
        line-height: 1.2;
        padding: 1.4rem 2rem;
        @include breakpoint(mobile) {
            font-size: 1.4rem;
        }
    }

    .choices__list--dropdown .choices__item--selectable.is-highlighted {
        background: #f2f4f8;
    }

    .choices__list--dropdown .choices__list {
        max-height: 28rem;


      

        -webkit-overflow-scrolling: touch;

        &::-webkit-scrollbar {
            background-color: white;
            width: 0.6rem;
        }

        &::-webkit-scrollbar-thumb {
            background-color: var(--primary-color);
            // border-radius: 0.4rem;
        }

        &::-webkit-scrollbar-button {
            display: none;
        }

        &::-webkit-scrollbar-track {
            // border-radius: 0.5rem;
            background-color: #f5f5f5;
        }

        @include breakpoint(mobile) {
            max-height: 15rem;
            max-height: none;
        }
    }

    .choices__placeholder {
        opacity: 1;
        color: #8a8a8a;
    }

    .choices.is-open .choices__inner {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        // background-color: #fff;
    }

    @media (min-width: 640px) {
        .choices__list--dropdown .choices__item--selectable {
            padding-right: 2rem;
        }
    }
}

.filters__selector {
    position: relative;
    @include breakpoint(mobile) {
        padding-bottom: 2rem;
    }
}

.filters__selector-ring {
    width: 28.8rem;
    height: 28.8rem;

    flex-shrink: 0;
    margin: 0 auto;

    @include breakpoint(mobile) {
        width: 100%;
        height: auto;
        margin: 0;
        flex-shrink: 1;
        display: flex;
        flex-direction: column;



        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
        grid-gap: 1.8rem;
        grid-row-gap: 1rem;


        
    }
}

.filters__selector-ring-diagram-wrapper {
    width: 100%;
    height: 100%;
    & > svg {
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
    }
    @include breakpoint(mobile) {
        width: 100%;
        height: auto;
        position: relative;
        grid-column: span 2;
        order: 5;
        &::after {
            content: '';
            display: block;
            width: 100%;
            padding-bottom: 100%;
        }
    }
}

.filters__selector-ring-category {
    path {
        fill: var(--primary-color);
        cursor: pointer;
        transition: fill 0.2s;
        &:nth-child(1) {
            fill: #ebf3ff;
        }
        &:nth-child(2) {
            fill: #d9e8ff;
        }
        &:nth-child(3) {
            fill: #c9deff;
        }
        &:nth-child(4) {
            fill: #bad5ff;
        }
        &:nth-child(5) {
            fill: #adcdff;
        }

        &.checked {
            &:nth-child(1) {
                fill: #b4d3ff;
            }
            &:nth-child(2) {
                fill: #85b7ff;
            }
            &:nth-child(3) {
                fill: #66a5ff;
            }
            &:nth-child(4) {
                fill: #539aff;
            }
            &:nth-child(5) {
                fill: #4893ff;
            }
        }
    }
}




.filters__selector-ring-inputs {
    @include visuallyHidden();
}

.filters__selector-category-name {
    font-weight: 500;
    font-size: 2rem;
    line-height: 1.2;
    color: #8a8a8a;
    margin-bottom: 5rem;
    float: left;


}



.filters__selector-ring-categories-names {
    display: flex;
    pointer-events: none;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;

    @include breakpoint(mobile) {
        position: static;
        pointer-events: initial;
        order: -1;
        margin-bottom: 2rem;
        display: contents;
        
    }
}

.filters__selector-ring-categories-name {
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 1.2;
    color: #8a8a8a;
    margin-bottom: 3rem;
    white-space: nowrap;
    transition: color 0.2s;
    &:last-child {
        margin-bottom: 0;
    }

    &.active {
        color: var(--primary-color);
    }

    @include breakpoint(mobile) {
        font-size: 1.4rem;
        margin: 0;
        color: black;
        &.order-1 {
            order: 1;
        }
        &.order-2 {
            order: 2;
        }
        &.order-3 {
            order: 3;
        }
        &.order-4 {
            order: 4;
        }
        &.order-5 {
            order: 6;
        }
        &.order-6 {
            order: 7;
        }
        &.order-7 {
            order: 8;
        }
        &.order-8 {
            order: 9;
        }
        
    }
}

.filters__selector-reset {
    margin-left: auto;

    @include breakpoint(mobile) {
        padding: 1.4rem 0;
    }
}

.filters__selector-reset {
    color: #b3b3b3;
    transition: color 0.2s;

    &:hover {
        color: var(--primary-color);
    }
}

.filters__selector-reset-content {
    display: flex;
    align-items: center;

    font-weight: 500;
    font-size: 1.6rem;
    line-height: 1.2;
    svg {
        width: 1.3rem;
        height: 1.3rem;
        flex-shrink: 0;
        margin-right: 0.9rem;
    }


    @include breakpoint(mobile) {
        font-size: 1.4rem;
    }
}

.filters__selector-ring-categories-names-left-col,
.filters__selector-ring-categories-names-right-col {
    

    @include breakpointMF(small-tablet) {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 0.8rem 0;
    }

    @include breakpoint(mobile) {
       display: contents;
    }
}




.filters__selector-ring-categories-names-left-col {
    
    @include breakpointMF(small-tablet) {
        padding-right: 11.2rem;
        text-align: right;

        .filters__selector-ring-categories-name {
            &:nth-child(2),
            &:nth-child(3) {
                padding-right: 4rem;
            }
        }
    }
}


.filters__selector-ring-categories-name.last {
    @include breakpoint(mobile) {
        order: 15;
    }
}

.filters__selector-ring-categories-names-right-col {
    
    @include breakpointMF(small-tablet) {
        padding-left: 11.2rem;
        text-align: left;
        .filters__selector-ring-categories-name {
            &:nth-child(2),
            &:nth-child(3) {
                padding-left: 4rem;
            }
        }
    }
}

.filters__submit {
    background-color: var(--primary-color);
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2.5rem;
    display: block;
    width: 100%;
    font-weight: 500;
    font-size: 2.4rem;
    line-height: 2.8rem;
    transition: background-color 0.2s;
    &:hover {
        background-color: black;
    }

    @include breakpoint(mobile) {
        font-weight: 500;
        font-size: 1.6rem;
        line-height: 1.9rem;
        padding: 1.8rem;
    }
}

.filters__tab-nav {
    display: none;
    @include breakpoint(mobile) {
        display: flex;
        border-bottom: 1px solid #ededed;
    }
}

.filters__tab-nav-link {
    width: 50%;
    font-weight: bold;
    font-size: 1rem;
    letter-spacing: 0.008em;
    text-transform: uppercase;
    line-height: 120%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 1.5rem;
    transition: color 0.2s;
    &:link,
    &:visited {
        color: #b5b5b5;
    }

    &:hover {
        color: black;
    }
    &::after {
        content: '';
        height: 3px;
        background-color: var(--primary-color);
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 3px;
        pointer-events: none;
        transition: opacity 0.2s;
        opacity: 0;
    }

    &.active {
        color: black;
        &::after {
            opacity: 1;
        }
    }
}
