.page-footer__grid {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-template-areas: 'blue black' 'panel panel';

    @include breakpoint(mobile) {
        grid-template-columns: repeat(1, minmax(0, 1fr));
        grid-template-areas: 'blue' 'black' 'panel';
    }
}

.page-footer__action {
    padding-top: 7.8rem;
    padding-bottom: 7.8rem;
    position: relative;
    z-index: 1;
    color: white;
    &--blue {
        grid-area: blue;
        padding-right: 8.2rem;
        &::before {
            content: '';
            position: absolute;
            right: 0;
            bottom: 0;
            top: 0;
            left: calc((100vw - 100%) / 2 * -1);
            z-index: -1;
            background-color: var(--primary-color);
            pointer-events: none;

            @include breakpoint(mobile) {
                right: auto;
                width: 100vw;
            }
        }
    }
    &--black {
        grid-area: black;
        padding-left: 8.2rem;
        &::before {
            content: '';
            position: absolute;
            left: 0;
            bottom: 0;
            top: 0;
            right: calc((100vw - 100%) / 2 * -1);
            z-index: -1;
            background-color: black;
            pointer-events: none;
            @include breakpoint(mobile) {
                left: auto;
                width: 100vw;
            }
        }
    }

    @include breakpoint(mobile) {
        padding: 2.3rem 0;
    }
}

.page-footer__action-heading {
    font-weight: bold;
    font-size: 1.8rem;
    line-height: 1.7rem;
    margin-bottom: 8rem;
    text-transform: uppercase;
   

    @include breakpointMF(small-tablet) {
        font-family: var(--gotham);
    }

    @include breakpoint(mobile) {
        font-weight: 500;
        font-size: 1.2rem;
        line-height: 1.4rem;
        margin-bottom: 3rem;
    }
}

.page-footer__action-title-text {
    font-size: 4rem;
    line-height: 5rem;
    margin-bottom: 5.2rem;
    font-weight: 700;
    max-width: 62rem;

    @include breakpoint(mobile) {
        max-width: none;
        font-weight: 500;
        font-size: 2rem;
        line-height: 120%;
        margin-bottom: 1.8rem;
    }
}

.page-footer__action-link {
    background: #000000;
    border-radius: 0.4rem;
    padding: 1.4rem 2.5rem;
    border-radius: 0.4rem;
    font-weight: 500;
    font-size: 2rem;
    line-height: 1.2;
    margin-top: auto;
    display: inline-block;
    @include breakpointMF(small-tablet) {
        font-family: var(--gotham);
    }

    &:link,
    &:visited {
        color: white;
    }

    &--blue {
        background-color: var(--primary-color);
    }

    @include breakpoint(mobile) {
        font-weight: 500;
        font-size: 1.2rem;
        line-height: 1.4rem;
        padding: 1.2rem 2.2rem;
    }
}

.page-footer__nav-panel {
    display: flex;
    align-items: center;
    min-height: 9rem;
    grid-area: panel;

    @include breakpoint(mobile) {
        min-height: auto;
        align-items: initial;
        display: grid;
        padding: 2.2rem 0;
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
        grid-gap: 2.2rem;
    }
}

.page-footer__bottom-nav {
    display: flex;
    align-items: center;
    margin-right: 8.4rem;

    @include breakpoint(mobile) {
        margin-right: 0;
        flex-wrap: wrap;
        grid-column: span 2;
        justify-content: space-between;
    }
}

.page-footer__bottom-nav-link {
    font-weight: bold;
    font-size: 1.4rem;
    line-height: 1.6rem;
    text-align: right;
    letter-spacing: 0.0015em;
    margin-right: 3.6rem;
    text-transform: uppercase;
    transition: color 0.2s;
    &:last-child {
        margin-right: 0;
    }
    &:link,
    &:visited {
        color: black;
    }

    &:hover {
        color: var(--primary-color);
    }

    @include breakpoint(mobile) {
        font-weight: bold;
        font-size: 1rem;
        line-height: 1.2rem;
        margin-right: 2rem;
    }
}

.page-footer__social {
    display: flex;
    align-items: center;

}

.page-footer__social-link {
    flex-shrink: 0;
    margin-right: 2.2rem;
    transition: color 0.2s;

    &:link,
    &:visited {
        color: var(--primary-color);
    }

    &:hover {
        color: black;
    }
    svg {
        width: 2rem;
        height: 2rem;
        flex-shrink: 0;
        display: block;

        @include breakpoint(mobile) {
            width: 1.5rem;
            height: 1.5rem;
            
        }
    }


    @include breakpoint(mobile) {
        margin-right: 1.5rem;
    }
}

.page-footer__made-by {
    flex-shrink: 0;
    margin-left: auto;
    img {
        display: block;
        width: 8.8rem;

        @include breakpoint(mobile) {
            width: 7.3rem;
            position: relative;
            bottom: -.4rem;
        }
    }
}
