.franchise-components {
    background-color: #fff;
    margin: 3.4rem;
    padding-top: 7.2rem;
    padding-bottom: 10.6rem;
    border-radius: 1.2rem;

    @include breakpoint(mobile) {
        margin: 2rem 0;
        padding-top: 2.4rem;
        padding-bottom: 2.4rem;
    }
}

.franchise-components__row {
    display: flex;
    align-items: flex-start;
    margin-bottom: 4.5rem;

    @include breakpoint(mobile) {
        flex-direction: column;
        align-items: initial;
        margin-bottom: 1.5rem;
    }
}

.franchise-components__content {
    width: 50%;
    flex-grow: 1;

    @include breakpoint(mobile) {
        width: 100%;
        flex-grow: 0;
    }
}

.franchise-components__image {
    width: 24rem;
    height: auto;
    margin-left: 4rem;

    @include breakpoint(mobile) {
        width: 100%;
        max-width: 21rem;
        margin: 0 auto;
    }
}

.franchise-components__heading {
    margin-bottom: 5rem;
    @include breakpoint(mobile) {
        margin-bottom: 2rem;
    }
}

.franchise-components__text {
    font-size: 2rem;
    line-height: 120%;

    p {
        margin-bottom: 1.5rem;
        &:last-child {
            margin-bottom: 0;
        }
    }

    @include breakpoint(mobile) {
        font-size: 1.4rem;
        line-height: 120%;
        margin-bottom: 3rem;
    }
}

.franchise-components__list {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-gap: 3rem;
    grid-row-gap: 1.5rem;
    margin-bottom: 6rem;
    @include breakpoint(mobile) {
        padding: 0;
        border: none;
        border-radius: 0;
        grid-template-columns: repeat(1, minmax(0, 1fr));
        grid-gap: 0;
        margin-bottom: 2rem;
    }
}

.franchise-components__list-item {
    position: relative;
    font-weight: bold;
    font-size: 2rem;
    line-height: 1.2;
    display: flex;
    align-items: flex-start;

    &::before {
        content: '';
        width: 0.7rem;
        height: 0.7rem;
        background-color: var(--primary-color);
        border-radius: 50%;
        margin-top: 0.8rem;
        right: 100%;
        top: 0.8rem;
        margin-right: 1.3rem;

        @include breakpoint(mobile) {
            width: 0.5rem;
            height: 0.5rem;
            flex-shrink: 0;
            margin: 1.2rem;
            position: static;
            margin-top: 0.9rem;
            margin-left: 0;
        }
    }

    @include breakpoint(mobile) {
        font-weight: bold;
        font-size: 1.6rem;
        line-height: 140%;
        display: flex;
        align-items: flex-start;
    }
}

.franchise-components__get-plan {
    font-size: 1.8rem;
    line-height: 2.1rem;
    background-color: var(--primary-color);
    color: white;
    padding: 1.3rem 2.6rem;
    border-radius: 0.4rem;
    display: inline-flex;
    transition: background-color .2s;
    &:link,
    &:visited {
        color: white;
    }

    &:hover {
        background-color: black;
    }


    @include breakpoint(mobile) {
        padding: 1rem 2rem;
        font-size: 1.4rem;
        line-height: 1.2;
    }
}
