.franchise-contact {
    background: #ebf3ff;
    padding: 8.5rem 0;

    &--with-bg {
        background-color: var(--primary-color);
        color: white;

        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-position: center;
        background-image: url('../img/contact-bg.jpg');

        @include breakpoint(mobile) {
            background-image: url('../img/contact-mobile-bg.jpg');
        }
    }

    @include breakpoint(mobile) {
        padding-top: 3rem;
        padding-bottom: 4rem;
    }
}

.franchise-contact__row {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-gap: 5rem;

    @include breakpoint(mobile) {
        grid-template-columns: repeat(1, minmax(0, 1fr));
        grid-gap: 3.4rem;
    }
}

.franchise-contact__heading {
    font-weight: bold;
    font-size: 4.6rem;
    line-height: 120%;
    margin-bottom: 4rem;

    @include breakpoint(mobile) {
        font-weight: bold;
        font-size: 2.2rem;
        line-height: 120%;
        margin-bottom: 2rem;
    }
}

.franchise-contact__text {
    font-size: 2rem;
    line-height: 120%;
    margin-bottom: 4rem;

    @include breakpoint(mobile) {
        font-size: 1.4rem;
        line-height: 120%;
        margin-bottom: 2rem;
    }
}

.franchise-contact__left-col {
    ul {
        li {
            margin-bottom: 1.5rem;
            position: relative;
            padding-left: 2rem;
            font-size: 2rem;
            line-height: 120%;

            &:last-child {
                margin-bottom: 0;
            }

            &::before {
                content: '';
                position: absolute;
                left: 0;
                width: 0.8rem;
                height: 0.8rem;
                border-radius: 50%;
                background-color: var(--primary-color);
                top: 0.8rem;

                @include breakpoint(mobile) {
                    width: 0.6rem;
                    height: 0.6rem;
                    top: 1rem;
                }
            }

            @include breakpoint(mobile) {
                font-size: 1.4rem;
                line-height: 120%;
                padding-left: 1.6rem;
                &::before {
                    top: 0.4rem;
                }
            }
        }
    }
}



.franchise-contact__form {
    background: #ffffff;
    box-shadow: 0px 2rem 3rem rgba(215, 227, 245, 0.5);
    border-radius: 0.4rem;
    padding: 6.2rem;
    display: grid;
    grid-template-columns: minmax(0, 1fr);
    grid-gap: 3rem;

    .franchise-contact--with-bg & {
        box-shadow: none;
    }

    @include breakpoint(mobile) {
        padding: 2.4rem;
        grid-gap: 2rem;
    }
}

.franchise-contact__form-group {
}

.franchise-contact__form-input {
    font-size: 1.8rem;
    height: 6.8rem;
    padding: 0 3rem;
    border-radius: 0.4rem;
    background: #ebf3ff;
    color: black;
    @include placeholder {
        color: #8a8a8a;
    }

    @include breakpoint(mobile) {
        font-size: 1.4rem;
        padding: 0 2rem;
        height: 5rem;
    }
}

.franchise-contact__form-checkbox {
    display: flex;
    align-items: flex-start;
    font-size: 1.6rem;
    line-height: 1.2;
    color: #8a8a8a;
    user-select: none;

    @include breakpoint(mobile) {
        font-size: 1rem;
        line-height: 1.2;
    }
}

.franchise-contact__form-checkbox-input {
    @include visuallyHidden();
}

.franchise-contact__form-checkbox-mark {
    width: 2.4rem;
    height: 2.4rem;
    position: relative;
    flex-shrink: 0;
    background: #ebf3ff;
    border-radius: 0.4rem;
    margin-right: 1.2rem;
    cursor: pointer;
    &::before {
        content: '';
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 1.4rem;
        height: 1.4rem;
        background: #3384fe;
        border-radius: 0.4rem;
        transition: opacity 0.2s;
        opacity: 0;

        @include breakpoint(mobile) {
            width: 0.9rem;
            height: 0.9rem;
            border-radius: 0.2rem;
        }
    }

    @include breakpoint(mobile) {
        width: 1.5rem;
        height: 1.5rem;
        margin-right: 1rem;
    }
}

.franchise-contact__form-checkbox-text {
    padding-top: 0.2rem;
}

.franchise-contact__form-checkbox-input:checked ~ .franchise-contact__form-checkbox-mark::before {
    opacity: 1;
}

.franchise-contact__form-submit {
    font-weight: bold;
    font-size: 2.4rem;
    line-height: 1.2;
    font-family: var(--gotham);
    background: #3384fe;
    color: white;
    padding: 2.6rem 3rem;
    border-radius: 0.4rem;
    display: block;
    width: 100%;
    transition: background-color 0.2s;
    &:link,
    &:visited {
        color: white;
    }

    &:hover {
        background-color: black;
    }

    @include breakpoint(mobile) {
        font-weight: 500;
        font-size: 1.2rem;
        line-height: 1.4rem;
        padding: 1.4rem 2.4rem;
    }
}
