.franchise-geography {
    background-color: #fff;
    margin: 3.4rem;
    padding-top: 7.2rem;
    padding-bottom: 0;
    border-radius: 1.2rem;
    overflow: hidden;

    @include breakpoint(mobile) {
        margin: 2rem 0;
        padding-top: 2.4rem;
        padding-bottom: 0;
    }
}

.franchise-geography__heading {
    font-weight: bold;
    font-size: 4.6rem;
    line-height: 1.2;
    margin-bottom: 3rem;

    @include breakpoint(mobile) {
        font-weight: bold;
        font-size: 2.2rem;
        line-height: 3.2rem;
        margin-bottom: 1.4rem;
    }
}

.franchise-geography__description {
    font-size: 2rem;
    line-height: 120%;
    margin-bottom: 5rem;

    @include breakpoint(mobile) {
        font-size: 1.4rem;
        line-height: 120%;
        margin-bottom: 2.6rem;
    }
}

.franchise-geography__legend {
    display: flex;
    align-items: center;
    margin-bottom: 5.7rem;

    @include breakpoint(mobile) {
        margin-bottom: 3rem;
        
    }
}

.franchise-geography__legend-item {
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 2.2rem;
    line-height: 170%;
    margin-right: 4.5rem;
    
    &:last-child {
        margin-right: 0;
    }

    @include breakpoint(mobile) {
        font-size: 1.6rem;
        line-height: 170%;
        margin-right: 2rem;
    }
}

.franchise-geography__legend-item-color {
    background: #b3d1ff;
    width: 2.4rem;
    height: 2.4rem;
    flex-shrink: 0;
    margin-right: 2.4rem;
    border-radius: 50%;

    @include breakpoint(mobile) {
        width: 1.5rem;
        height: 1.5rem;
        margin-right: 1.3rem;
    }
}

.franchise-geography__legend-item-color--open {
    width: 3.7rem;
    height: 3.7rem;
    background: #4690ff;

    @include breakpoint(mobile) {
        width: 2.5rem;
        height: 2.5rem;
        flex-shrink: 0;
        margin-right: 1.3rem;
    }
}

// .franchise-geography__map-tabs {
//     position: relative;
// }

// .franchise-geography__map-tab-item {
//     min-height: 100%;
//     position: absolute;
//     left: 0;
//     top: 0;
//     width: 100%;
//     visibility: hidden;
//     opacity: 0;
//     transition: opacity 0.4s, transform 0s linear 0.4s, visibility 0s linear 0.4s;
//     z-index: 1;
//     display: flex;
//     flex-direction: column;

//     &.active {
//         position: relative;
//         opacity: 1;
//         visibility: visible;
//         z-index: 2;
//         transform: translateX(0);
//         transition: all 0.4s, transform 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94);
//     }
// }

.franchise-geography__map-container {
    position: relative;
    &::after {
        content: '';
        display: block;
        width: 100%;
        padding-bottom: 30%;

        @include breakpoint(mobile) {
            padding-bottom: 100%;
        }
    }
}

.franchise-geography__map {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: var(--primary-color);
}

.franchise-geography__local-franchisers {
    // position: absolute;
    // background: #ffffff;
    // box-shadow: 0px 0.4rem 2rem rgba(0, 0, 0, 0.15);
    // border-radius: 0.4rem;
    // top: -1.4rem;
    // padding: 1.3rem;
    // left: 50%;
    // transform: translateX(-50%);
    // z-index: 80;
    background-color: #fff;

   
    @include breakpoint(mobile) {
        
        transform: none;
       
        padding: 1.4rem 0.9rem;
        padding-bottom: 1rem;
        
    }
}

.franchise-geography__local-franchisers-top-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1.8rem;
    padding: 0 0.6rem;

    @include breakpoint(mobile) {
        margin-bottom: 1rem;
    }
}

.franchise-geography__local-franchisers-city {
    font-weight: bold;
    font-size: 1.6rem;
    line-height: 1.2;
    text-transform: uppercase;
    letter-spacing: 0.08em;
    color: #8a8a8a;
    margin-right: 1.5rem;

    @include breakpoint(mobile) {
        font-size: 1rem;
        line-height: 1.2;
    }
}

.franchise-geography__local-franchisers-count {
    font-size: 1.4rem;
    line-height: 120%;
    margin-left: 3rem;

    @include breakpoint(mobile) {
        font-size: 1rem;
        line-height: 120%;
        margin-left: 2rem;
    }
}

.franchise-geography__local-franchisers-link {
    font-size: 1.4rem;
    line-height: 300%;
    display: flex;
    align-items: center;
    padding: 0.2rem 0.9rem;
    border-radius: 0.4rem;
    transition: background-color 0.2s;
    &:link,
    &:visited {
        color: var(--primary-color);
    }

    &:hover {
        background: #ebf3ff;
    }

    @include breakpoint(mobile) {
        font-size: 1.2rem;
        line-height: 320%;
        padding: .2rem .6rem;
        
    }
}

.franchise-geography__local-franchisers-link-photo-container {
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    flex-shrink: 0;
    margin-right: 1.4rem;
    position: relative;
    overflow: hidden;

    @include breakpoint(mobile) {
        width: 2.7rem;
        height: 2.7rem;
        margin-right: 1.4rem;
    }
}

.franchise-geography__local-franchisers-link-photo {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    @include objectFitCover();
}

.franchise-geography__map-items {
    position: relative;
}

.franchise-geography__legend-row {
    display: flex;
    align-items: center;
    @include breakpoint(mobile) {
        flex-direction: column;
        align-items: initial;
    }
}

.franchise-geography__check-my-city {
    font-size: 1.8rem;
    line-height: 2.1rem;
    background-color: var(--primary-color);
    color: white;
    padding: 1.3rem 2.6rem;
    border-radius: 0.4rem;
    display: inline-flex;
    transition: background-color .2s;
    margin-left: auto;
    align-self: flex-start;
    &:link,
    &:visited {
        color: white;
    }

    &:hover {
        background-color: black;
    }


    @include breakpoint(mobile) {
        padding: 1rem 2rem;
        font-size: 1.4rem;
        line-height: 1.2;
        margin: 0;
        margin-bottom: 3rem;
    }
}