.franchise-description {
    padding-top: 6.8rem;
    padding-bottom: 6.8rem;

    @include breakpoint(mobile) {
        padding: 3rem 0;
    }
}

.franchise-description__heading {
    font-weight: bold;
    font-size: 1.6rem;
    line-height: 3.2rem;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    color: #8a8a8a;
    margin-bottom: 2.2rem;

    @include breakpoint(mobile) {
        font-size: 1rem;
        line-height: 1.2;
        margin-bottom: 1.8rem;
    }
}

.franchise-description__layout {
    display: grid;
    grid-template-columns: 2.2fr 1fr;
    grid-gap: 9rem;
    grid-template-areas: 'desc ratings' 'specs competencies' 'buttons buttons';

    @include breakpoint(mobile) {
        display: flex;
        flex-direction: column;
        grid-gap: initial;
    }
}

.franchise-description__text {
    font-size: 2rem;
    line-height: 120%;
    grid-area: desc;

    p {
        margin-bottom: 1.5rem;
        &:last-child {
            margin-bottom: 0;
        }
    }

    @include breakpoint(mobile) {
        font-size: 1.4rem;
        line-height: 120%;
        margin-bottom: 2rem;
    }
}

.franchise-description__ratings {
    grid-area: ratings;

    @include breakpoint(mobile) {
        margin-bottom: 3rem;
    }
}

.franchise-description__ratings-table {
    margin-bottom: 3rem;
    table {
        width: 100%;
        border-collapse: collapse;
        display: block;
    }

    thead,
    tbody,
    th,
    td {
        display: block;
    }

    tr {
        display: flex;
        align-items: baseline;
        margin-bottom: 1.5rem;
        &:last-child {
            margin-bottom: 0;
        }

        @include breakpoint(mobile) {
            margin-bottom: 0.8rem;
        }
    }

    th,
    td {
        font-size: 1.4rem;
        line-height: 1.2;
        font-weight: 400;
        text-align: left;

        @include breakpoint(mobile) {
            font-size: 1.2rem;
            line-height: 1.4rem;
        }
    }

    td {
        text-align: right;
        color: var(--primary-color);
        font-weight: 500;
        font-size: 1.6rem;
        font-family: var(--gotham);

        @include breakpoint(mobile) {
            font-size: 1.2rem;
            line-height: 1.4rem;
        }
    }

    th {
        display: flex;
        align-items: baseline;
        flex-grow: 1;
        color: black;

        &::after {
            content: '';
            width: 1px;
            height: 1px;
            flex-grow: 1;
            margin: 0 1rem;
            background: #f0f0f0;
        }
    }
}

.franchise-description__ratings-items {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #e2e2e2;
    border-radius: 0.4rem;
    padding: 1rem 1.4rem;

    @include breakpoint(mobile) {
        padding: 1.4rem 2.4rem;
    }
}

.franchise-description__ratings-item {
    display: flex;
    align-items: center;
}

.franchise-description__ratings-item-image {
    height: 1.5rem;
    width: auto;
    flex-shrink: 0;
    margin-right: 1.2rem;
    @include breakpoint(mobile) {
        margin-right: 1rem;
    }
}

.franchise-description__ratings-item-amount {
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 1.2;
    color: #818181;
    font-family: var(--gotham);

    @include breakpoint(mobile) {
        font-weight: 500;
        font-size: 1.2rem;
        line-height: 1.2;
    }
}

.franchise-description__social {
    display: flex;
    align-items: center;
}

.franchise-description__social-link {
    margin-right: 1rem;
    transition: color 0.2s;
    &:last-child {
        margin-right: 0;
    }
    svg {
        display: block;
        width: 1.5rem;
        height: 1.5rem;
        flex-shrink: 0;
    }

    &:hover {
        color: black;
    }
}

.franchise-description__specs {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-gap: 1rem;
    grid-row-gap: 3rem;
    grid-area: specs;

    @include breakpoint(mobile) {
        grid-template-columns: repeat(2, minmax(0, 1fr));
        grid-gap: 1.5rem;
        grid-row-gap: 2rem;
        margin-bottom: 3rem;
    }
}

.franchise-description__specs-item-title {
    font-weight: bold;
    font-size: 1.6rem;
    line-height: 1.3;
    margin-bottom: 0.6rem;
    color: #8a8a8a;
    letter-spacing: 0.08em;
    text-transform: uppercase;

    @include breakpoint(mobile) {
        font-size: 1rem;
        line-height: 1.2;
        margin-bottom: 0.5rem;
    }
}

.franchise-description__specs-item-amount {
    font-weight: bold;
    font-size: 2.4rem;
    line-height: 1.3;
    color: var(--primary-color);

    @include breakpoint(mobile) {
        font-size: 2rem;
        line-height: 1.2;
    }
}

.franchise-description__competencies {
    grid-area: competencies;
    @include breakpoint(mobile) {
        margin-bottom: 4.3rem;
    }
}

.franchise-description__competencies-heading {
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 1.6rem;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    color: #8a8a8a;
    margin-bottom: 3rem;

    svg {
        width: 2.2rem;
        height: 2.2rem;
        fill: #cbcbcb;
        margin-left: 0.6rem;
        flex-shrink: 0;
        @include breakpoint(mobile) {
            width: 1.8rem;
            height: 1.8rem;
            margin-left: 0.6rem;
        }
    }

    @include breakpoint(mobile) {
        font-size: 1.2rem;
        line-height: 1.2;
    }
}

.franchise-description__competencies-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.franchise-description__competencies-item {
    display: flex;
    flex-direction: column;
    align-items: center;

    @include breakpoint(mobile) {
        flex-direction: row;
    }
}

.franchise-description__competencies-item-icon-container {
    position: relative;
    margin-bottom: 2rem;
    width: 6.5rem;
    flex-shrink: 0;
    &::after {
        content: '';
        display: block;
        width: 100%;
        padding-bottom: 100%;
    }

    @include breakpoint(mobile) {
        width: 3rem;
        margin: 0;
        margin-right: 1.6rem;
    }
}

.franchise-description__competencies-item-icon-image {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    @include objectFitContain();
}

.franchise-description__competencies-item-title {
    text-align: center;
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1.2;
    font-family: var(--gotham);

    @include breakpoint(mobile) {
        font-size: 1rem;
        line-height: 1.2;
    }
}

.franchise-description__competencies-item-amount {
    width: 4.2rem;
    height: 4.2rem;
    border-radius: 50%;
    flex-shrink: 0;
    position: absolute;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    line-height: 1.2;
    font-family: var(--gotham);
    background-color: var(--primary-color);
    right: 0;
    top: 0;
    transform: translate(30%, -30%);

    @include breakpoint(mobile) {
        width: 1.7rem;
        height: 1.7rem;
        font-size: 1rem;
        line-height: 1.2;
    }
}

.franchise-description__buttons {
    grid-area: buttons;
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-gap: 3.2rem;

    @include breakpoint(mobile) {
        grid-template-columns: repeat(1, minmax(0, 1fr));
        grid-gap: 1rem;
    }
}

.franchise-description__button {
    background: #ebf3ff;
    border-radius: 0.4rem;
    font-weight: bold;
    font-size: 2.4rem;
    line-height: 1.2;
    padding: 2.8rem 3rem;
    text-align: center;
    transition: background-color 0.2s, color 0.2s;
    font-family: var(--gotham);
    &:link,
    &:visited {
        color: var(--primary-color);
    }

    &:hover {
        background-color: var(--primary-color);
        color: white;
    }

    @include breakpoint(mobile) {
        font-weight: 500;
        font-size: 1.2rem;
        line-height: 1.4rem;
        padding: 1.4rem 2.5rem;
        background-color: var(--primary-color);
        border-radius: 0.4rem;

        &:link,
        &:visited {
            color: white;
        }

        &:hover {
            background-color: black;
        }
    }
}
