.franchise-catalog {
    padding-top: 2rem;
    padding-bottom: 8.4rem;
    position: relative;
    z-index: 2;
    @include breakpoint(mobile) {
        padding-top: 1rem;
        padding-bottom: 3rem;
    }
}

.franchise-catalog__list-item {
    padding-bottom: 3.2rem;
    padding-top: 3.2rem;
    border-top: 1px solid#D5D5D5;
    position: relative;

    transition: border-color 0.2s;
    &::before {
        content: '';
        position: absolute;
        left: calc((100vw - 100%) / 2 * -1);
        top: 0;
        width: 100vw;
        bottom: 0;
        transition: background-color 0.2s, opacity 0.2s;
        z-index: -1;
        background: #f1f7ff;

        opacity: 0;
        pointer-events: none;
    }
    &:first-child {
        border-top: none;
    }

    .no-touch &:not(.active):hover {
        border-color: transparent;

        & + .franchise-catalog__list-item {
            border-color: transparent;
        }
        &::before {
            opacity: 1;
        }

        .franchise-catalog__card-title-heading {
            color: var(--primary-color);
        }
    }

    @include breakpoint(mobile) {
        padding: 1.5rem 0;
    }
}

.franchise-catalog__card {
    @include breakpoint(mobile) {
        position: relative;
    }
}

.franchise-catalog__card-main {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-gap: 8.2rem;
    position: relative;
    @include breakpoint(mobile) {
        grid-template-columns: repeat(1, minmax(0, 1fr));
        grid-gap: 1.7rem;
    }
}

.franchise-catalog__card-rating {
    width: 6rem;
    height: 6rem;
    flex-shrink: 0;
    position: absolute;
    right: 0;
    bottom: -2rem;
    background-size: contain;
    background-image: url('../img/rating-bg.svg');
    background-repeat: no-repeat;
    background-position: center;

    @include breakpoint(mobile) {
        width: 3.2rem;
        height: 3.2rem;
        bottom: -0.8rem;
    }
}

.franchise-catalog__card-rating-amount {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-weight: bold;
    font-size: 2.4rem;
    line-height: 1.2;
    font-family: var(--gotham);
    color: var(--primary-color);
    @include breakpoint(mobile) {
        font-size: 1.2rem;
    }
}

.franchise-catalog__card-title-block {
    display: flex;
    align-items: flex-start;
    position: relative;

    &:link,
    &:visited {
        color: inherit;
    }

    &:hover {
        .franchise-catalog__card-title-heading {
            color: var(--primary-color);
        }
    }

    @include breakpoint(mobile) {
        display: grid;
        grid-template-columns: min-content 1fr;
        align-items: initial;
        grid-gap: 1.3rem;
        grid-row-gap: 1.8rem;
    }
}

.franchise-catalog__card-logo-container {
    width: 13.2rem;
    height: 13.2rem;
    flex-shrink: 0;
    margin-right: 4.2rem;
    position: relative;

    @include breakpoint(mobile) {
        width: 6.6rem;
        height: 6.6rem;
        margin: 0;
    }
}

.franchise-catalog__card-logo {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    @include objectFitContain();
}

.franchise-catalog__card-title-block-content {
    width: 40%;
    flex-grow: 1;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;

    @include breakpoint(mobile) {
        display: contents;
    }
}

.franchise-catalog__card-title-heading {
    font-weight: bold;
    font-size: 3rem;
    line-height: 3.2rem;
    margin-bottom: 1.5rem;
    transition: color 0.2s;

    @include breakpoint(mobile) {
        font-size: 1.6rem;
        line-height: 120%;
        margin-bottom: 0;
        display: flex;
        align-items: center;
        padding-right: 3rem;
    }
}

.franchise-catalog__card-title-description {
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 2.5rem;
    color: #818181;
    margin-bottom: 1.5rem;
    @include breakpoint(mobile) {
        font-size: 1.4rem;
        line-height: 1.3;
        font-weight: 400;
        grid-column: span 2;
        margin-bottom: 0;
    }
}

.franchise-catalog__card-specs-block {
    display: flex;
    align-items: flex-start;
    padding-top: 1.5rem;

    @include breakpoint(mobile) {
        flex-direction: column;
        align-items: initial;
        padding: 0;
    }
}

.franchise-catalog__card-specs-table {
    margin-right: auto;

    &:link,
    &:visited {
        color: inherit;
    }
    @include breakpoint(mobile) {
        margin: 0;
        margin-bottom: 2.4rem;
    }
    table {
        width: 100%;
        border-collapse: collapse;

        @include breakpoint(mobile) {
            display: block;
        }

        thead,
        tbody {
            @include breakpoint(mobile) {
                display: block;
            }
        }

        th,
        td {
            text-align: left;
            vertical-align: baseline;
            font-weight: 500;
            font-size: 1.6rem;
            line-height: 2.4rem;
            @include breakpointMF(small-tablet) {
                font-family: var(--gotham);
            }

            @include breakpoint(mobile) {
                display: block;
                font-weight: 500;
                font-size: 1.4rem;
                line-height: 1.6;
            }
        }

        th {
            color: #818181;
            font-size: 1.4rem;
            line-height: 1.8rem;
            padding-right: 2rem;
            font-weight: 400;
            @include breakpoint(mobile) {
                font-size: 1.4rem;
                line-height: 1.6;
                display: flex;
                align-items: baseline;
                padding: 0;
                flex-grow: 1;
                color: #818181;
                font-weight: 400;
                &::after {
                    content: '';
                    background-color: #ededed;
                    height: 1px;
                    width: 1px;
                    flex-grow: 1;
                    margin: 0 0.5rem;
                }
            }
        }

        td {
            @include breakpoint(mobile) {
                text-align: right;
                font-weight: 500;
                font-size: 1.4rem;
                line-height: 1.6;
            }
        }

        tr {
            @include breakpoint(mobile) {
                display: flex;
                align-items: baseline;
            }
        }
    }
}

.franchise-catalog__card-specs-ratings {
    display: flex;
    margin-left: 2rem;
    flex-direction: column;
    width: 30rem;

    &:link,
    &:visited {
        color: inherit;
    }

    @include breakpoint(mobile) {
        margin: 0;
        width: 100%;
        // justify-content: space-between;
        // display: grid;
        // grid-template-columns: repeat(3, minmax(0, 1fr));
    }
}

.franchise-catalog__card-specs-rating-item {
    margin-right: 4rem;
    &:last-child {
        margin-right: 0;
    }

    @include breakpoint(mobile) {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0;
    }
}

.franchise-catalog__card-specs-rating-item-icon-container {
    width: 6.5rem;

    flex-shrink: 0;
    margin: 0 auto;
    margin-bottom: 2.5rem;
    position: relative;
    &::after {
        content: '';
        display: block;
        width: 100%;
        padding-bottom: 100%;
    }

    @include breakpoint(mobile) {
        width: 3rem;
        margin: 0;
        margin-bottom: 1rem;
    }
}

.franchise-catalog__card-specs-rating-item-icon {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    @include objectFitContain();
}

.franchise-catalog__card-specs-rating {
    width: 4.1rem;
    height: 4.1rem;
    background-color: var(--primary-color);
    color: white;
    border-radius: 50%;
    position: absolute;
    right: 0.5rem;
    top: 0.5rem;
    transform: translate(50%, -50%);

    @include breakpoint(mobile) {
        width: 1.7rem;
        height: 1.7rem;
        right: 0;
        top: 0;
    }
}

.franchise-catalog__card-specs-rating-amount {
    font-weight: bold;
    font-size: 2rem;
    line-height: 1.2;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    @include breakpoint(mobile) {
        font-size: 1rem;
    }
}

.franchise-catalog__card-specs-rating-item-title {
    text-align: center;
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1.8rem;

    @include breakpoint(mobile) {
        font-size: 1rem;
        line-height: 1.2;
        text-align: left;
    }
}

.franchise-catalog__card-btns {
    margin-left: 5rem;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 100;
    @include breakpoint(mobile) {
        margin: 0;
        position: absolute;
        right: 0;
        top: 0;
        height: 6.6rem;
        width: 4rem;
        justify-content: center;
        align-items: flex-end;
        z-index: 80;
        // background-color: red;
    }
}

.franchise-catalog__card-actions {
    position: relative;
    margin-bottom: 2rem;

    &:hover {
        .franchise-catalog__card-actions-dropdown {
            opacity: 1;
            visibility: visible;
            transition: opacity 0.3s ease 0.2s, visibility 0.3s ease 0.2s;
        }
    }

    @include breakpoint(mobile) {
        margin-bottom: 0;
    }
}

.franchise-catalog__card-actions-btn {
    width: 2rem;
    height: 2rem;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    svg {
        width: 2rem;
        height: 0.5rem;
        flex-shrink: 0;
        fill: var(--primary-color);
    }

    @include breakpoint(mobile) {
        // width: 1.5rem;
        // height: 1.5rem;
        // background-color: green;
        width: 3rem;
        height: 3rem;
        align-items: flex-end;
        svg {
            width: 1.5rem;
            height: 0.5rem;
        }
    }
}

.franchise-catalog__card-actions-dropdown {
    position: absolute;
    top: 100%;
    right: 0;
    padding-top: 1.5rem;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s, visibility 0s linear 0.3s;
    z-index: 100;

    @include breakpoint(mobile) {
        padding-top: 0.5rem;
    }
}

.franchise-catalog__card-actions-dropdown-inner {
    background: #ffffff;
    box-shadow: 0px 0.4rem 2rem rgba(0, 0, 0, 0.15);
    border-radius: 0.4rem;
    padding: 2rem;
    width: 25rem;

    @include breakpoint(mobile) {
        padding: 1.5rem;
        width: 22rem;
        max-width: calc(100vw - (var(--content-padding) * 2));
    }
}

.franchise-catalog__card-actions-dropdown-link {
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1.2;
    margin-bottom: 1rem;
    transition: color 0.2s;
    &:last-child {
        margin-bottom: 0;
    }
    svg {
        width: 2.4rem;
        height: 2.4rem;
        flex-shrink: 0;
        margin-right: 1rem;
        fill: var(--primary-color);

        @include breakpoint(mobile) {
            width: 1.5rem;
            height: 1.5rem;
            margin-right: 0.8rem;
        }
    }

    &:link,
    &:visited {
        color: black;
    }

    &:hover {
        color: var(--primary-color);
    }
}

.franchise-catalog__card-like {
    margin: 0 auto;
    color: white;
    transition: color 0.2s;
    &:link,
    &:visited {
        color: white;
    }

    &:hover,
    &.active {
        color: var(--primary-color);
        &:link,
        &:visited {
            color: var(--primary-color);
        }
    }
    svg {
        display: block;
        width: 2.2rem;
        height: 2.2rem;
        fill: var(--primary-color);
    }

    @include breakpoint(mobile) {
        display: none;
    }
}

.franchise-catalog__show-more {
    background: #ebf3ff;
    border-radius: 0.4rem;
    color: var(--primary-color);
    font-weight: bold;
    font-size: 2.4rem;
    padding: 2.8rem 5rem;
    line-height: 1.2;
    display: block;
    width: 100%;
    text-align: center;
    margin-top: 2rem;
    transition: background-color 0.2s, color 0.2s;
    &:link,
    &:visited {
        color: var(--primary-color);
    }

    &:hover {
        background-color: var(--primary-color);
        color: white;
    }

    @include breakpoint(mobile) {
        background: #ebf3ff;
        border-radius: 0.4rem;
        font-weight: bold;
        font-size: 1.4rem;
        padding: 1.3rem 2rem;
        margin-top: 1rem;
    }
}

.franchise-catalog__card-details-grid {
    padding: 5rem 0;
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-gap: 8.2rem;

    @include breakpoint(mobile) {
        display: flex;
        flex-direction: column;
        grid-gap: initial;
        padding: 1.8rem;

        border-radius: 0.4rem;
        padding-top: 0;
    }
}

.franchise-catalog__card-details-left-col {
    display: flex;
    @include breakpoint(mobile) {
        display: contents;
    }
}

.franchise-catalog__card-details-social-block {
    width: 13.2rem;
    flex-shrink: 0;
    margin-right: 4.2rem;
    flex-wrap: wrap;
    @include breakpoint(mobile) {
        margin: 0;
        width: 100%;
        flex-shrink: 1;
        display: flex;
        justify-content: space-between;
        align-items: center;
        // grid-gap: 2rem;
        // grid-row-gap: 1.5rem;
        order: 5;
        margin-bottom: 2.3rem;
    }
}

.franchise-catalog__card-website {
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 1.2;
    transition: color 0.2s;
    margin-bottom: 2rem;
    display: block;
    display: inline-flex;
    align-items: center;
    &:link,
    &:visited {
        color: var(--primary-color);
    }

    svg {
        width: 1rem;
        height: 1rem;
        flex-shrink: 0;
        margin-left: 0.5rem;

        @include breakpoint(mobile) {
            width: 0.8rem;
            height: 0.8rem;
        }
    }

    &:hover {
        color: black;
    }

    @include breakpoint(mobile) {
        font-size: 1.4rem;
        line-height: 1.2rem;
        margin: 0;
    }
}

.franchise-catalog__card-details-social-links {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 3rem;
    @include breakpoint(mobile) {
        margin: 0;

        margin-left: auto;
    }
}

.franchise-catalog__card-details-social-link {
    flex-shrink: 0;
    margin-right: 1.5rem;
    transition: color 0.2s;

    &:last-child {
        margin-right: 0;
    }
    &:link,
    &:visited {
        color: var(--primary-color);
    }

    &:hover {
        color: black;
    }
    svg {
        width: 1.5rem;
        height: 1.5rem;
        flex-shrink: 0;
        display: block;
        @include breakpoint(mobile) {
            width: 1.2rem;
            height: 1.2rem;
        }
    }

    @include breakpoint(mobile) {
        margin-right: 1.3rem;
    }
}

.franchise-catalog__card-details-place-ratings {
    border: 1px solid #e2e2e2;
    border-radius: 0.4rem;
    padding: 1.4rem;
    display: flex;
    flex-direction: column;
    margin-top: 1.8rem;
    width: 100%;
    @include breakpoint(mobile) {
        border: none;
        padding: 0;
        border-radius: 0;
        grid-column: span 2;
        flex-direction: row;
    }
}

.franchise-catalog__card-details-place-rating {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0.5rem;
    &:last-child {
        margin-bottom: 0;
    }

    @include breakpoint(mobile) {
        margin-bottom: 0;
        margin-right: 1.5rem;
    }
}

.franchise-catalog__card-details-place-rating-logo {
    height: 1.5rem;
    width: auto;
    flex-shrink: 0;
    margin-right: 1rem;

    @include breakpoint(mobile) {
        height: 1.4rem;
        margin-right: 1.1rem;
    }
}

.franchise-catalog__card-details-place-rating-score {
    margin-left: auto;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 2.5rem;
    color: #818181;
    transition: color 0.2s;
    font-family: var(--gotham);
    &:link,
    &:visited {
        color: #818181;
    }

    @include breakpoint(mobile) {
        font-weight: 500;
        font-size: 1.2rem;
        line-height: 1.2;
    }
}

.franchise-catalog__card-details-description-block {
    width: 50%;
    flex-grow: 1;

    @include breakpoint(mobile) {
        width: 100%;
        flex-grow: 0;
        display: contents;
    }
}

.franchise-catalog__card-details-description {
    font-size: 1.8rem;
    line-height: 2.5rem;
    margin-bottom: 3.2rem;
    p {
        margin-bottom: 1.5rem;
        &:last-child {
            margin-bottom: 0;
        }
    }

    @include breakpoint(mobile) {
        font-size: 1.4rem;
        line-height: 120%;
        margin-bottom: 1.6rem;
    }
}

.franchise-catalog__card-details-table {
    margin-bottom: 4.5rem;
    @include breakpoint(mobile) {
        margin-bottom: 2rem;
    }
    table {
        width: 100%;
        border-collapse: collapse;
        table,
        tbody,
        thead {
            display: block;
        }
        th,
        td {
            font-weight: 500;
            font-size: 1.4rem;
            line-height: 2.6rem;
            display: block;
            @include breakpoint(mobile) {
                font-size: 1.4rem;
                line-height: 160%;
                font-weight: 400;
            }
        }

        tr {
            display: flex;
            align-items: baseline;
        }

        td {
            text-align: right;
            font-weight: 500;
            font-size: 1.6rem;
            line-height: 2.6rem;
            text-align: right;

            color: var(--primary-color);

            @include breakpoint(mobile) {
                font-size: 1.4rem;
                line-height: 160%;
            }
        }

        th {
            flex-grow: 1;
            color: #818181;
            display: flex;
            align-items: baseline;
            &::after {
                content: '';
                width: 1px;
                height: 1px;
                flex-shrink: 0;
                flex-grow: 1;
                background-color: #f0f0f0;
                flex-grow: 1;
                margin: 0 1rem;

                @include breakpoint(mobile) {
                    background: #d8e6fa;
                }
            }
        }
    }
}

.franchise-catalog__card-details-founder {
    display: flex;
    align-items: center;

    @include breakpoint(mobile) {
        grid-column: span 3;
    }
}

.franchise-catalog__card-details-founder-photo-container {
    width: 5.7rem;
    border-radius: 50%;
    overflow: hidden;
    flex-shrink: 0;
    margin-right: 1.7rem;
    position: relative;
    &::after {
        content: '';
        display: block;
        width: 100%;
        padding-bottom: 100%;
    }

    @include breakpoint(mobile) {
        width: 4rem;
        margin-right: 1.2rem;
    }
}

.franchise-catalog__card-details-founder-photo {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    @include objectFitCover();
}

.franchise-catalog__card-details-founder-content {
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 2rem;
    color: #818181;
    font-family: var(--gotham);

    @include breakpoint(mobile) {
        font-weight: 500;
        font-size: 1.2rem;
        line-height: 120%;
    }
}

.franchise-catalog__card-details-founder-title {
    margin-bottom: 0.3rem;
    @include breakpoint(mobile) {
        margin-bottom: 0;
    }
}

.franchise-catalog__card-details-founder-name {
    color: var(--primary-color);

    @include breakpoint(mobile) {
        text-decoration: underline;
    }
}

.franchise-catalog__card-details-learn-more-links {
    display: flex;
    align-items: center;
    margin-left: 2rem;

    &:first-child {
        margin-left: 0;
    }

    @include breakpoint(mobile) {
        display: contents;
    }
}

.franchise-catalog__card-details-learn-more-comments {
    margin-right: 1.7rem;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 1.2;
    flex-shrink: 0;
    background: #ebf3ff;
    border-radius: 0.4rem;
    padding: 1.2rem 1.3rem;
    display: flex;
    align-items: center;
    svg {
        width: 2.4rem;
        height: 2.4rem;
        flex-shrink: 0;
        margin-right: 1rem;
        fill: var(--primary-color);
        @include breakpoint(mobile) {
            width: 1.4rem;
            height: 1.4rem;
            margin-right: 1rem;
        }
    }
    &:link,
    &:visited {
        color: black;
    }

    @include breakpoint(mobile) {
        font-weight: 500;
        font-size: 1.2rem;
        line-height: 1.2;
        font-family: var(--gotham);
        background-color: #fff;
        padding: 1rem;
        align-self: center;
        justify-self: flex-end;
        margin: 0;
    }
}

.franchise-catalog__card-details-learn-more-link {
    padding: 1.5rem 2.3rem;
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 1.7rem;
    text-align: center;
    flex-shrink: 0;
    background-color: var(--primary-color);
    color: white;
    transition: background-color 0.2s, color 0.2s;
    border-radius: 0.4rem;
    &:link,
    &:visited {
        color: white;
    }

    &:hover {
        background-color: black;
    }

    @include breakpoint(mobile) {
        grid-column: span 4;
        font-weight: 500;
        font-size: 1.4rem;
        line-height: 1.4rem;
        padding: 1.3rem 2rem;
    }
}

.franchise-catalog__card-details-learn-more {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include breakpoint(mobile) {
        display: grid;
        grid-template-columns: repeat(4, minmax(0, 1fr));
        grid-gap: 2rem;
        order: 20;
    }
}

.franchise-catalog__card-details-gallery-slider {
    position: relative;
    @include breakpoint(mobile) {
        margin-bottom: 1.5rem;
    }
}
.franchise-catalog__card-details-gallery-slider-card {
    position: relative;
    border-radius: 0.4rem;
    overflow: hidden;
    &::after {
        content: '';
        display: block;
        width: 100%;
        padding-bottom: 54%;
    }
}

.franchise-catalog__card-details-gallery-slider-card-image {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    @include objectFitCover();
}

.franchise-catalog__card-details-gallery-slider-arrow {
    width: 4.5rem;
    height: 4.5rem;
    flex-shrink: 0;
    background: rgba(white, 0.5);
    position: absolute;
    z-index: 100;
    border-radius: 50%;
    transition: background-color 0.2s, opacity 0.2s;
    &--prev {
        left: 2.5rem;
        top: 50%;
        transform: translateY(-50%);
        @include breakpoint(mobile) {
            left: 0;
            transform: translate(-50%, -50%);
        }
    }
    &--next {
        right: 2.5rem;
        top: 50%;
        transform: translateY(-50%);
        @include breakpoint(mobile) {
            right: 0;
            transform: translate(50%, -50%);
        }
    }

    svg {
        width: 1.2rem;
        height: 1.8rem;
        fill: black;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        transition: fill 0.2s;

        @include breakpoint(mobile) {
            width: 0.5rem;
            height: 0.85rem;
        }
    }

    &.swiper-button-disabled {
        cursor: default;
        opacity: 0;
    }
    &:not(.swiper-button-disabled) {
        &:hover {
            background-color: var(--primary-color);

            svg {
                fill: white;
            }
        }
    }

    @include breakpoint(mobile) {
        width: 2rem;
        height: 2rem;
        background: rgba(white, 0.9);
    }
}

.franchise-catalog__card-details-right-col {
    @include breakpoint(mobile) {
        order: -1;
    }
}

.franchise-catalog__card-details {
    @include breakpoint(mobile) {
        margin-top: 1.4rem;
        background: #ebf3ff;
        border-radius: 0.4rem;
    }
}

.franchise-catalog__card-overlay-link {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.franchise-catalog__card-details-btn {
    display: none;

    span {
        &:nth-child(1) {
            display: inline;
        }
        &:nth-child(2) {
            display: none;
        }
    }

    .franchise-catalog__list-item.active & {
        span {
            &:nth-child(1) {
                display: none;
            }
            &:nth-child(2) {
                display: inline;
            }
        }
    }
    @include breakpoint(mobile) {
        display: block;

        color: var(--primary-color);
        text-align: center;

        border-radius: 0.4rem;
        font-weight: 700;
        font-size: 1.4rem;
        padding: 1.3rem 2rem;
        &:link,
        &:visited {
            color: var(--primary-color);
        }
    }
}

.franchise-catalog__card-details-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s;
}

.franchise-catalog__card-actions-accordion-toggle {
    margin-bottom: 2rem;
    margin-top: 0.5rem;
    @include breakpoint(mobile) {
        display: none;
    }
}

.franchise-catalog__card-actions-accordion-toggle-content {
    display: flex;
    flex-direction: column;
    width: 24px;

    & > span {
        width: 100%;
        height: 3px;
        background-color: var(--primary-color);
        margin-bottom: 5px;
        transition: transform 0.3s, opacity 0.3s;

        @include breakpoint(tablet) {
            height: 2px;
            margin-bottom: 4px;
        }
        &:last-child {
            margin-bottom: 0;
        }
    }

    .franchise-catalog__list-item.active & {
        & > span {
            &:nth-child(1) {
                transform: translateY(8px) rotate(45deg);
            }
            &:nth-child(2) {
                opacity: 0;
            }
            &:nth-child(3) {
                transform: translateY(-8px) rotate(-45deg);
            }
        }

        @include breakpoint(tablet) {
            & > span {
                &:nth-child(1) {
                    transform: translateY(6px) rotate(45deg);
                }
                &:nth-child(2) {
                    opacity: 0;
                }
                &:nth-child(3) {
                    transform: translateY(-6px) rotate(-45deg);
                }
            }
        }
    }

    @include breakpoint(tablet) {
        width: 20px;
    }
}

.franchise-catalog__card-open-close {
    display: flex;
    align-items: center;
    color: var(--primary-color);

    font-size: 1.4rem;
    line-height: 1.2;
    position: relative;
    z-index: 100;
    cursor: pointer;
    user-select: none;
    svg {
        width: 1.2rem;
        height: 0.6rem;
        flex-shrink: 0;
        margin-left: 1.1rem;
        transition: transform 0.3s;
    }

    .franchise-catalog__list-item.active & svg {
        transform: rotate(180deg);
    }

    @include breakpoint(mobile) {
        display: none;
    }
}

.franchise-catalog__card-open-close-text {
    &.closed {
        display: none;
    }
    .franchise-catalog__list-item.active & {
        &.closed {
            display: block;
        }

        &.opened {
            display: none;
        }
    }
}

.franchise-catalog__card-specs-ratings-heading {
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1.8rem;
    color: #818181;
    margin-bottom: 0.4rem;

    @include breakpoint(mobile) {
        font-size: 1.4rem;
        line-height: 1.2;
        margin-bottom: 1rem;
        font-weight: 400;
    }
}

.franchise-catalog__card-specs-ratings-table {
    width: 100%;
    border-collapse: collapse;
    display: block;

    thead,
    tbody,
    th,
    td {
        display: block;
    }

    tr {
        display: grid;
        grid-template-columns: 12rem minmax(0, 1fr);
        align-items: center;
        grid-gap: 1.5rem;

        @include breakpoint(mobile) {
            grid-gap: 1rem;
            grid-template-columns: 12rem minmax(0, 1fr);
        }
    }

    th,
    td {
        font-weight: 400;
        text-align: left;
    }

    td {
        width: 100%;
    }
}

.franchise-catalog__card-specs-ratings-progress-text {
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 2.6rem;
    white-space: nowrap;
    position: relative;
    cursor: default;
    &:hover {
        .franchise-catalog__card-specs-dropdown {
            opacity: 1;
            visibility: visible;
            transition: opacity 0.2s ease 0.1s, visibility 0.2s ease 0.1s;
        }
    }
    .franchise-description__competencies & {
        font-weight: 400;

        @include breakpoint(mobile) {
            font-weight: 500;
            font-size: 1.2rem;
            line-height: 1.7;
        }
    }
    @include breakpoint(mobile) {
        font-size: 1.4rem;
        line-height: 1.6;
    }
}

.franchise-catalog__card-specs-dropdown {
    position: absolute;
    right: 100%;
    top: 50%;
    transform: translateY(-50%);
    padding-right: 3rem;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s, visibility 0s linear 0.2s;
    z-index: 30;

    @include breakpoint(mobile) {
        display: none;
    }
}

.franchise-catalog__card-specs-dropdown-inner {
    background: #ffffff;
    filter: drop-shadow(0 0.64rem 6.4rem rgba(0, 0, 0, 0.1));
    border-radius: 1rem;
    padding: 2.8rem;
    padding-left: 3.8rem;
    padding-right: 0.5rem;
    display: flex;
    align-items: center;
    width: 49rem;
    position: relative;
    white-space: initial;
    &::before {
        content: '';
        position: absolute;
        left: 100%;
        top: 50%;
        transform: translateY(-50%);
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 1.2rem 0 1.2rem 1.2rem;
        border-color: transparent transparent transparent #ffffff;
    }
}

.franchise-catalog__card-specs-dropdown-image {
    width: 11.4rem;
    flex-shrink: 0;
    margin-right: 2.5rem;
}

.franchise-catalog__card-specs-dropdown-content {
    width: 50%;
    flex-grow: 1;
}

.franchise-catalog__card-specs-dropdown-title {
    font-weight: bold;
    font-size: 1.8rem;
    line-height: 1.2;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    margin-bottom: 1.4rem;
}

.franchise-catalog__card-specs-dropdown-text {
    font-size: 1.7rem;
    line-height: 140%;
}

.franchise-catalog__card-specs-ratings-progress-bar {
    border-radius: 0.3rem;
    background: #ebf3ff;
    width: 100%;
    height: 0.5rem;
    position: relative;
    overflow: hidden;
    width: 100%;
    margin-top: 0.2rem;
    &::before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: calc(100% * var(--skill, 1));
        height: 100%;
        background-color: var(--primary-color);
        transition: transform 0.4s;
        border-radius: 0.3rem;
        transform-origin: left center;
    }

    @include breakpoint(mobile) {
        height: 0.4rem;
    }
}

.franchise-catalog__card-mobile-details-btn {
    display: none;
    @include breakpoint(mobile) {
        display: block;

        background-color: var(--primary-color);
        color: white;
        text-align: center;
        margin-top: 2rem;
        border-radius: 0.4rem;
        font-weight: 700;
        font-size: 1.4rem;
        padding: 1.3rem 2rem;
        &:link,
        &:visited {
            color: white;
        }
    }
}


.franchise-catalog__card-details {
    .franchise-intro__tags {
        @include breakpoint(mobile) {
            display: none;
        }
    }
}