.franchise-video {
    padding: 5rem 0;

    @include breakpoint(mobile) {
        padding: 3rem 0;
    }
}

.franchise-video__heading {
    font-weight: bold;
    font-size: 4.6rem;
    line-height: 120%;
    margin-bottom: 4.5rem;

    @include breakpoint(mobile) {
        font-size: 2.2rem;
        line-height: 120%;
        margin-bottom: 2rem;
    }
}

.franchise-video__text {
    font-size: 2rem;
    line-height: 120%;
    margin-bottom: 6.4rem;

    @include breakpoint(mobile) {
        font-size: 1.4rem;
        line-height: 120%;
        margin-bottom: 2.7rem;
    }
}

.franchise-video__link {
    position: relative;
    border-radius: 0.4rem;
    overflow: hidden;
    background-color: var(--primary-color);
    display: block;
    &::after {
        content: '';
        display: block;
        width: 100%;
        padding-bottom: 56.25%;
    }

    &::before {
        content: '';
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 10rem;
        height: 10rem;
        background-image: url('../img/play.svg');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        z-index: 40;

        @include breakpoint(mobile) {
            width: 5rem;
            height: 5rem;
        }
    }
}

.franchise-video__preview {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    @include objectFitCover();
}
