.franchise-profit {
    background-color: #fff;
    margin: 3.4rem;
    padding-top: 7.2rem;
    padding-bottom: 10.6rem;
    border-radius: 1.2rem;

    @include breakpoint(mobile) {
        margin: 2rem 0;
        padding-top: 2.4rem;
        padding-bottom: 2.4rem;
    }
}

.franchise-profit__heading {
    font-weight: bold;
    font-size: 4.6rem;
    line-height: 1.2;
    margin-bottom: 7rem;

    @include breakpoint(mobile) {
        font-weight: bold;
        font-size: 2.2rem;
        line-height: 3.2rem;
        margin-bottom: 2.7rem;
    }
}

.franchise-profit__slider-container {
    position: relative;

    @include breakpoint(mobile) {
        position: static;
    }
}

.franchise-profit__slider {
    @include breakpoint(mobile) {
        position: relative;
    }
}

.franchise-profit__card {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-gap: 5rem;

    @include breakpoint(mobile) {
        grid-template-columns: repeat(1, minmax(0, 1fr));
        grid-gap: 2.8rem;
    }
}

.franchise-profit__card-left-col,
.franchise-profit__card-right-col {
    align-self: center;
}

.franchise-profit__card-right-col {
    @include breakpoint(mobile) {
        order: -1;
    }
}

.franchise-profit__card-title {
    font-weight: bold;
    font-size: 3rem;
    line-height: 120%;
    margin-bottom: 2rem;

    @include breakpoint(mobile) {
        font-size: 1.6rem;
        line-height: 120%;
    }
}

.franchise-profit__card-text {
    font-size: 2rem;
    line-height: 120%;
    margin-bottom: 3rem;

    @include breakpoint(mobile) {
        font-size: 1.4rem;
        line-height: 120%;
    }
}

.franchise-profit__diagram {
    width: 100%;
    height: auto;
}

.franchise-profit__slider-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: black;
    transition: color 0.2s, background-color .2s, opacity 0.2s;
    z-index: 60;
    width: 4.4rem;
    height: 4.4rem;
    background-color: #EDF5FF;
    border-radius: 50%;
    &--prev {
        left: 0;
    }

    &--next {
        right: 0;
    }
    svg {
        width: 1.1rem;
        height: 1.8rem;
        display: block;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);

        @include breakpoint(mobile) {
            width: 0.7rem;
            height: 1.2rem;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }
    }

    &:not(.swiper-button-disabled) {
        &:hover {
            background-color: var(--primary-color);
            color: white;
        }
    }

    &.swiper-button-disabled {
        cursor: default;
        opacity: 0.3;
    }

    @include breakpoint(mobile) {
        position: absolute;
        width: 3rem;
        height: 3rem;
        border-radius: 50%;
        background: rgba(white, 0.9);
        transform: none;
        top: 10.5rem;
        &--prev {
            left: 1.3rem;
        }

        &--next {
            right: 1.3rem;
        }
    }
}



