.page-header {
    box-shadow: 0 1.6rem 2.4rem rgba(51, 132, 254, 0.08);
    @include breakpoint(mobile) {
        box-shadow: none;
        border-bottom: 1px solid #ededed;
    }
}

.page-header__row {
    display: flex;
    align-items: center;
    min-height: 8rem;

    @include breakpoint(mobile) {
        min-height: auto;
        // height: 5rem;
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
        grid-template-areas: 'logo logo' 'actions actions';
    }
}

.page-header__logo {
    margin-right: 3.6rem;
    flex-shrink: 0;
    position: relative;
    z-index: 30;
    @include breakpoint(mobile) {
        margin-right: auto;
    }
}

.page-header__logo-image {
    display: block;
    width: 11.6rem;

    @include breakpoint(mobile) {
        width: 8rem;
    }
}

.page-header__burger {
    flex-shrink: 0;
    position: relative;
    z-index: 30;
}

.page-header__logo-menu-wrapper {
    display: flex;
    align-items: center;
    margin-right: 7.2rem;
    position: relative;

    @include breakpointMF(small-tablet) {
        &:hover {
            .page-header__logo-menu-dropdown {
                opacity: 1;
                visibility: visible;
                transition: opacity 0.3s, visibility 0.3s;
            }

            .page-header__burger-content > span {
                background-color: var(--primary-color);
            }
        }
    }

    @include breakpoint(mobile) {
        margin: 0;
        grid-area: logo;
        padding: 1.9rem 0;
    }
}

.page-header__logo-menu-dropdown {
    @include breakpointMF(small-tablet) {
        position: absolute;
        top: -2rem;
        right: -2.8rem;
        left: -2.8rem;
        padding-top: 5rem;
        background-color: #fff;
        z-index: 20;
        box-shadow: 0px 0.4rem 1rem rgba(0, 0, 0, 0.1);
        border-radius: 0.4rem;
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.3s, visibility 0s linear 0.3s;
    }

    @include breakpoint(mobile) {
        position: fixed;
        top: 5.8rem;
        left: 0;
        bottom: 0;
        right: 0;
        overflow-x: hidden;
        -webkit-overflow-scrolling: touch;
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.3s, visibility 0s linear 0.3s;
        z-index: 300;
        background-color: #fff;
        border-top: 1px solid #f0f0f0;
        padding-top: 2.8rem;
        .mobile-menu-open & {
            opacity: 1;
            visibility: visible;
            transition: opacity 0.3s, visibility 0.3s;
        }
    }
}

.page-header__logo-menu-dropdown-inner {
    padding: 1.4rem;
    padding-bottom: 2rem;

    @include breakpoint(mobile) {
        padding: 0 var(--content-padding);
    }
}

.page-header__logo-menu-dropdown-link {
    padding: 0.5rem 1.5rem;

    border-radius: 0.4rem;
    transition: background-color 0.2s;
    font-weight: bold;
    font-size: 1.4rem;
    line-height: 260%;

    letter-spacing: 0.08em;
    text-transform: uppercase;
    display: block;
    &:link,
    &:visited {
        color: black;
    }
    &:hover {
        background: #ebf3ff;
    }

    @include breakpoint(mobile) {
        font-size: 1.4rem;
        line-height: 1.3;
        text-transform: uppercase;
        letter-spacing: 0.08em;
        color: var(--primary-color);
        margin-bottom: 2rem;
        transition: color 0.2s;
        padding: 0;
        &:link,
        &:visited {
            color: var(--primary-color);
        }
        &:last-child {
            margin-bottom: 0;
        }
    }
}

.page-header__logo-menu-navigation {
    padding-bottom: 2.8rem;
    border-bottom: 1px solid #f0f0f0;
}

.page-header__logo-menu-contacts {
    display: none;
    padding: 2.8rem 0;
    @include breakpoint(mobile) {
        display: block;
    }
}

.page-header__logo-menu-contacts-item {
    margin-bottom: 1.8rem;
    &:last-child {
        margin-bottom: 0;
    }
}

.page-header__logo-menu-contacts-link {
    color: var(--primary-color);
    font-size: 1.4rem;
    line-height: 1.6rem;
    display: block;
    margin-bottom: 0.5rem;
    &:link,
    &:visited {
        color: var(--primary-color);
    }
}

.page-header__logo-menu-contacts-item-description {
    font-size: 1rem;
    line-height: 1.2rem;
    color: #818181;
}

.page-header__burger-content {
    display: flex;
    flex-direction: column;

    @include breakpointMF(small-tablet) {
        & > span {
            width: 2.4rem;
            height: 0.3rem;
            background: #33373d;
            border-radius: 0.2rem;
            margin-bottom: 0.4rem;
            flex-shrink: 0;
            transition: background-color 0.2s;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    @include breakpoint(mobile) {
        & > span {
            width: 22px;
            height: 0.3rem;
            background: var(--primary-color);
            border-radius: 4px;
            margin-bottom: 4px;
            flex-shrink: 0;
            transition: background-color 0.2s, transform 0.2s, opacity 0.2s;
            &:last-child {
                margin-bottom: 0;
            }
        }

        .mobile-menu-open & {
            & > span {
                &:nth-child(1) {
                    transform: translateY(7px) rotate(45deg);
                }
                &:nth-child(2) {
                    opacity: 0;
                }
                &:nth-child(3) {
                    transform: translateY(-7px) rotate(-45deg);
                }
            }
        }
    }
}

.page-header__search {
    margin-right: 9.6rem;
    flex-shrink: 0;

    @include breakpoint(mobile) {
        display: none;
    }
}

.page-header__search-form {
    width: 19.2rem;
    padding: 1.1rem;
    border-radius: 0.4rem;
    background-color: var(--light-blue);
    color: var(--primary-color);
    display: flex;
    align-items: center;
}

.page-header__search-input {
    font-size: 1.6rem;
    line-height: 1.2;
    width: 50%;
    flex-grow: 1;
}

.page-header__search-submit {
    margin-left: 1rem;
    svg {
        width: 1.4rem;
        height: 1.4rem;
        flex-shrink: 0;
        display: block;
    }
}

.page-header__actions {
    display: flex;
    margin-right: auto;
    align-self: stretch;

    @include breakpoint(mobile) {
        grid-area: actions;
        margin: 0;
        align-self: initial;
        padding: 0 0.5rem;
        justify-content: center;
    }
}

.page-header__actions-link {
    font-weight: bold;
    font-size: 1.4rem;
    line-height: 1.6rem;
    text-align: center;
    letter-spacing: 0.015em;
    text-transform: uppercase;
    margin-right: 3.2rem;
    position: relative;
    padding: 0 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100%;
    transition: color 0.2s;
    &::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 3px;
        background-color: var(--primary-color);
        opacity: 0;
        transition: opacity 0.2s;
    }
    &:last-child {
        margin-right: 0;
    }
    &:link,
    &:visited {
        color: #9fa6b6;
    }

    &:hover {
        color: black;
    }

    &.active {
        &:link,
        &:visited {
            color: black;
        }
        &::after {
            opacity: 1;
        }
    }

    @include breakpoint(mobile) {
        font-weight: bold;
        font-size: 1rem;
        line-height: 1.2rem;
        margin: 0;

        padding: 1.3rem 1rem;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        &:link,
        &:visited {
            color: #8a8a8a;
        }
       
    }
}

.page-header__user {
    display: flex;
    align-items: center;
    flex-shrink: 0;
    margin-left: auto;
    @include breakpoint(mobile) {
        display: none;
    }
}

.page-header__user-login,
.page-header__user-register {
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 2.4rem;
    flex-shrink: 0;
    padding: 0.8rem 1.6rem;
    border-radius: 0.4rem;
    border: 1px solid #d3dae7;
    transition: background-color 0.2s, color 0.2s, border-color 0.2s;
}

.page-header__user-register {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
    color: white;
    &:link,
    &:visited {
        color: white;
    }

    &:hover {
        background-color: #000;
        border-color: #000;
    }
}

.page-header__user-login {
    margin-right: 2rem;
    background-color: #fff;
    color: #33373d;
    &:link,
    &:visited {
        color: #33373d;
    }

    &:hover {
        color: var(--primary-color);
        border-color: var(--primary-color);
    }
}

.page-header__mobile-user,
.page-header__mobile-search {
    margin-right: 2rem;
    display: none;

    svg {
        width: 2.2rem;
        height: 2.2rem;
        fill: var(--primary-color);
        display: block;
    }
    @include breakpoint(mobile) {
        display: block;
    }
}

.page-header__logo-menu-announcement {
    display: none;

    @include breakpoint(mobile) {
        display: block;
        padding: 1.5rem;
        background-color: var(--primary-color);
        color: white;
        min-height: 16rem;
        position: relative;
        border-radius: 0.8rem;
        overflow: hidden;
        font-weight: 500;
        font-size: 1.6rem;
        line-height: 1.2;
        z-index: 1;
        &:link,
        &:visited {
            color: white;
        }
    }
}

.page-header__logo-menu-announcement-image-container {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;

    &::before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(344.14deg, rgba(70, 144, 255, 0) 16.45%, rgba(70, 144, 255, 0.56) 87.52%),
            linear-gradient(0deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1));
        z-index: 2;
    }
}

.page-header__logo-menu-announcement-image {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    @include objectFitCover();
}


.page-header__logo-menu-social {
    display: none;

    @include breakpoint(mobile) {
        border-top: 1px solid #F0F0F0;
        padding: 2.8rem 0;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        margin-top: 2.8rem;
    }
}


.page-header__logo-menu-social-link {
    color: var(--primary-color);
    &:link,
    &:visited {
        color: var(--primary-color);
    }
    svg {
        width: 1.8rem;
        height: 1.8rem;
        display: block;
    }
}