.intro {
    padding: 5rem 0;
    padding-bottom: 2.5rem;
    @include breakpoint(mobile) {
        padding-top: 2.5rem;
        padding-bottom: 0;
    }
}

.intro__row {
    display: flex;
    align-items: center;
}

.intro__logo {
    margin-right: 14rem;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    @include breakpoint(mobile) {
        margin-right: 1rem;
        flex-basis: 20rem;
    }
}

.intro__logo-image {
    width: 42.3rem;
    height: auto;
    flex-shrink: 0;
    display: block;
    opacity: 0.15;
    @include breakpoint(mobile) {
        width: 21.2rem;
    }
}

.intro__logo-slogan {
    font-weight: bold;
    font-size: 3rem;
    line-height: 120%;
    
    margin-top: 0.5rem;

    @include breakpoint(mobile) {
        font-weight: bold;
        font-size: 1.6rem;
        line-height: 120%;
        
       
    }
}

.intro__features {
    display: flex;
    align-items: center;
}

.intro__features-item {
    display: flex;
    align-items: center;
    flex-shrink: 0;
    margin-right: 6rem;
    &:last-child {
        margin-right: 0;
    }

    @include breakpoint(mobile) {
        &:not(:first-child) {
            display: none;
        }

        &:first-child {
            .intro__features-item-text {
                display: none;
            }
        }
    }
}

.intro__features-item-image {
    width: auto;
    height: 12rem;
    flex-shrink: 0;
    margin-right: 1rem;
    @include breakpoint(mobile) {
        width: 5.7rem;
        margin: 0;
        flex-shrink: 1;
        height: auto;
    }
}

.intro__features-item-text {
    font-weight: bold;
    font-size: 2rem;
    line-height: 120%;
}
