.modals__modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
    background-color: rgba(#000000, 0.7);
    z-index: 1000;
    display: flex;
    flex-direction: column;
    
    padding: 2rem;
    opacity: 0;
    visibility: hidden;

    transition: opacity .3s, visibility 0s linear .3s;


    @include noScrollbar();


    &.shown {
        opacity: 1;
        visibility: visible;
        transition: opacity .3s, visibility .3s;
    }
}

.modals__modal-content {
    background-color: #fff;
    color: black;
    max-width: 54.4rem;
    margin: auto;
    padding: 6rem;
    position: relative;
    border-radius: 1rem;
    width: 100%;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    @include breakpoint(mobile) {
        max-width: none;
        border-radius: .8rem;
        padding: 2rem;
    }
}

.modals__modal-close {
    position: absolute;
    right: 3rem;
    top: 3rem;
    color: black;
    transition: color 0.2s;

    svg {
        width: 1.5rem;
        height: 1.5rem;
        flex-shrink: 0;
        display: block;
    }

    &:hover {
        color: var(--primary-color);
    }


    @include breakpoint(mobile) {
        position: static;
        margin-left: auto;
        margin-bottom: 1.2rem;
        
    }
}

.modals__modal-heading {
    font-weight: bold;
    font-size: 3rem;
    line-height: 120%;
    margin-bottom: 1.2rem;
    @include breakpoint(mobile) {
        font-size: 2.2rem;
    }
}

.modals__modal-text {
    font-size: 2rem;
    line-height: 120%;
    margin-bottom: 4rem;
    @include breakpoint(mobile) {
        font-size: 1.6rem;
        margin-bottom: 2rem;
    }
}
