.no-franchises {
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    .container {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
    }
}

.no-franchises__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-grow: 1;
    padding: 3rem 0;
}

.no-franchises__image {
    width: 14.2rem;
    margin: 0 auto;
    margin-bottom: 5rem;
    max-width: 100%;

    @include breakpoint(mobile) {
        margin-bottom: 3rem;
    }
}

.no-franchises__link {
    font-weight: bold;
    font-size: 2.4rem;
    line-height: 1.2;
    font-family: var(--gotham);
    padding: 2.8rem 12rem;
    background: #3384fe;
    border-radius: 0.4rem;
    text-align: center;
    flex-shrink: 0;
    transition: background-color .2s;
    color: white;

    &:link,
    &:visited {
        color: white;
    }

    &:hover {
        background-color: black;
    }

    @include breakpoint(mobile) {
        padding: 1.4rem 2rem;
        font-size: 1.8rem;
    }
}
