.page-footer-actions {
    
}


.page-footer-actions-grid {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-template-areas: 'blue black';

    @include breakpoint(mobile) {
        grid-template-columns: repeat(1, minmax(0, 1fr));
        grid-template-areas: 'blue' 'black';
    }
}