.project-page__layout {
    display: flex;
    

    @include breakpoint(mobile) {
       
        flex-direction: column;
        padding-bottom: 2rem;
        // padding-top: 2rem;
    }
}


.project-page__layout-sidebar {
    width: 17rem;
    margin-right: 2rem;
    flex-shrink: 0;

    @include breakpoint(mobile) {
        width: 100%;
        margin: 0;
        flex-shrink: 1;
    }
}


.project-page__layout-main {
    width: 50%;
    flex-grow: 1;
    @include breakpoint(mobile) {
        width: 100%;
        flex-grow: 0;
    }
}


.project-page__back {
    font-size: 1.3rem;
    line-height: 120%;
    flex-shrink: 0;
    background-color: #EBF3FF;
    color: #000000;
    position: relative;
    padding: 0.5rem 1rem;
    border-top-right-radius: 0.3rem;
    border-bottom-right-radius: 0.3rem;
    align-self: flex-start;
    display: inline-flex;
    align-items: center;
    height: 3rem;
    transition: color 0.2s;
    white-space: nowrap;
    margin-left: 1rem;
    margin-top: 1rem;
    &::after {
        content: '';
        position: absolute;
        right: 100%;
        top: 0;
        height: 3rem;
        width: 1.2rem;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 11.14 29.17'%3E%3Cdefs%3E%3Cstyle%3E .cls-1 %7B fill: %23EBF3FF; %7D %3C/style%3E%3C/defs%3E%3Cpath class='cls-1' d='M4.05,2.1l-.43-.43A4.36,4.36,0,0,0,.64,0H0V29.17H.64c1.32,0,2.27-1,3.19-1.88L4,27.07,10.16,17a3.36,3.36,0,0,0,0-4.75Z' /%3E%3C/svg%3E");
        background-position: left center;
        background-size: auto 100%;
        background-repeat: no-repeat;
        margin-right: -1px;
        transform: scaleX(-1);
        @include breakpoint(mobile) {
            height: 2rem;
            width: 1rem;
        }
    }

    &:link,
    &:visited {
        color: #000000;
    }

    &:hover {
        color: var(--primary-color);
    }

    @include breakpoint(mobile) {
        font-size: 0.9rem;
        line-height: 120%;
        height: 2rem;
        padding: 0.3rem 0.8rem;
        padding-left: 0.3rem;
        margin: 0;
        margin-left: 1rem;
        margin-bottom: 1.5rem;
    }
}