.settings-nav {
    background: #E7F0FF;
}

.settings-nav__row {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 7.7rem;
    flex-wrap: wrap;

    @include breakpoint(mobile) {
        min-height: auto;
        padding: 1.8rem 0;
        
    }
}

.settings-nav__link {
    font-size: 1.4rem;
    color: #919191;
    line-height: 1.2;
    font-weight: bold;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    padding: 1rem 1.4rem;
    border-radius: .4rem;
    transition: color .2s, background-color .2s;
   
    &:last-child {
        margin-right: 0;
    }
    &:link,
    &:visited {
        color: #919191;
    }


    &.active {
        color: black;
        background-color: #fff;
    }

    &:not(.active):hover {
        color: black;
    }


    @include breakpoint(mobile) {
        padding: .8rem 1rem;
        font-size:1rem;
    }
}
