@import 'fontface';
@import 'vendor';
@import 'mixins';
@import 'global';
@import 'layout';
@import 'header';
@import 'footer';
@import 'intro';
@import 'populars';
@import 'filters';
@import 'sticky-nav';
@import 'franchise-catalog';
@import 'franchise-intro';
@import 'franchise-description';
@import 'franchise-about';
@import 'franchise-mosaic';
@import 'franchise-features';
@import 'franchise-components';
@import 'franchise-company';
@import 'franchise-geography';
@import 'franchise-finances';
@import 'franchise-profit';
@import 'franchise-contact';
@import 'franchise-reviews';
@import 'franchise-media';
@import 'franchise-video';
@import 'franchise-how-we-work';
@import 'franchise-faq';
@import 'franchise-founders';




// Blocks styles



